
.header_link{
    text-decoration: none;
}

.logo {
    height: 80px; // Increased logo height
    margin-left: 50px; // Increased left margin
    width: auto;
  }
  
  .navbar-nav .nav-link {
    font-size: 18px; // Increased font size for navbar links
  }
  
  .search-input {
    font-size: 16px; // Increased font size for search input
  }
  
  .search-button {
    background-color: #C89551; // Light brown background
    color: white; // White text color
    border: none; // Remove border
    padding: 10px 20px; // Button padding
    font-size: 16px; // Button font size
    cursor: pointer; // Pointer cursor

  }
  
  .search-button:hover {
    background-color: #C89551; // Darker brown on hover
  }
  
  .icon-nav .icon-user, .icon-nav .icon-buy {
    font-size: 24px; // Increased font size for icons
    cursor: pointer;
  }
  
  .icon-nav .icon-buy .number-buy {
    font-size: 16px; // Increased font size for cart number
  }
  
  .dropdown-content a {
    font-size: 18px; // Increased font size for dropdown content
  }
  
  .search-bar-container {
    width: 100%;
    background-color: #f8f9fa; // Background color of the search bar container
    padding: 10px 0;
  }
  
  .search-bar {
    width: 50%; // Adjust the width of the search bar
  }
  
    .icon-buy {
      color: black; // Màu mặc định là đen
      transition: color 0.3s ease; // Hiệu ứng chuyển đổi màu
    }
      .icon-buy:hover {
        color: #8B4513; // Màu khi di chuột qua là nâu
      }
    
  
    
  
  /* New styles for buttons with gradient background */
  .header-button {
    font-size: 18px; // Increased font size for buttons
    padding: 10px 20px; // Increased padding for buttons
    background: linear-gradient(45deg, #C89551, #fad0c4); // Gradient background
    border: none; // Remove border
    color: white; // White text color
    cursor: pointer; // Pointer cursor
    transition: background 0.3s ease; // Smooth transition for background
  }
  
  .header-button:hover {
    background: linear-gradient(45deg, #C89551, #ffd79a); // Gradient background on hover
  }
   /* New styles for buttons with gradient background */
   .header-button-register {
    font-size: 18px; // Increased font size for buttons
    padding: 10px 20px; // Increased padding for buttons
    background: linear-gradient(45deg, #C89551, #fad0c4); // Gradient background
    border: none; // Remove border
    color: white; // White text color
    cursor: pointer; // Pointer cursor
    transition: background 0.3s ease; // Smooth transition for background
  }
  
  .header-button:hover {
    background: linear-gradient(45deg, #fad0c4, #ff9a9e); // Gradient background on hover
  }

