<app-header></app-header>

<!-- content -->
<section class="py-5" style="margin-top: 150px;">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <!-- Large image on top -->
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" [href]="largeImageUrl">
            <img class="large-image rounded-4 fit" [src]="largeImageUrl" />
          </a>
        </div>

        <!-- 4 smaller images below (with scrollable overflow) -->
        <div class="d-flex justify-content-center mb-3" style="overflow-x: auto; white-space: nowrap;">
          <!-- Main image -->


          <!-- Additional images -->
          <div class="d-flex justify-content-center mb-3" style="overflow-x: auto; white-space: nowrap;">
            <!-- Main image -->


            <!-- Additional images -->
            <div *ngIf="productDetails.imageList?.length || productDetails.image" class="image-scroll-container">
              <div class="d-flex flex-nowrap">
                <!-- Main image -->
                <a data-fslightbox="mygallery" class="rounded-4 me-2 mb-2" target="_blank" data-type="image"
                  (click)="updateLargeImage(productDetails.image)"
                  [ngClass]="{'selected-image': largeImageUrl === productDetails.image}">
                  <img class="rounded-4 fit fixed-size stylish-border thumbnail-image" [src]="productDetails.image" />
                </a>

                <!-- Additional images -->
                <ng-container *ngFor="let image of productDetails.imageList">
                  <a data-fslightbox="mygallery" class="rounded-4 me-2 mb-2" target="_blank" data-type="image"
                    (click)="updateLargeImage(image.fullPath)"
                    [ngClass]="{'selected-image': largeImageUrl === image.fullPath}">
                    <img class="rounded-4 fit fixed-size stylish-border thumbnail-image" [src]="image.fullPath" />
                  </a>
                </ng-container>
              </div>
            </div>

          </div>

        </div>
      </aside>



      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark" style="font-size: 24px; text-align: center;">
            {{ productDetails?.productName }}
          

          </h4>
          <div class="mb-3">
            <span style="font-size: 16px;  font-weight: bold;">Giá Tiền: </span>
            <span style="font-size: 16px; " class="h5">{{ productDetails.price | number: '1.0-3' }} vnđ</span>
          </div>


          <div *ngIf="productDetails" class="row">

            <dt class="col-3">Màu sắc</dt>
            <dd class="col-9">Màu nâu</dd>
            <dt class="col-3">Loại sản phẩm:</dt>
            <dd class="col-9">{{ productDetails?.categories?.categoryName }}</dd>
            <dt class="col-3">Kích thước</dt>
            <dd class="col-9">4m2</dd>

          </div>

          <hr />

          <div class="row">
            <a style="margin-top: 50px;" class="col-md-12" href="https://zalo.me/2628068117103072011"
              class=" custom-background btn btn-warning shadow-0" target="_blank">Liên hệ người bán</a>
          </div>

        </div>
      </main>
    </div>
  </div>
</section>
<!-- content -->

<section class="bg-light border-top py-2">
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-7">
        <div class="border rounded-2 px-3 py-2 bg-white">
          <!-- Pills navs -->
          <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100 active custom-background"
                 id="ex1-tab-1" data-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1"
                 aria-selected="true" (click)="onTabClick('description')">Mô Tả</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100 custom-background"
                 id="ex1-tab-2" data-toggle="pill" href="#ex1-pills-2" role="tab" aria-controls="ex1-pills-2"
                 aria-selected="false" (click)="onTabClick('warranty')">Thông tin bảo hành</a>
            </li>
          </ul>
          <!-- Pills navs -->
      
          <!-- Pills content -->
          <div class="tab-content">
            <!-- Tab 1: Mô Tả -->
            <div id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
              <table class="table table-custom">
                <tr>
                  <td>
                    <textarea readonly class="form-control" rows="5">{{ productDetails.description }}</textarea>
                  </td>
                </tr>
              </table>
            </div>
      
            <!-- Tab 2: Thông tin bảo hành -->
            <div class="tab-pane fade" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
              <p>Sản phẩm được bảo hành 1 năm kể từ ngày mua.</p>
              <ul>
                <li>Đổi trả miễn phí trong vòng 30 ngày</li>
                <li>Hỗ trợ sửa chữa miễn phí trong 1 năm</li>
                <li>Bảo hành sản phẩm tận nơi</li>
              </ul>
            </div>
          </div>
          <!-- Pills content -->
        </div>
      </div>


      <div class="col-lg-5">
        <div class="px-0 border rounded-2 shadow-0">
          <div class="card-body">
            <h5 style="font-size: 20px; margin-bottom: 10px;" class="card-title">Sản phẩm tương tự</h5>
            <!-- Use ng-container to control the *ngIf -->
            <ng-container *ngFor="let cate of categoryProduct; let i = index">
              <div class="d-flex mb-3" *ngIf="i < 4">
                <a [routerLink]="['/product-details', cate.productId]" class="me-3">
                  <img [src]="cate.image" style="min-width: 150px; height: 110px;" class="img-md img-thumbnail" />
                </a>
                <div class="info">
                  <a [routerLink]="['/product-details', cate.productId]" class="nav-link mb-1">
                    {{ cate.productName }}
                  </a>
                  <strong class="text-dark"> {{ cate.price |  number: '1.0-3' }} VNĐ</strong>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
<div class="zalo-chat-widget" data-oaid="2628068117103072011" data-welcome-message="Rất vui khi được hỗ trợ bạn!"
  data-autopopup="0" data-width="" data-height=""></div>
<app-footer></app-footer>