<app-header></app-header>

<!-- content -->
<section class="py-5" style="margin-top: 150px;">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <!-- Large image on top -->
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" [href]="largeImageUrl">
            <img class="large-image rounded-4 fit" [src]="largeImageUrl" />
          </a>
        </div>

        <!-- 4 smaller images below (with scrollable overflow) -->
        <div class="d-flex justify-content-center mb-3" style="overflow-x: auto; white-space: nowrap;">
          <!-- Main image -->


          <!-- Additional images -->
          <div class="d-flex justify-content-center mb-3" style="overflow-x: auto; white-space: nowrap;">
            <!-- Main image -->


            <!-- Additional images -->
            <div *ngIf="productDetails.imageList?.length || productDetails.image" class="image-scroll-container">
              <div class="d-flex flex-nowrap">
                <!-- Main image -->
                <a data-fslightbox="mygallery" class="rounded-4 me-2 mb-2" target="_blank" data-type="image"
                  (click)="updateLargeImage(productDetails.image)"
                  [ngClass]="{'selected-image': largeImageUrl === productDetails.image}">
                  <img class="rounded-4 fit fixed-size stylish-border thumbnail-image" [src]="productDetails.image" />
                </a>

                <!-- Additional images -->
                <ng-container *ngFor="let image of productDetails.imageList">
                  <a data-fslightbox="mygallery" class="rounded-4 me-2 mb-2" target="_blank" data-type="image"
                    (click)="updateLargeImage(image.fullPath)"
                    [ngClass]="{'selected-image': largeImageUrl === image.fullPath}">
                    <img class="rounded-4 fit fixed-size stylish-border thumbnail-image" [src]="image.fullPath" />
                  </a>
                </ng-container>
              </div>
            </div>

          </div>

        </div>
      </aside>



      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark" style="font-size: 24px; text-align: center;">
            {{ productDetails?.productName }}


          </h4>
          <div class="mb-3">
            <span style="font-size: 16px;  font-weight: bold;">Giá Tiền: </span>
            <span style="font-size: 16px; " class="h5">{{ productDetails.price | number: '1.0-3' }} vnđ</span>
          </div>


          <div *ngIf="productDetails" class="row">
            <dt class="col-3">Loại sản phẩm:</dt>
            <dd class="col-9"><label for="">{{ productDetails?.categories?.categoryName }}</label></dd>
            <dt class="col-3">Loại gỗ sử dụng:</dt>
            <dd class="col-9">
              <label *ngIf="listWoodMaterial.length>0">
                <label *ngFor="let submaterial of listWoodMaterial">
                  {{submaterial}}<label *ngIf="submaterial!=listWoodMaterial[listWoodMaterial.length-1]">,&nbsp;</label>
                </label>
              </label>
              <label *ngIf="listWoodMaterial.length==0">
                Sản phẩm không có gỗ
              </label>
            </dd>
            <dt class="col-3">Màu sơn:</dt>
            <dd class="col-9">
              <label *ngIf="listPaintMaterial.length>0">
                <label *ngFor="let submaterial of listPaintMaterial">
                  {{submaterial}}<label *ngIf="submaterial!=listPaintMaterial[listPaintMaterial.length-1]">,&nbsp;</label>
                </label>
              </label>
              <label *ngIf="listPaintMaterial.length==0">
                Sản phẩm không có sơn
              </label>
            </dd>
            <dt class="col-3">Trạng thái</dt>
            <dd class="col-9"><label for="">{{productDetails.quantity?"Còn hàng":"Hết hàng"}}</label></dd>
          </div>


          <hr />

          <div class="d-flex justify-content-center mt-4">
            <a class="btn btn-warning shadow-0 custom-background mx-2"
               [routerLink]="['/product-details', productDetails.productId]"
               (click)="addToWishlist(productDetails.productId)">
              Thêm vào danh sách yêu thích <i class="fa-solid fa-heart"></i>
            </a>
            <a class="btn btn-warning shadow-0 custom-background mx-2"
               href="https://zalo.me/2628068117103072011"
               target="_blank">
              Liên hệ người bán sản phẩm
            </a>
          </div>



        </div>
      </main>
    </div>
  </div>
</section>
<!-- content -->

<section class="bg-light border-top py-2">
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-9">
        <div class="border rounded-2 px-3 py-2 bg-white">
          <!-- Pills navs -->
          <ul class="nav nav-pills nav-justified mb-3" id="product-details-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100 active custom-background"
                id="description-tab" data-toggle="pill" href="#description-content" role="tab"
                aria-controls="description-content" aria-selected="true">
                <span>Mô Tả</span>
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100 custom-background"
                id="warranty-tab" data-toggle="pill" href="#warranty-content" role="tab"
                aria-controls="warranty-content" aria-selected="false">
                <span>Thông tin bảo hành</span>
              </a>
            </li>
          </ul>
          <!-- Pills navs -->

          <!-- Pills content -->
          <div class="tab-content">
            <!-- Tab 1: Mô Tả -->
            <div class="tab-pane fade in show active" id="description-content" role="tabpanel"
              aria-labelledby="description-tab">
              <table class="table table-custom">
                <tr>
                  <td>
                    <textarea readonly class="form-control" rows="5">{{ productDetails.description }}</textarea>
                  </td>
                </tr>
              </table>
            </div>
            <!-- Tab 2: Thông tin bảo hành -->
            <div class="tab-pane fade" id="warranty-content" role="tabpanel" aria-labelledby="warranty-tab">
              <p>Sản phẩm được bảo hành 1 năm kể từ ngày mua.</p>
              <ul>
                <li>Đổi trả miễn phí trong vòng 30 ngày</li>
                <li>Hỗ trợ sửa chữa miễn phí trong 1 năm</li>
                <li>Bảo hành sản phẩm tận nơi</li>
              </ul>
            </div>
          </div>
          <!-- Pills content -->
        </div>
      </div>

      <div class="col-lg-3">
        <div class="px-0 border rounded-2 shadow-0">
          <div class="card-body">
            <h5 style="font-size: 20px; margin-bottom: 10px;" class="card-title">Sản phẩm tương tự</h5>
            <div class="product-list" style="max-height: 350px; overflow-y: auto;">
              <ng-container *ngFor="let cate of categoryProduct; let i = index">
                <div class="d-flex mb-3" *ngIf="i < 8">
                  <a [routerLink]="['/product-details', cate.productId]" class="me-3">
                    <div class="product-image-wrapper">
                      <img [src]="cate.image" class="product-image img-md img-thumbnail" />
                    </div>
                  </a>
                  <div class="info">
                    <a [routerLink]="['/product-details', cate.productId]" class="nav-link mb-1 product-name">
                      {{ cate.productName }}
                    </a>
                    <strong class="text-dark product-price">{{ cate.price | number: '1.0-3' }} VNĐ</strong>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="zalo-chat-widget" data-oaid="2628068117103072011" data-welcome-message="Rất vui khi được hỗ trợ bạn!"
  data-autopopup="0" data-width="" data-height=""></div>
<app-footer></app-footer>
<div *ngIf="isLoadding" class="loading-overlay">
  <div class="spinner"></div>
</div>