<app-header></app-header>

<!-- content -->
<section class="py-5" style="margin-top: 150px;">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <!-- Large image on top -->
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" [href]="largeImageUrl">
            <img class="large-image rounded-4 fit" [src]="largeImageUrl" />
          </a>
        </div>

        <!-- 4 smaller images below (with scrollable overflow) -->
        <div class="d-flex justify-content-center mb-3" style="overflow-x: auto; white-space: nowrap;">
          <!-- Main image -->


          <!-- Additional images -->
          <div class="d-flex justify-content-center mb-3" style="overflow-x: auto; white-space: nowrap;">
            <!-- Main image -->


            <!-- Additional images -->
            <div *ngIf="productDetails.imageList?.length || productDetails.image" class="image-scroll-container" style="cursor: pointer;">
              <div class="d-flex flex-nowrap">
                <!-- Main image -->
                <a data-fslightbox="mygallery" class="rounded-4 me-2 mb-2" target="_blank" data-type="image"
                  (click)="updateLargeImage(productDetails.image)"
                  [ngClass]="{'selected-image': largeImageUrl === productDetails.image}">
                  <img class="rounded-4 fit fixed-size stylish-border thumbnail-image" [src]="productDetails.image" />
                </a>

                <!-- Additional images -->
                <ng-container *ngFor="let image of productDetails.imageList">
                  <a data-fslightbox="mygallery" class="rounded-4 me-2 mb-2" target="_blank" data-type="image"
                    (click)="updateLargeImage(image.fullPath)"
                    [ngClass]="{'selected-image': largeImageUrl === image.fullPath}">
                    <img class="rounded-4 fit fixed-size stylish-border thumbnail-image" [src]="image.fullPath" />
                  </a>
                </ng-container>
              </div>
            </div>

          </div>

        </div>
      </aside>



      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark" style="font-size: 24px; text-align: center;">
            {{ productDetails?.productName }}


          </h4>


          <div *ngIf="productDetails" class="row">
            <dt class="col-3">Giá Tiền:</dt>
            <dd class="col-9"><label for="">{{ productDetails.price | number: '1.0-3' }} vnđ</label></dd>
            <dt class="col-3">Loại sản phẩm:</dt>
            <dd class="col-9"><label for="">{{ productDetails?.categories?.categoryName }}</label></dd>
            <dt class="col-3">Loại gỗ sử dụng:</dt>
            <dd class="col-9">
              <label *ngIf="listWoodMaterial.length>0">
                <label *ngFor="let submaterial of listWoodMaterial">
                  {{submaterial}}<label *ngIf="submaterial!=listWoodMaterial[listWoodMaterial.length-1]">,&nbsp;</label>
                </label>
              </label>
              <label *ngIf="listWoodMaterial.length==0">
                Sản phẩm không có gỗ
              </label>
            </dd>
            <dt class="col-3">Màu sơn:</dt>
            <dd class="col-9">
              <label *ngIf="listPaintMaterial.length>0">
                <label *ngFor="let submaterial of listPaintMaterial">
                  {{submaterial}}<label
                    *ngIf="submaterial!=listPaintMaterial[listPaintMaterial.length-1]">,&nbsp;</label>
                </label>
              </label>
              <label *ngIf="listPaintMaterial.length==0">
                Sản phẩm không có sơn
              </label>
            </dd>
            <dt class="col-3">Trạng thái</dt>
            <dd class="col-9"><label for="">{{productDetails.quantity?"Còn hàng":"Hết hàng"}}</label></dd>
          </div>


          <hr />

          <div class="d-flex justify-content-center mt-4 flex-column flex-md-row">
            <a class="btn btn-warning shadow-0 custom-background mx-2 mb-2 mb-md-0"
              [routerLink]="['/product-details', productDetails.productId]"
              (click)="addToWishlist(productDetails.productId)">
              <i class="fa-solid fa-heart me-2"></i>Thêm vào danh sách yêu thích
            </a>
            <a class="btn btn-warning shadow-0 custom-background mx-2 mb-2 mb-md-0"
              href="https://zalo.me/2628068117103072011" target="_blank">
              <i class="fa-brands fa-whatsapp me-2"></i>Liên hệ người bán sản phẩm
            </a>
          </div>


        </div>
      </main>
    </div>
  </div>
</section>
<!-- content -->

<section class="bg-light border-top py-2">
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-6" style="max-height: 350px">
        <div class="border rounded-2 px-3 py-2 bg-white">
          <!-- Pills navs -->
          <h5 style="font-size: 20px; padding-bottom: 1px;" class="card-title"><b>Mô tả thông tin sản phẩm</b></h5>
          <!-- Pills navs -->

          <!-- Pills content -->
          <div class="tab-content">
            <!-- Tab 1: Mô Tả -->
            <div class="tab-pane fade in show active" id="description-content" role="tabpanel"
              aria-labelledby="description-tab">
              <table class="table table-custom">
                <tr>
                  <td>
                    <textarea readonly class="form-control" rows="8">{{ productDetails.description }}</textarea>
                  </td>
                </tr>
              </table>
            </div>

          </div>
          <!-- Pills content -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="px-0 border rounded-2 shadow-0">
          <div class="card-body">
            <h5 style="font-size: 20px; margin-bottom: 40px;" class="card-title"><b>Sản phẩm tương tự</b></h5>
            <div class="product-list d-flex flex-row flex-nowrap overflow-auto" style="margin-bottom: 10px;">
              <ng-container *ngFor="let cate of categoryProduct; let i = index">
                <div class="d-flex me-3">
                  <a [routerLink]="['/product-details', cate.productId]" class="me-3">
                    <div class="product-image-wrapper">
                      <img [src]="cate.image" class="product-image img-md img-thumbnail" />
                    </div>
                  </a>
                  <div class="info">
                    <a [routerLink]="['/product-details', cate.productId]" class="nav-link mb-1 product-name">
                      <b>{{ cate.productName }}</b>
                    </a>
                    <strong class="text-dark product-price">{{ cate.price | number: '1.0-3' }} VNĐ</strong>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</section>
<div class="zalo-chat-widget" data-oaid="2628068117103072011" data-welcome-message="Rất vui khi được hỗ trợ bạn!"
  data-autopopup="0" data-width="" data-height=""></div>
<app-footer></app-footer>
<div *ngIf="isLoadding" class="loading-overlay">
  <div class="spinner"></div>
</div>