
  body {
    background: #007bff;
    width: 2000px;
  }
  .card {
    background: white; /* Card background color */
    border: 1px solid #ddd; /* Card border */
    border-radius: 8px; /* Rounded corners for the card */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Card shadow */
  }
  
  .btn {
    padding: 10px;
    border: none;
  }
  
  .btn-mau-do {
    background: #cc4949; /* Red button color */
    color: white;
  }
  
  .btn-primary {
    padding: 10px;
    background-color: #20ec4d; /* Green button color */
    border-color: #20ec4d;
  }
  
  .form-group label {
    font-size: 14px;
  }
  .header-bg {
    background-color: #007bff; /* Màu sắc nền header */
    padding: 20px 0; /* Khoảng cách lề trên và dưới */

  }

  .input-with-icon {
    position: relative;
  }

  .input-with-icon input[type="text"] {
    padding-right: 30px;
  }

  .input-with-icon .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .input-with-icon .icon:hover {
    color: #007bff; /* Màu khi hover */
  }

  /* Ẩn input file mặc định */
  #uploadInput {
    display: none;
  }

  .btn {
    padding: 10px;
    border: none;
  }

  .btn-mau-do {
    background: #cc4949; /* Màu đỏ */
    color: white;
  }

  .bg-primary {
    background-color: #20ec4d !important; /* Màu nền primary */
    padding: 10px;
  }

  .btn-primary {
    padding: 10px;
    background-color: #20ec4d; /* Màu nút primary */
    border-color: #20ec4d;
  }

  /* Màu sắc khác có thể thêm vào theo yêu cầu */

  .form-group label{
  font-size: 14px;
}