<app-dashboard></app-dashboard>

<div class="dashboard-main">
  <div class="container-fluid">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">

          <div class="row" style="height: 60px;">
            <div class="col-sm-4">
              <h2>Quản lý vật liệu</h2>
            </div>
            <div class="col-sm-5 text-end d-flex align-items-center justify-content-end">
              <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#addProductModal">
                <i class="material-icons">&#xE147;</i> <span>Thêm vật liệu</span>
              </a>
              <a href="#" class="btn btn-secondary" (click)="dowloadExcelLink($event)">
                <span>Xuất Excel</span> <i style="margin-left: 5px;" class="fa-solid fa-file-excel"></i>
              </a>

            </div>
            <div class="col-md-3">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input custom-file-input-custom" id="inputGroupFile"
                    (change)="onFileSelectedAndUpload($event)">
                  <label class="custom-file-label custom-file-label-custom" for="inputGroupFile"
                    [innerHTML]="selectedFile ? selectedFile.name : 'Tải biểu mẫu ...'"></label>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">

          </table>
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="input-group mb-3">
                <!-- Chọn product thường hay product request -->
                <select [(ngModel)]="selectedMaterial" (change)="searchSelectedMaterial(selectedMaterial)"
                  class="form-select">
                  <option [ngValue]="null" selected>Tất cả vật liệu</option>
                  <option *ngFor="let category of categories" [ngValue]="category.materialId">
                    {{ category.materialName }}
                  </option>
                </select>

                <!-- Tìm kiếm tên sản phẩm -->
                <ng-autocomplete style="width: 50%; margin-left: 10px;" *ngIf="subMaterialAutoComp"
                  [data]="subMaterialAutoComp" [searchKeyword]="keyword" placeholder="Nhập tên nguyên vật liệu"
                  historyIdentifier="subMaterialAutoComp" [(ngModel)]="searchKey" [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate" (selected)="selectProduct($event)">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="sanitize(item.subMaterialName)"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div>Không tìm thấy vật liệu!</div>
                </ng-template>

                <button class="btn search-button ms-2" type="button" (click)="searchSubMaterial()">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>

        </div>

        <div *ngIf="!checkNotFound">
          <table class="table table-striped table-hover">
            <thead>
              <tr style="text-align: center;">
                <th>STT</th>
                <th>Thao tác</th>
                <th style="width: 13%;">Tên vật liệu</th>
                <th style="width: 8%;">Kiểu vật liệu</th>
                <th>Mô tả vật liệu</th>
                <th style="width: 8% ;">Số lượng</th>
                <th style="width: 8% ;">Đơn vị</th>
                <th style="width: 10%;">Giá bán (vnđ)</th>
                <th style="width: 10%;">Giá nhập (vnd)</th>
                
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="let product of subMaterials | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">
                <td>{{ i + 1 + (currentPage - 1) * 10 }}</td>
                <td style="text-align: center;" class="action-buttons">
                  <a href="#" class="settings" title="Edit" data-toggle="modal" data-target="#editSubMaterialModal"
                    (click)="loadSubMaterialDetails(product.subMaterialId)">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                </td>
                <td>{{ product.subMaterialName }}</td>
                <td>{{ product.materialName }}</td>
                <td style="text-align: center;">{{ product.description }}</td>
                <td style="text-align: right;">{{ product.quantity }}</td>
                <td style="text-align: right;">{{ product.type }}</td>
                <td style="text-align: right;">{{ product.unitPrice | number: '1.0-3'}}</td>
                <td style="text-align: right;">{{ product.inputPrice | number: '1.0-3'}}</td>
              </tr>
            </tbody>
          </table>

          <!-- Pagination controls -->
          <pagination-controls style="justify-content: right; display: flex;" (pageChange)="currentPage = $event"
            previousLabel="Trang trước" nextLabel="Trang sau">
          </pagination-controls>

          <!-- Display data information -->
          <div class="clearfix" style="justify-content: right; display: flex;">
            <div class="hint-text">Hiển thị <b>{{ (currentPage - 1) * 10 + 1 }}</b> tới <b>{{ currentPage * 10
                > subMaterials.length ? subMaterials.length : currentPage * 10 }}</b> trong số <b>{{ subMaterials.length
                }}</b> dữ liệu</div>
          </div>
        </div>

        <!-- Display no data message -->
        <div *ngIf="checkNotFound">
          <div style="background-color: white;">
            <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
              <img
                src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSG53pYn6cpXaiwT_q6IM45P-rXg5dUw67XqRmr9-vtsbMoHnCG"
                alt="Not Found" style="width: 150px; height: 150px; object-fit: cover;">
              <p class="text-center">Không tìm thấy nguyên vật liệu!</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>



  <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-center" id="addProductModalLabel">Thêm nguyên vật liệu</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="productName">Tên nguyên vật liệu</label>
              <input type="text" class="form-control" id="productName" placeholder="Nhập tên nguyên vật liệu"
                [(ngModel)]="sub_material_name" name="sub_material_name">
            </div>

            <div class="form-group">
              <label for="productCategory">Kiểu vật liệu</label>
              <select class="form-control" name="selectedMaterial" [(ngModel)]="selectedMaterial" id="productCategory">
                <option [ngValue]="null" disabled selected>Chọn kiểu vật liệu</option>
                <option *ngFor="let category of categories" [ngValue]="category?.materialName">{{ category?.materialName
                  }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="productQuantity">Mô tả</label>
              <input type="text" class="form-control" id="productQuantity" placeholder="Nhập mô tả nguyên vật liệu"
                [(ngModel)]="description" name="description">
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="productPrice">Số lượng</label>
                  <input type="number" class="form-control" id="productPrice" placeholder="Nhập số lượng "
                    [(ngModel)]="quantity" name="quantity">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="productImage">Giá nhập</label>
                  <input type="number" class="form-control" id="productPrice" placeholder="Nhập giá nhập"
                    [(ngModel)]="input_price" name="input_price">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="productImage">Giá bán</label>
                  <input type="number" class="form-control" id="productPrice" placeholder="Nhập giá bán"
                    [(ngModel)]="unit_price" name="unit_price">
                </div>
              </div>
            </div>


          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

          <button type="submit" (click)="addSubMaterial()" class="btn btn-primary">Lưu thay đổi</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal for Editing Product -->
  <div class="modal fade" id="editSubMaterialModal" tabindex="-1" role="dialog"
    aria-labelledby="editSubMaterialModalLabel" aria-hidden="true" style="margin-top: 10%;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="editSubMaterialModal">Chỉnh sửa nguyên vật liệu</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm">
            <div class="form-group">
              <label for="editProductName">Tên nguyên vật liệu</label>
              <input type="text" class="form-control" id="editProductName" formControlName="subMaterialName">
            </div>
            <div class="form-group">
              <label for="editProductDescription">Mô tả</label>
              <textarea class="form-control" id="editProductDescription" formControlName="description"></textarea>
            </div>
            <div>
              <div class="form-group">
                <label for="editProductCategory">Kiểu nguyên vật liệu</label>
                <input type="text" class="form-control" formControlName="materialName" id="editProductCategory"
                  readonly>

              </div>
            </div>
            <div class="row">
              <div class="col-md-6">

                <div class="form-group">
                  <label for="editProductQuantity">Số lượng</label>
                  <input type="number" class="form-control" formControlName="quantity" id="editProductQuantity">
                </div>

              </div>
              <div class="col-md-6">

                <div class="form-group">
                  <label for="editProductPrice">Giá bán (vnđ)</label>
                  <input type="number" class="form-control" formControlName="unitPrice" id="editProductPrice">
                </div>
              </div>

            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="saveChanges()">Lưu thay đổi</button>
        </div>

      </div>
    </div>
  </div>
  <div *ngIf="isLoadding" class="loading-overlay">
    <div class="spinner"></div>
  </div>