<app-dashboard-employee></app-dashboard-employee>

<div class="dashboard-main">

  <div class="container-fluid">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row " style="height: 60px;">
            <div class="col-sm-5 ">
              <h2 style="margin-bottom: 0;"> Tra cứu lương</h2>
            </div>
            <div class="col-sm-7 text-end d-flex align-items-center justify-content-end">
              <!-- <a href="#" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#addAccountModal"
                  style="font-size: 14px;">
                  <i class="material-icons align-middle" style="font-size: 18px;">&#xE147;</i>
                  <span class="align-middle">Thêm Người Dùng</span>
                </a> -->
            </div>
          </div>

          <div class="row">
            <div class="col-md-1"></div> <!-- Dummy column to push the search box to the right -->
            <div class="col-md-11 text-end">
              <div class="input-group mb-3">
                <label>Từ: </label>
                <input [(ngModel)]="selectedSDate" style="margin-left: 10px;" type="date" class="form-control"
                  placeholder="Đến: dd/mm/yyyy">

                <label>Đến: </label>
                <input [(ngModel)]="selectedEDate" style="margin-left: 10px;" type="date" class="form-control"
                  placeholder="Đến: dd/mm/yyyy">

                  <select [(ngModel)]="selectPayment">
                    <option value="-1" selected>Tất cả phương thức thanh toán</option>
                    <option [ngValue]="1">Đã thanh toán</option>
                    <option [ngValue]="0">Chưa thanh toán</option>
                  </select>
                <input type="text" class="form-control" placeholder="Mã lương"  [(ngModel)]="searchKey">
                <button class="btn search-button" type="button" (click)="MultifilterSalaryEmployee()">
                  <i class="fa fa-search"></i>
                </button>


              </div>
            </div>
          </div>
        </div>
        <div class="table-container">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Mã lương</th>
                  <!-- <th>Thao tác</th> -->
                  <th>Ngày hoàn thành</th>
                  <th>Vị trí công việc</th>
                  <th>Thanh toán</th>

                  <th>Tiền lương(VNĐ)</th>

                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let job of salary_employee | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">
                  <td>{{ i + 1 + (currentPage - 1) * 10 }}</td>
                  <td>{{ job.code }}</td>

                  <!--   
                    <td class="action-buttons">
                      <a href="#" class="settings" title="Chỉnh sửa" data-toggle="modal" data-target="#editAccountModal"
                        >
                        <i class="fa-solid fa-pen-to-square"></i>
                      </a>
                      <a href="#" class="delete" title="Delete" data-toggle="modal" data-target="#confirmDeleteModal">
                        
                        <i class="fa-regular fa-trash-can"></i>
                      </a>
                      <a href="#" class="info" title="Info" data-toggle="modal" data-target="#productDetailModal">
                        <i class="fa-solid fa-circle-info"></i>
                      </a>
                    </td> -->


                  <td style="min-width: 100px;">{{ job.date | date:'dd/MM/yyyy'}} </td>
                  <td style="min-width: 150px;">{{ job.user.position.position_name }}</td>
                  <td style="min-width: 150px;">
                    {{ job.advanceSuccess ? 'Đã thanh toán' : 'Chưa thanh toán' }}
                  </td>
                  <td style="min-width: 150px; text-align: right;">
                    {{job.amount | number: '1.0-3'}}
                  </td>


                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <pagination-controls style="justify-content: right; display: flex;" (pageChange)="currentPage = $event"
        previousLabel="Trang trước" nextLabel="Trang sau" *ngIf="salary_employee && salary_employee.length > 0">
      </pagination-controls>
      <div class="clearfix" style="justify-content: right; display: flex;"
        *ngIf="salary_employee && salary_employee.length > 0">
        <div class="hint-text">Hiển thị <b>{{ (currentPage - 1) * 10 + 1 }}</b> tới <b>{{ currentPage * 10 >
            salary_employee.length ? salary_employee.length : currentPage * 10 }}</b> trong tổng <b>{{
            salary_employee.length }}</b> dữ liệu</div>
      </div>

      <div *ngIf="!salary_employee || salary_employee.length === 0">

        <div style="background-color: white;">
          <div class="" style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSG53pYn6cpXaiwT_q6IM45P-rXg5dUw67XqRmr9-vtsbMoHnCG"
              alt="" class="product-img" style="width: 150px; height: 150px; object-fit: cover;">
            <p class="name-product text-center">Không tìm thấy lương!</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoadding" class="loading-overlay">
  <div class="spinner"></div>
</div>