.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }
  .custom-border {
    border: 2px solid black;
    padding: 3px;
  }
  .row dt {
    font-weight: bold;
}
.row dd {
    margin-bottom: 1rem; /* Add some spacing between items */
}