.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }
  .custom-border {
    border: 2px solid black;
    padding: 3px;
  }
  .row dt {
    font-weight: bold;
font-size: 16px;
}
.row dd {
  margin-top: 9px;
  font-size: 13px;
    margin-bottom: 4rem; /* Add some spacing between items */
}

.image-container {
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.image-container img {
  border-radius: 0.5rem;
  width: 100px;
  height: 100px;
}