.icon-hover:hover {
    border-color: #C89551 !important;
    background-color: white !important;
    color: #C89551 !important;
  }
  .form-container {
    max-width: 500px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
  }
  
  .large-image {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  .fixed-size {
    width: 100px; /* Set your desired fixed width */
    height: 100px; /* Set your desired fixed height */
    object-fit: cover; /* Ensures the images maintain their aspect ratio while fitting the specified dimensions */
    margin: 15px; /* Margin for spacing between images */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  }
  
  .stylish-border {
    border: 2px solid #fff; /* White border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .stylish-border:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  }
  
  .selected-image {
    border: 1px solid #007bff; /* Blue border for selected image */
  }
  .icon-hover:hover i {
    color: #C89551 !important;
  }
  .custom-border {
    border: 2px solid black;
    padding: 3px;
  }
  .row dt {
    font-weight: bold;
font-size: 16px;
}
.row dd {
  margin-top: 9px;
  font-size: 13px;
    margin-bottom: 4rem; /* Add some spacing between items */
}

.image-container {
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.image-container img {
  border-radius: 0.5rem;
  width: 100px;
  height: 100px;
}
.custom-background {
  background-color: #C89551 !important; /* Màu nền */
  color: white; /* Đổi màu chữ nếu cần */
}
