<app-header></app-header>

<div class="dashboard-main" style="margin-top: 150px;">
  <div class="container-fluid">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row " style="height: 60px;">
            <div class="col-sm-5 ">
              <h2 style="margin-bottom: 0;">Lịch sử đơn đặt hàng</h2>
            </div>
            <div class="col-sm-7 text-end d-flex align-items-center justify-content-end">

            </div>
          </div>

          <div class="row">
            <div class="col-md-7">
              <div class="input-group mb-3">
                <!-- product.component.html -->
                <label>Từ: </label>
                <input style="margin-left: 10px;" type="date" class="form-control" placeholder="Đến: dd/mm/yyyy">

                <label>Đến: </label>
                <input style="margin-left: 10px;" type="date" class="form-control" placeholder="Đến: dd/mm/yyyy">
              </div>
            </div>
            <div class="col-md-5 text-end">
              <div class="input-group mb-3">
                <!-- product.component.html -->
                <select>
                  <option value="null" disabled selected>Tình Trạng Đơn Hàng</option>
                  <option></option>
                </select>

                <input type="text" class="form-control" placeholder="(Mã đơn hàng, Tên)">
                <button class="btn search-button" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-container">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>

                  <th style="width: 200px;">Mã đơn</th>
                  <th style="width: 200px;">Thao tác</th>
                  <th>Ngày hoàn thành</th>
                  <th>Tình trạng</th>
                  <th style="width: 200px;">Kiểu thanh toán</th>
                  <th style="width: 200px;">Tổng tiền(vnd)</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let hs of history_order | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">

                  <td>{{ hs?.code }}</td>
                  <td class="action-buttons">
                    <!-- <a href="#" class="delete" title="Delete" data-toggle="modal" data-target="#confirmDeleteModal">
                      <i class="fa-regular fa-trash-can"></i>
                    </a> -->
                    <a href="#" class="info" title="Xem chi tiết" data-toggle="modal" data-target="#productDetailModal" (click)="historyOrderDetail(hs.orderId)">
                      <i class="fa-solid fa-ellipsis-vertical"></i>
                    </a>
                  </td>
                  <td>{{ hs?.orderDate | date:'dd/MM/yyyy' }}</td>
                  <td>{{ hs?.status.status_name}}</td>
                  <td
                    [ngStyle]="{'color': hs?.paymentMethod === 1 ? 'green' : (hs?.paymentMethod === 0 ? 'red' : 'black')}">
                    {{ hs?.paymentMethod === 1 ? 'Chuyển khoản' : (hs?.paymentMethod === 0 ? 'Tiền mặt' : '') }}
                  </td>
                  <td>{{ hs?.totalAmount | number : '1.0-3' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <pagination-controls style="justify-content: right; display: flex;" (pageChange)="currentPage = $event"
          previousLabel="Trang trước" nextLabel="Trang sau">
        </pagination-controls>
       


      </div>
    </div>
  </div>
</div >
<!-- Modal for Product Detail -->



<div class="modal fade" id="productDetailModal" role="dialog" aria-labelledby="detailJobModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="productDetailModal">Thông tin lịch sử đơn hàng</h2>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <div class="container">
          <div class="card order-detail-card">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-md-6">
                  <section class="customer-info mb-4">
                    <h5 style="text-align: center;">Thông tin sản phẩm</h5>
                    <div class="row">
                      <div class="col-md-6">
                        <p>
                          <strong>Tên sản phẩm:</strong>
                          {{ orderData?.product_name }}
                        </p>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p>
                          <strong>Số lượng sản phẩm:</strong>
                          {{ orderData?.quantity }}
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p>
                          <strong>Giá sản phẩm:</strong>
                          {{ orderData?.price }}
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p>
                          <strong>Tổng số tiền:</strong>
                          {{ orderData?.totalAmount }}
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p>
                          <strong>Phương thức thanh toán:</strong>
                         
                          {{ orderData?.paymentMethod === 1 ? 'Chuyển khoản' : (orderData?.paymentMethod === 0 ? 'Tiền mặt' : '') }}
                        </p>
                      </div>
                    </div>
                  </section>
                </div>

                <div class="col-md-6">
                  <section class="order-summary mb-4">
                    <h5 style="text-align: center;">Thông tin đơn hàng</h5>
                    <div class="row">
                      <div class="col-md-6">
                        <p>
                          <strong>Mã đơn hàng:</strong>
                          {{ orderData?.code }}
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p>
                          <strong>Trạng thái đơn hàng:</strong>
                          {{ orderData?.status?.status_name }}
                        </p>
                      </div>
                    </div>

                  
              
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>