<app-dashboard></app-dashboard>

<div class="dashboard-main">
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row" style="height: 60px;">
                        <div class="col-sm-5">
                            <h2>Quản lý phân phối vật liệu</h2>
                        </div>
                        <div class="col-sm-7 text-end d-flex align-items-center justify-content-end">
                            <!-- <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#addProductModal">
                                <i class="material-icons">&#xE147;</i> <span>Thêm Sản Phẩm</span>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <span style="margin-right: 5px;">Nhập/Xuất Excel </span> <i
                                    class="fa-solid fa-file-excel"></i>
                            </a> -->

                        </div>

                    </div>
                    <table class="table table-striped table-hover">
                    </table>
                    <div class="row">
                        
                        <div class="row justify-content-end">
                            <div class="col-auto">
                              <div class="input-group mb-3">
                                <div class="ng-autocomplete" style="width: 300px; margin-left: 5px;">
                                    <ng-autocomplete *ngIf="employeeInfoList" [data]="employeeInfoList"
                                                     [searchKeyword]="keyword" placeholder="Nhập tên nhân viên tìm kiếm"
                                                     [(ngModel)]="searchKey" historyIdentifier="employeeInfoList"
                                                     [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                                     >
                                    </ng-autocomplete>
                                  
                                    <ng-template #itemTemplate let-item>
                                      <a [innerHTML]="sanitize(item.fullname)"></a>
                                    </ng-template>
                                  
                                    <ng-template #notFoundTemplate let-notFound>
                                      <div>Không tìm thấy nhân viên hợp lệ!</div>
                                    </ng-template>
                                  </div>
                                  <button class="btn search-button ms-2" type="button" (click)="searchSalary()">
                                    <i class="fa fa-search"></i>
                                  </button> 
                              </div>
                            </div>
                          </div>
                          

                    </div>

                </div>



                <div *ngIf="subMaterialList.length !== 0">
                    <table class="table table-striped table-hover">
                        <!-- Table header -->
                        <thead>
                            <tr>
                                <th>STT</th>
                                <!-- <th>Thao tác</th> -->
                                <th>Mã sản xuất</th>
                                <th>Tên nhân viên</th>               
                                <th>Vị trí</th>
                                <th>Tên nguyên vật liệu</th>
                                <th style="width: 9%;">Số lượng</th>
                                <th style="width: 15%;">Ngày nhận</th>
                            </tr>
                        </thead>
                        <!-- Table body -->
                        <tbody>
                            <tr
                                *ngFor="let product of subMaterialList | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">
                                <td>{{ i + 1 + (currentPage - 1) * 10 }}</td>
                               
                                <td>{{ product?.code }}</td>
                                <td>{{ product?.fullname }}</td>
                                <td>{{ product?.position_name }}</td>
                                <td>{{ product?.subMaterialName }}</td>
                                <td style="text-align: right;">{{ product?.quantity }}</td>
                                <td>{{ product?.timeStart | date:'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <!-- Pagination controls -->
                    <pagination-controls style="justify-content: right; display: flex;"
                        (pageChange)="currentPage = $event" previousLabel="Trang trước" nextLabel="Trang sau"
                        >
                    </pagination-controls>

                    <!-- Display data information -->
                    <div class="clearfix" style="justify-content: right; display: flex;">
                        <div class="hint-text">
                            Hiển thị <b>{{ (currentPage - 1) * 10 + 1 }}</b> tới <b>{{ currentPage * 10 >
                                subMaterialList.length ? subMaterialList.length : currentPage * 10 }}</b> trong tổng
                            <b>{{ subMaterialList.length }}</b> dữ liệu
                        </div>
                    </div>
                </div>
           
                <!-- Display 404 Not Found if no data -->
                <div *ngIf="!subMaterialList || subMaterialList.length === 0">

                    <div style="background-color: white;">
                        <div class=""
                            style="display: flex; justify-content: center; align-items: center; height: 100%;">
                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSG53pYn6cpXaiwT_q6IM45P-rXg5dUw67XqRmr9-vtsbMoHnCG"
                                alt="" class="product-img" style="width: 150px; height: 150px; object-fit: cover;">
                            <p class="name-product text-center">Không tìm thấy lịch sử phân phối vật liệu!</p>
                        </div>
                    </div>
                </div>

                <!-- Modal for Editing Product -->
                <div class="modal fade" style="color: black; margin-top: -5%;" id="detailEmpSubMaterial" tabindex="-1"
                    role="dialog" aria-labelledby="detailEmpSubMaterialLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="detailEmpSubMaterial">Chi tiết phân phối vật liệu</h2>
                                <button type="button" class="btn-close" data-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body p-4" style="font-size: 16px;">
                                <!-- Thông tin nhân viên -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <strong>Nhân viên:</strong>
                                        </div>
                                        <div class="col-md-8">
                                            {{ selectedDetail?.username }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <strong>Email:</strong>
                                        </div>
                                        <div class="col-md-8">
                                            {{ selectedDetail?.employee.email }}
                                        </div>

                                    </div>

                                    <div class="row mb-3">

                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <strong>Chức vụ:</strong>
                                            </div>
                                            <div class="col-md-8">
                                                {{ selectedDetail?.position_name }}

                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <strong>Ngày vào làm:</strong>
                                            </div>
                                            <div class="col-md-8">
                                                {{ selectedDetail?.employee.hireDate }}
                                            </div>


                                        </div>
                                    </div>

                                    <hr>
                                    <!-- Thông tin sản phẩm -->
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <strong>Sản phẩm:</strong>
                                            </div>
                                            <div class="col-md-8">
                                                {{ selectedDetail?.productSubMaterial.product.productName }}

                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <strong>Mô tả:</strong>
                                            </div>
                                            <div class="col-md-8">
                                                {{ selectedDetail?.productSubMaterial.product.description }}

                                            </div>

                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <strong>Số lượng:</strong>

                                            </div>
                                            <div class="col-md-8">
                                                {{ selectedDetail?.productSubMaterial.quantity }}

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <strong>Giá:</strong>
                                            </div>
                                            <div class="col-md-8">
                                                {{ selectedDetail?.productSubMaterial.product.price | number: '1.0-3' }}

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Danh sách nguyên liệu -->
                                <hr>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 20%;">Mã vật liệu</th>
                                            <th>Tên nguyên liệu</th>
                                            <th>Mô tả</th>
                                            <th>Số lượng</th>
                                            <th>Đơn giá (vnđ)</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <td>{{ selectedDetail?.productSubMaterial?.subMaterial?.code}}</td>
                                        <td>{{ selectedDetail?.productSubMaterial?.subMaterial?.subMaterialName}}
                                        </td>
                                        <td>{{ selectedDetail?.productSubMaterial?.subMaterial?.description}}</td>
                                        <td>{{ selectedDetail?.productSubMaterial?.subMaterial?.quantity}}</td>
                                        <td>{{ selectedDetail?.productSubMaterial?.subMaterial?.unitPrice | number:
                                            '1.0-3'}}</td>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <!-- <button type="submit" class="btn btn-primary">Lưu thay đổi</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLoadding" class="loading-overlay">
    <div class="spinner"></div>
</div>