<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="product_name">Product Name:</label>
    <input id="product_name" formControlName="product_name">
  </div>

  <div>
    <label for="description">Description:</label>
    <input id="description" formControlName="description">
  </div>

  <div>
    <label for="price">Price:</label>
    <input id="price" formControlName="price" type="number">
  </div>


  <div>
    <label for="category_id">Category ID:</label>
    <input id="category_id" formControlName="category_id" type="number">
  </div>

  <div>
    <label for="type">Type:</label>
    <input id="type" formControlName="type" type="number">
  </div>

  <div>
    <label for="file_thumbnail">Thumbnail:</label>
    <input id="file_thumbnail" type="file" (change)="onThumbnailSelected($event)">
  </div>

  <div>
    <label for="files">Images:</label>
    <input id="files" type="file" multiple (change)="onImagesSelected($event)">
  </div>

  <button type="submit">Submit</button>
</form>
