<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang đăng nhập</title>
  <style>
    /* Thêm CSS ở đây */ 
  </style>
</head>
<body>
  <div class="wrapper">
    <form >
      <h2>Đăng nhập</h2>
      <div class="input-field">
        <input type="text" name="username" [(ngModel)]="loginObj.username" required>
        <label>Tên đăng nhập</label>
      </div>
      <div class="input-field">
        <input type="password" name="password"[(ngModel)]="loginObj.password"  required>
        <label>Mật khẩu</label>
      </div>
      <div class="forget">
        <label for="remember">
          <!-- <input type="checkbox" id="remember"> -->
          <!-- <p>Ghi nhớ tôi</p> -->
        </label>
        <a routerLink="/verifyMail">Quên mật khẩu?</a>
      </div>
      <button  (click)="onLogin()">
        <span >Đăng nhập</span>
   
    </button>
    
    </form>
  </div>
  <script>
    // Thêm JavaScript ở đây
  </script>
</body>
</html>