<div class="dashboard-main">
    <app-dashboard></app-dashboard>
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row" style="height: 60px;">
                        <div class="col-sm-5">
                            <h2>Quản lý Sản Xuất</h2>
                        </div>
                        <div class="col-sm-7 text-end" style="text-align: center;">
                            <!-- {{ selectedCategory }} -->
                            <div *ngIf="selectedCategory != 0">
                                <a href="#" class="btn btn-secondary" data-toggle="modal"
                                    data-target="#addProductModal" (click)="loadAutoSearchProduct()">
                                    <i class="material-icons">&#xE147;</i> <span>Sản xuất sản phẩm có sẵn</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-hover">
                    </table>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9 text-end">

                            <div class="input-group mb-3">
                                <select [(ngModel)]="selectedCategory" (change)="onSearch(selectedCategory, searchKey)">

                                    <option [ngValue]="1" [(ngModel)]="selectedCategory">Sản phẩm có sẵn </option>
                                    <option [ngValue]="0" [(ngModel)]="selectedCategory" selected>Sản phẩm theo yêu cầu
                                    </option>

                                </select>
                                <select [(ngModel)]="selectedStatusJob"
                                    >
                                    <option value="">Tất cả trạng thái</option>
                                    <option *ngFor="let st of statusSearch" [ngValue]="st.status_id">{{ st.status_name
                                        }}</option>
                                </select>
                                <select [(ngModel)]="selectedPosSearch"
                                    >
                                    <option value="">Tất cả vị trí</option>
                                    <option *ngFor="let poss of positionsSearch" [ngValue]="poss.position_id">{{
                                        poss.position_name }}</option>
                                </select>
                                <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm..."
                                    [(ngModel)]="searchKey" name="search">
                                <button class="btn search-button" type="submit"
                                    (click)="onSearch(selectedCategory, searchKey)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width: 13%;">Mã đơn hàng</th>
                            <!-- <th>Mã đơn hàng</th> -->
                            <th>Thao tác</th>
                            <th>Giao việc</th>
                            <th>Lỗi</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Đơn giá sản phẩm(vnd)</th>
                            <th>Trạng thái</th>
                            <th>Nhân viên</th>


                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let product of productRQs | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index"
                            [ngClass]="{'bg-warning': listErrorJob.includes(product.job_id)}">
                            <td>{{ product?.job_code}}</td>
                            <!-- <td>{{ product?.code }}</td> -->
                            <td class="action-buttons">
                                <a style="margin-right: 10px;" title="Chi tiết" data-toggle="modal"
                                data-target="#detailJobModal" (click)="showJobDetail(product)">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                                <ng-container
                                    *ngIf="product.statusJob.status_id !== 6 && product.statusJob.status_id !== 9 && product.statusJob.status_id !== 12">
                                    <a href="#" class="settings" title="Chỉnh sửa" data-toggle="modal"
                                        data-target="#editProductJobModal"
                                        (click)="editJobDetail(product, product.job_id)">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </ng-container>
                               
                            </td>
                            <td>
                                <button style="margin-left: -10px; size: 15px;" data-toggle="modal"
                                    data-target="#assignJobModal" (click)="manageJob(product)" class="btn" 
                                    [class.btn-primary]="!isDisabled(product) && !listErrorJob.includes(product.job_id) "
                              
                                    [class.btn-secondary]="listErrorJob.includes(product.job_id) || isDisabled(product) && !listErrorJob.includes(product.job_id) "
                                    [disabled]="listErrorJob.includes(product.job_id) || isDisabled(product)">
                                    Giao việc
                                </button>
                            </td>
                            <td>
                                <!-- Button to open the "errorProduct" modal -->
                                <button *ngIf="!listErrorJob.includes(product.job_id)" class="btn btn-primary" data-toggle="modal"
                                    data-target="#errorProduct" (click)="errorJob(product)"
                                    [class.btn-primary]="!isErrorDisabled(product) && !listErrorJob.includes(product.job_id)"
                                    [class.btn-secondary]="isErrorDisabled(product) && !listErrorJob.includes(product.job_id)"
                                    [class.btn-danger]="listErrorJob.includes(product.job_id)"
                                    [disabled]="isErrorDisabled(product)">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                </button>                         
                                <button *ngIf="listErrorJob.includes(product.job_id)" class="btn btn-primary" data-toggle="modal"
                                    data-target="#otherModal" (click)="editProduct(product.job_id, product)"
                                    [class.btn-primary]="!isErrorDisabled(product) && !listErrorJob.includes(product.job_id)"
                                    [class.btn-secondary]="isErrorDisabled(product) && !listErrorJob.includes(product.job_id)"
                                    [class.btn-danger]="listErrorJob.includes(product.job_id)"
                                    [disabled]="">
                                    <i class="fa-solid fa-triangle-exclamation"></i> 
                                </button>
                            </td>
                            <td>{{ product?.product_name }}</td>
                            <td style="text-align: center;">{{ product?.quantity }}</td>
                            <td style="text-align: center;">{{ product?.price | number: '1.0-3' }}</td>
                            <td>


                                <ng-container *ngIf="product?.statusJob.type !== 1 && product?.statusJob.type !== 6">
                                    <select id="mySelect{{i}}" class="custom-select"
                                        [disabled]="listErrorJob.includes(product.job_id) || isErrorDisabled(product)"
                                        [ngModel]="product?.statusJob.status_id"
                                        (change)="openModal($event,product?.job_id, i)">
                                        <ng-container *ngFor="let status of statusType">
                                            <option *ngIf="status.type === product.statusJob.type"
                                                [value]="status.status_id"
                                                [disabled]="status.status_id === 4 || status.status_id === 7 || status.status_id === 10">
                                                {{ status.status_name }}
                                            </option>
                                        </ng-container>
                                        <button #launchModalButton type="button" class="btn btn-primary d-none"
                                            data-toggle="modal" data-target="#myModal">
                                            Launch modal
                                        </button>
                                    </select>
                                </ng-container>
                                <span *ngIf="product.statusJob.type === 1">Chưa giao việc</span>
                                <span *ngIf="product.statusJob.type === 6">Chờ đặt cọc</span>
                            </td>
                            <td>{{ product?.user_name }}</td>

                        </tr>
                    </tbody>

                </table>

                <pagination-controls style="justify-content: right; display: flex;" (pageChange)="currentPage = $event"
                    previousLabel="Trang trước" nextLabel="Trang sau" *ngIf="productRQs && productRQs.length > 0">
                </pagination-controls>
                <div class="clearfix" style="justify-content: right; display: flex;"
                    *ngIf="productRQs && productRQs.length > 0">
                    <div class="hint-text">Hiển thị <b>{{ (currentPage - 1) * 10 + 1 }}</b> tới <b>{{ currentPage * 10 >
                            productRQs.length ? productRQs.length : currentPage * 10 }}</b> trong tổng <b>{{
                            productRQs.length }}</b> dữ liệu</div>
                </div>

                <div *ngIf="!productRQs || productRQs.length === 0">

                    <div style="background-color: white;">
                        <div class=""
                            style="display: flex; justify-content: center; align-items: center; height: 100%;">
                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSG53pYn6cpXaiwT_q6IM45P-rXg5dUw67XqRmr9-vtsbMoHnCG"
                                alt="" class="product-img" style="width: 150px; height: 150px; object-fit: cover;">
                            <p class="name-product text-center">Không tìm thấy!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModal">Cập nhật trạng thái việc làm</h2>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="closeModal()"
                    (click)="cancelChangeStatusJob()"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn cập nhật trạng thái việc làm?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cancelChangeStatusJob()" data-dismiss="modal"
                    (click)="closeModal()">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="acceptJob(selectedModalJob,selectedModalId)">Chắc
                    chắn</button>
            </div>
        </div>
    </div>
</div>

<!-- assignJobModal -->
<div class="modal fade" id="assignJobModal" role="dialog" aria-labelledby="assignJobModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="assignJobModalLabel">Giao việc làm</h2>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form [formGroup]="createJobs" (ngSubmit)="createNewJob()">
                    <!-- Content of the form -->
                    <div class="container">
                        <div class="card order-detail-card">
                            <div class="card-body p-4">
                                <!-- Employee information -->
                                <div class="row">
                                    <div class="col-md-6">

                                        <section class="customer-info mb-4">

                                            <h5 style="text-align: center; color: black;">Thông tin việc làm</h5>


                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>
                                                        <strong>Tên nhân viên<span class="required-asterisk">
                                                                *</span></strong>
                                                    </p>
                                                </div>
                                                <div class="col-md-6">

                                                    <select #employeeSelect class="form-select" (change)="onChangeSelectedEmployee($event)">
                                                        <option value="" selected disabled>Chọn 1 nhân viên</option>
                                                        <option *ngFor="let employee of positionEmployees" [value]="employee.userId">
                                                          {{ employee.userInfor.fullname }}
                                                        </option>
                                                      </select>
                                                      
                                                      
                                                                                                                                      
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>
                                                        <strong>Số lượng sản phẩm:</strong>
                                                    </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- {{ selectedProduct.quantity }}  -->
                                                    {{ this.selectedProduct.quantity }}

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Giá công khoán<span class="required-asterisk">
                                                            *</span></strong>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="number" name="costJob" formControlName="cost"
                                                        [(ngModel)]="costJob">
                                                </div>
                                            </div>
                                        </section>
                                    </div>

                                    <div class="col-md-6">
                                        <section class="order-summary mb-4">
                                            <h5 style="text-align: center; color: black;">Mô tả việc làm</h5>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Mã đơn hàng:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ selectedProduct.code }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <strong>Nhận việc trước ngày<span class="required-asterisk">
                                                                *</span> </strong>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="date" placeholder="dd / mm / YYYY" name="start"
                                                            formControlName="start">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <strong>Hoàn thành trước ngày<span class="required-asterisk">
                                                            *</span></strong>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="date" formControlName="finish"
                                                        placeholder="Nhập ngày hoàn thành công việc ">
                                                </div>
                                            </div>

                                        </section>
                                    </div>
                                </div>
                                <table style="text-align: center;" class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên nguyên liệu</th>
                                            <th>Khối lượng</th>
                                            <th>Tổng số lượng </th>
                                            <th>Đơn vị</th>
                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let product of subMaterialProduct; let i = index">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ product?.sub_name }}</td>
                                            <td style="text-align: right;">{{ product?.quantity }}</td>
                                            <td style="text-align: right;">{{ product.quantity *
                                                (selectedProduct?.quantity ?? 1) }}</td>
                                            <td>{{ product?.sub_type }}</td>
                                        </tr>
                                    </tbody>

                                </table>
                                <!-- Job description -->
                                <div class="customer-info">
                                    <h5 style="color: black;">Mô tả chi tiết yêu cầu việc làm<span class="required-asterisk"> *</span></h5>
                                    <textarea class="form-control" rows="6" formControlName="description"
                                        name="jobDescription" placeholder="Nhập mô tả chi tiết..." required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">                   
                       <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            (onClick)="cancelAssign()">Hủy</button>
                            <button type="submit" class="btn btn-primary">Tạo việc</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Detail job -->
<div class="modal fade" id="detailJobModal" role="dialog" aria-labelledby="detailJobModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="detailJobModalLabel" style="color: black;">Thông tin việc làm</h2>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form [formGroup]="detailJob">
                    <!-- Content of the form -->
                    <div class="container">
                        <div class="card order-detail-card">
                            <div class="card-body p-4">
                                <!-- Employee information -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <section class="customer-info mb-4">
                                            <h5 style="text-align: center; color: black;">Thông tin sản phẩm</h5>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>
                                                        <strong>Tên sản phẩm:</strong>
                                                    </p>
                                                </div>
                                                <div class="col-md-6">

                                                    {{ selected_productName }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>
                                                        <strong>Số lượng sản phẩm:</strong>
                                                    </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- {{ selectedProduct.quantity }}  -->
                                                    {{ selectedJob.quantityProduct }}

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Giá công khoán:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ selectedJob.cost }}
                                                </div>
                                            </div>




                                        </section>
                                    </div>

                                    <div class="col-md-6">
                                        <section class="order-summary mb-4">
                                            <h5 style="text-align: center; color: black;">Mô tả việc làm</h5>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Mã đơn hàng:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ selectedJob.code }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Tên việc làm:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ selectedJob.job_name }}
                                                    <ng-container *ngIf="selectedJob.job_name === 1; else otherContent">
                                                        Làm mộc
                                                    </ng-container>
                                                    <ng-template #otherContent>
                                                        <ng-container
                                                            *ngIf="selectedJob.job_name === 2; else anotherContent">
                                                            Đánh nhám
                                                        </ng-container>
                                                        <ng-template #anotherContent>
                                                            <ng-container *ngIf="selectedJob.job_name === 3">
                                                                Phun sơn
                                                            </ng-container>
                                                        </ng-template>
                                                    </ng-template>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <strong>Ngày nhận công việc: </strong>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <!-- <input type="date" placeholder="dd / mm / YYYY" name="start"
                                                            formControlName="timeStart"> -->
                                                        {{ selectedJob.timeStart | date:'dd / MM / yyyy' }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <strong>Hoàn thành trước ngày:</strong>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ selectedJob.timeFinish | date:'dd / MM / yyyy' }}
                                                    </div>
                                                </div>

                                            </div>

                                        </section>
                                    </div>
                                </div>
                                <table style="text-align: center;" class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên nguyên liệu</th>
                                            <th>Khối lượng</th>
                                            <th>Tổng số lượng </th>
                                            <th>Đơn vị</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let product of subMaterialProduct; let i = index">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ product?.sub_name }}</td>
                                            <td style="text-align: right;">{{ product?.quantity }}</td>
                                            <td style="text-align: right;">{{ product.quantity *
                                                (selectedProduct?.quantity ?? 1) }}</td>
                                            <td>{{ product?.sub_type }}</td>
                                        </tr>
                                    </tbody>

                                </table>
                                <!-- Job description -->
                                <div class="customer-info">
                                    <h5 style="color: black;">Mô tả chi tiết yêu cầu việc làm</h5>
                                    <textarea class="form-control" rows="6" readonly
                                        placeholder="Nhập mô tả chi tiết..."
                                        required>{{ selectedJob.description }}</textarea>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <!-- <button type="submit" class="btn btn-primary">Tạo việc</button> -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" style="margin-top: 6%;" id="addProductModal" tabindex="-1" role="dialog"
    aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="addProductModal">Thêm sản phẩm để sản xuất</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()"> -->
                <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-4">
                            <label style="font-size: 16px;">Danh sách sản phẩm có sẵn </label>
                        </div>
                        <div class="col-md-8">
                            <div class="ng-autocomplete" style="width: 100%;">
                                <ng-autocomplete *ngIf="productAutoSearch" [data]="productAutoSearch"
                                    [searchKeyword]="keyword" placeholder="Nhập tên sản phẩm có sẵn ..."
                                    historyIdentifier="productAutoSearch" [itemTemplate]="itemTemplate"
                                    [notFoundTemplate]="notFoundTemplate" (selected)="selectProduct($event)">
                                </ng-autocomplete>             
                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="sanitize(item.productName)"></a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div>Không tìm thấy sản phẩm!</div>
                                </ng-template>

                                
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4">
                            <label style="font-size: 16px;" for="productPrice">Số sản phẩm sản xuất:<span
                                    class="required-asterisk">*</span> </label>
                        </div>
                        <div class="col-md-2">
                            <input type="number" class="form-control" id="productPrice" formControlName="quantity">
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-end">
                       
                        <button type="button" class="btn btn-secondary" (onClick)="huyTaoSanPhamCoSan()" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Thêm mới</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" style="margin-top: 5%;" #errorProduct id="errorProduct" tabindex="-1" role="dialog"
    aria-labelledby="errorProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-wide" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="errorProduct">
                    Báo cáo lỗi sản xuất
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="errorForm" (ngSubmit)="createErrorJob()">
                    <div class="row">
                        <div style="display: flex;">
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <h3 style="color: black;">Tên sản phẩm:</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3 style="color: grey;;">{{ selectedProduct?.product_name }}</h3>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <h3 style="color: black;">Tên nhân viên:</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3 style="color: grey;;">{{ selectedProduct?.user_name }}</h3>
                                </div>

                            </div>
                        </div>
                        <div class="row" style="margin-left: 7px; margin-top: 18px;">
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <h3 style="color: black;">Mã đơn hàng:</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3 style="color: grey;">{{ selectedProduct?.code }}</h3>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <h3 style="color: black;">Số sản phẩm lỗi<span class="required-asterisk">
                                            *</span></h3>
                                </div>
                                <div class="col-md-6">
                                    <input formControlName="quantity" type="number" required>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 2%;">
                        <div class="row" style="margin-left: 7px; margin-top: 18px;">
                            <h3 style="color: black;">Mô tả lỗi<span class="required-asterisk"> *</span> </h3>
                            <textarea class="form-control" formControlName="description" id="description"
                                name="description" rows="10" style="height: 100px;" cols="5" required></textarea>
                        </div>
                        <div class="row" style="margin-left: 7px; margin-top: 18px;">
                            <h3 style="color: black;">Giải pháp<span class="required-asterisk"> *</span> </h3>
                            <textarea class="form-control" formControlName="solution" id="solution" name="solution"
                                rows="10" style="height: 100px;" cols="5" required></textarea>
                        </div>
                    </div>

                    <div class="modal-footer d-flex justify-content-end">
                       
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Tạo báo cáo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" #otherModal id="otherModal" tabindex="-1" role="dialog" aria-labelledby="otherModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-wide" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="editProductModalLabel">Chỉnh sửa lỗi sản phẩm</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <div class="col-md-6">
                  <label style="font-size: 16px;" for="code">Mã việc làm:</label>
                </div>
                <div class="col-md-6">         
                  <input type="text" class="form-control" id="code" formControlName="code" name="code" readonly>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col-md-6">
                  <label style="font-size: 16px;" for="job_name">Tên việc làm:</label>
                </div>
                <div class="col-md-6">
                 
                  <input type="text" class="form-control" id="job_name" formControlName="job_name" readonly>
                </div>
              </div>
              <div class="col-md-1">
              </div>
              <div class="col-md-10">
                <hr style="justify-content: space-between;">
              </div>

              <div class="col-md-6">
                <div class="col-md-6">
                  <label style="font-size: 16px;" for="code_order">Mã đơn hàng: </label>
                </div>
                <div class="col-md-6">           
                  <input type="text" class="form-control" id="code_order" formControlName="code_order" name="code_order" readonly>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col-md-6">
                  <label style="font-size: 16px;" for="product_name">Tên sản phẩm:</label>
                </div>
                <div class="col-md-6">
                  <h3>{{ errorDetail?.product_name }} {{errorDetail?.request_product_name}}</h3>
                  <div *ngIf="editForm.get('product_name')?.value">
                    <input type="text" class="form-control" id="product_name" formControlName="product_name" name="product_name" readonly>
                  </div>
                  <div *ngIf="editForm.get('request_product_name')?.value">
                    <input type="text" class="form-control" id="request_product_name" formControlName="request_product_name" name="request_product_name" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-1">
              </div>
              <div class="col-md-10">
                
                <hr style="justify-content: space-between;">
              </div>
              <div class="col-md-6">
                <div class="col-md-6">
                  <label style="font-size: 16px;" for="employee_name">Tên nhân viên:</label>
                </div>
                <div class="col-md-6">
                  <h3>{{ errorDetail?.employee_name}}</h3>
                  <input type="text" class="form-control" id="employee_name" formControlName="employee_name" name="employee_name" readonly>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col-md-6">
                  <label style="font-size: 16px;" for="productName">Tình trạng lỗi:</label>
                </div>
                <div class="col-md-6">         
                
                    <div *ngIf="isEditing; else readOnlyFix">
                      
                        <select formControlName="fix" class="custom-select" style="width: 100%;">
                            <option value="false" selected>Chưa khắc phục</option>
                            <option value="true">Đã khắc phục</option>
                            
                        </select>
                      </div>
                      <ng-template #readOnlyFix>
                        <h3>{{ errorDetail?.fix ? 'Đã khắc phục' : 'Chưa khắc phục' }}</h3>
                      </ng-template>
      
                  
                </div>
              </div>
              <div class="col-md-1">
              </div>
              <div class="col-md-10">
                <hr style="justify-content: space-between;">
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label style="font-size: 16px;margin-top: 3%;" for="productName">Mô tả lỗi:<span class="required-asterisk">*</span></label>
                </div>
                <div class="col-md-8" style="margin-top:1%">
                  <textarea style="width: 100%; padding: 2%; font-size: 16px;" id="des" formControlName="des" name="des" [readonly]="!isEditing" >        
                  </textarea>
                </div>
            </div>
              <div class="col-md-1">
              </div>        
              <div class="row">
                <div class="col-md-2">
                  <label style="font-size: 16px;margin-top: 3%;" for="productName">Giải pháp:<span class="required-asterisk">*</span></label>
                </div>
                <div class="col-md-8" style="margin-top:1% ;">
                  <textarea style="width: 100%; font-size: 16px; padding: 2%; "id="solution" formControlName="solution" name="solution" [readonly]="!isEditing" >
               
                 </textarea>
                </div>               
              </div>
            </div>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <div class="row">
            <div class="col-sm-9"></div>
            <div class="col-sm-3 text-right text-secondary">
              <button class="btn btn-primary px-4 float-right " *ngIf="!isEditing" (click)="editProfile()">Chỉnh
                sửa</button>
              <div *ngIf="isEditing" class="btn-group float-right">
                <button style="margin-right: 10px;" class="btn btn-primary" (click)="saveChangesError()">Lưu thay
                  đổi</button>
                <button class="btn btn-secondary" data-dismiss="modal" (click)="cancelChanges()">Hủy bỏ</button>

              </div>
            </div>
          </div>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="saveChanges()">Lưu thay đổi</button> -->
      </div>
    </div>
  </div>
</div>
<!-- Modal for Editing Product -->
<div class="modal fade" id="editProductJobModal" tabindex="-1" role="dialog" aria-labelledby="editProductJobModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="assignJobModalLabel">Cập nhật giao việc làm</h2>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">

                <form [formGroup]="editJob" (ngSubmit)="saveChanges()">
                    <!-- Content of the form -->
                    <div class="container">
                        <div class="card order-detail-card">
                            <div class="card-body p-4">
                                <!-- Employee information -->
                                <div class="row">
                                    <div class="col-md-6">

                                        <section class="customer-info mb-4">

                                            <h5 style="text-align: center; color: black;">Thông tin nhân viên</h5>


                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>
                                                        <strong>Tên nhân viên:</strong>
                                                    </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- {{this.selectedProduct.type_id}}
                                                    {{this.selectedProduct.user_id}} -->
                                                    {{ user_name}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>
                                                        <strong>Số lượng sản phẩm:</strong>
                                                    </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- {{ selectedProduct.quantity }}  -->
                                                    <input type="text" class="form-control" id="quantity_product"
                                                        formControlName="quantity_product" readonly>


                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Giá công khoán <span class="required-asterisk">
                                                            *</span></strong>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="number" name="costJob" formControlName="cost">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Ngày nhận việc<span class="required-asterisk"> *</span>
                                                    </strong>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="date" class="form-control" id="start" name="start"
                                                        formControlName="start">
                                                </div>
                                            </div>



                                        </section>
                                    </div>

                                    <div class="col-md-6">
                                        <section class="order-summary mb-4">
                                            <h5 style="text-align: center; color: black;">Mô tả việc làm</h5>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Mã đơn hàng:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ selectedProduct.code }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Tên công việc<span class="required-asterisk">
                                                            *</span></strong>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" formControlName="job_name"
                                                        readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Ngày hoàn thành công việc<span class="required-asterisk">
                                                            *</span></strong>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="date" class="form-control" id="finish" formControlName="finish"
                                                        placeholder="Nhập ngày hoàn thành công việc ">
                                                </div>
                                            </div>

                                        </section>
                                    </div>
                                </div>
                                <table style="text-align: center;" class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên nguyên liệu</th>
                                            <th>Khối lượng</th>
                                            <th>Tổng số lượng </th>
                                            <th>Đơn vị</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let product of subMaterialProduct; let i = index">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ product?.sub_name }}</td>
                                            <td style="text-align: right;">{{ product?.quantity }}</td>
                                            <td style="text-align: right;">{{ product.quantity *
                                                (selectedProduct?.quantity ?? 1) }}</td>
                                            <td>{{ product?.sub_type }}</td>
                                        </tr>
                                    </tbody>

                                </table>
                                <!-- Job description -->
                                <div class="customer-info">
                                    <h5 style="color: black;">Mô tả chi tiết yêu cầu việc làm <span
                                            class="required-asterisk"> *</span></h5>
                                    <textarea class="form-control" rows="6" formControlName="description"
                                        name="jobDescription" placeholder="Nhập mô tả chi tiết..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmChangeEmployee">Thay đổi nhân viên</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmChangeEmployee" tabindex="-1" aria-labelledby="confirmChangeEmployeeLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="confirmChangeEmployee">Thay đổi nhân viên sản xuất</h2>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
                    ></button>
            </div>
            <div class="modal-body">
               <p style="font-size: 16px;">Bạn chắc chắn muốn thay đổi nhân viên <span style="color: red;">{{user_name}}</span> có mã sản xuất <span style="color: red;">{{employeeAbsentCode}}? </span> </p> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    >Đóng</button>
                <button type="button" class="btn btn-primary" (click)="changeEmployeeAbsent()">Chắc
                    chắn</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isLoadding" class="loading-overlay">
    <div class="spinner"></div>
</div>