<app-dashboard></app-dashboard>

<div class="dashboard-main">
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row" style="height: 60px;">
                        <div class="col-sm-5">
                            <h2>Quản lý lương công khoán</h2>
                        </div>
                        <div class="col-sm-7 text-end d-flex align-items-center justify-content-end">
                            <!-- <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#addProductModal">
                                <i class="material-icons">&#xE147;</i> <span>Thêm Sản Phẩm</span>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <span style="margin-right: 5px;">Nhập/Xuất Excel </span> <i
                                    class="fa-solid fa-file-excel"></i>
                            </a> -->

                        </div>

                    </div>
                    <table class="table table-striped table-hover">
                    </table>
                    <div class="row">
                        <!-- <div class="col-md-7 text-end">
                            <div class="input-group mb-3">
                               
                            </div>
                           
                        </div> -->
                        <div class="row justify-content-end">
                            <div class="d-flex justify-content-end">
                                <div class="input-group mb-3">
                                    <label>Từ: </label>
                                    <input [(ngModel)]="fromDate" style="margin-left: 10px;" type="date"
                                        class="form-control" placeholder="Đến: dd/mm/yyyy">

                                    <label>Đến: </label>
                                    <input [(ngModel)]="toDate" style="margin-left: 10px;" type="date"
                                        class="form-control" placeholder="Đến: dd/mm/yyyy">

                                    <select [(ngModel)]="selectedPosition" (change)="searchSalary()"
                                        class="form-select">
                                        <!-- <option [ngValue]="4" selected disabled>Chọn vị trí</option> -->
                                        <option value="">Tất cả</option>
                                        <option *ngFor="let category of positionEmpList"
                                            [ngValue]="category.position_id">
                                            {{ category.position_name }}
                                        </option>
                                    </select>

                                    <div class="ng-autocomplete" style="width: 30%; margin-left: 5px;">
                                        <ng-autocomplete *ngIf="employeeInfoList" [data]="employeeInfoList"
                                            [searchKeyword]="keyword" placeholder="Nhập tên nhân viên tìm kiếm"
                                            [(ngModel)]="searchKey" historyIdentifier="employeeFullnames"
                                            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                            (selected)="selectEmp($event)">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="sanitize(item.fullname)"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div>Không tìm thấy nhân viên hợp lệ!</div>
                                        </ng-template>
                                    </div>

                                    <button class="btn search-button ms-2" type="button" (click)="searchSalary()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>



                <div *ngIf="!checkNotFound">
                    <table class="table table-striped table-hover">
                        <!-- Table header -->
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã việc</th>
                                <th>Ngày hoàn thành</th>
                                <th>Tên nhân viên</th>
                                <th>Vị trí</th>
                                <th>Tình trạng</th>
                                <th>Đơn giá (vnđ)</th>
                                <th>Ngân hàng</th>
                                <th>STK</th>
                                <th>Thanh toán</th>
                            </tr>
                        </thead>
                        <!-- Table body -->
                        <tbody>
                            <tr
                                *ngFor="let product of totalSalary | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">
                                <td>{{ i + 1 + (currentPage - 1) * 10 }}</td>
                                <td>{{ product?.code }}</td>
                                <td>{{ product?.date }}</td>
                                <td>{{ product?.user?.userInfor?.fullname }}</td>
                                <td>{{ product?.user?.position?.position_name }}</td>
                                <td>
                                    <select class="custom-select" [(ngModel)]="product.advanceSuccess"
                                        style="width: 120%;" (change)="updateBanking(product.advanceSalaryId, $event)"
                                        name="advanceSuccess">
                                        <option [ngValue]="false" disabled>Chưa thanh toán</option>
                                        <option [value]="true">Đã thanh toán</option>
                                    </select>
                                </td>
                                <td>{{ product?.amount | number: '1.0-3'}}</td>
                                <td>{{ product?.user?.userInfor?.bank_name }}</td>
                                <td>{{ product?.user?.userInfor?.bank_number }}</td>
                                <td>
                                    <button class="btn"
                                        [ngClass]="{'btn-primary': !product?.advanceSuccess, 'btn-secondary': product?.advanceSuccess}"
                                        data-toggle="modal" data-target="#QRPAY" (click)="thanhToan(product)"
                                        [disabled]="product?.advanceSuccess">
                                        <i class="fa-solid fa-money-bill-transfer"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                    <!-- Pagination controls -->
                    <pagination-controls style="justify-content: right; display: flex;"
                        (pageChange)="currentPage = $event" previousLabel="Trang trước" nextLabel="Trang sau"
                        [maxSize]="4">
                    </pagination-controls>

                    <!-- Display data information -->
                    <div class="clearfix" style="justify-content: right; display: flex;">
                        <div class="hint-text">
                            Hiển thị <b>{{ (currentPage - 1) * 10 + 1 }}</b> tới <b>{{ currentPage * 10 >
                                totalSalary.length ? totalSalary.length : currentPage * 10 }}</b> trong tổng <b>{{
                                totalSalary.length }}</b> dữ liệu
                        </div>
                    </div>
                </div>

                <!-- Display 404 Not Found if no data -->
                <div *ngIf="checkNotFound">
                    <div style="background-color: white;">
                        <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSG53pYn6cpXaiwT_q6IM45P-rXg5dUw67XqRmr9-vtsbMoHnCG"
                                alt="Not Found" style="width: 150px; height: 150px; object-fit: cover;">
                            <p class="text-center">404 Not Found!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="assignJobModal" role="d" aria-labelledby="assignJobModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="assignJobModalLabel">Chi tiết giao việc làm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <div class="container">
                    <div class="card order-detail-card">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <section class="customer-info mb-4">
                                        <h5>Thông tin nhân viên</h5>
                                        <p style="margin-left: 15px;">
                                            <!-- <strong>Tên nhân viên:</strong> <select class="form-select" [(ngModel)]="selectedEmployee">
                                                <option value="" disabled selected>Chọn nhân viên</option>
                                                <option value="none" disabled>Không chọn</option>
                                                <option *ngFor="let employee of positionEmployees" [ngValue]="employee.userId">{{ employee.username }}</option>
                                              </select> -->
                                        </p>
                                        <div>



                                        </div>
                                        <!-- <p style="margin-left: 15px;">
                                            <strong>Số lượng:</strong> {{ selectedProduct.quantity }}
                                        </p>
                                        <p style="margin-left: 15px;">
                                            <strong>Giá công khoán:</strong> {{ selectedProduct.price | number: '1.0-3' }}
                                        </p> -->

                                    </section>
                                </div>
                                <div class="col-md-1 d-flex align-items-stretch"
                                    style="border-left: 2px solid #ddd; margin-left: 30px;"></div>
                                <div class="col-md-5">
                                    <section class="order-summary mb-4">
                                        <h5>Mô tả việc làm</h5>
                                        <!-- <p style="margin-left: 15px;">
                                            <strong>Mã đơn hàng:</strong> {{ selectedProduct.code }}
                                        </p>
                                        <p style="margin-left: 15px;">
                                            <strong>Tên công việc:</strong> {{ selectedProduct.product_name }}
                                        </p> -->
                                        <p style="margin-left: 15px;">
                                            <strong>Thời gian yêu cầu hoàn thành công việc:</strong>
                                            <!-- thêm thời gian yêu cầu hoàn thành nếu có -->
                                        </p>
                                    </section>
                                </div>
                            </div>
                            <div class="customer-info">
                                <h5>Mô tả chi tiết yêu cầu việc làm</h5>
                                <textarea class="form-control" rows="6" placeholder="Nhập mô tả chi tiết..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary" (click)="assignJob()">Tạo việc</button> -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="QRPAY" role="dialog" aria-labelledby="QRPAY" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center p-4">
                <img style="width:100%;" [src]="qrImageUrl" class="img-fluid">
            </div>
            <div class="modal-footer text-center justify-content-center">
                <!-- Thêm justify-content-center để căn giữa -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                    (click)="confirmThanhToan()">Đã
                    thanh toán</button>
                <!-- updateBankingModal(this.selectedBanking) -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModal">Cập nhật trạng thái việc làm</h2>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn cập nhật trạng thái việc làm?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="updateBankingModal(selectedBanking)">Chắc
                    chắn</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isLoadding" class="loading-overlay">
    <div class="spinner"></div>
</div>