<div class="container-fluid">

    <app-header></app-header>
    <div class="banner">
        <div class="inner">
            <div class="container text-center">
                <p class="title-heading">SẢN PHẨM</p>
                <p class="intro"><a href="index.html">Trang chủ</a>/ <a href="shop.html">Sản phẩm</a></p>
            </div>
        </div>
    </div>
    <div class="shop">

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="filter">
                        <div class="loaihang">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-controls="collapseOne">
                                            Loại sản phẩm
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                        aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <ul class="category-list">
                                                <li class="all-sp">
                                                    <input type="radio" name="category" id="all" value="0"
                                                        (change)="ngOnInit()">
                                                    <label for="all">Tất cả</label>
                                                </li>
                                                <li *ngFor="let category of categories" style="margin-top: -5x"
                                                    class="{{ category.categoryName.toLowerCase() }}-check">
                                                    <input style="margin-right: 5px;" type="radio"
                                                        [(ngModel)]="selectedCategory" name="category"
                                                        id="{{ category.categoryId }}" value="{{ category.categoryId }}"
                                                        (change)="filterProducts('')">
                                                    <label for="{{ category.categoryId }}">{{ category.categoryName
                                                        }}</label>

                                                   
                                                </li>
                                            </ul>

                                        </div>

                                    </div>
                                    <!-- <p>Giá tiền:</p>
                                        <input type="range">
                                        <button type="submit"  class="button-filter">Lọc</button> -->

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="col-lg-9 col-12">
                    <div class="boloc d-flex">
                        <div class="boloc d-flex">
                            
                            <p class="giacao" (click)="filterProducts('asc')" ><i class="fas fa-sort-amount-up"></i>Giá cao</p>
                            <p class="giathap" (click)="filterProducts('desc')"><i class="fas fa-sort-amount-down-alt"></i>Giá thấp</p>
                           
                          </div>
                    </div>

                    <div>
                        <div>
                            <div class="row">

                                <div class="col-lg-4 col-md-6 col-12 nopadding"
                                    *ngFor="let product of products | paginate: { itemsPerPage: 9, currentPage: currentPage }; let i = index">
                                    <div class="product">
                                        <a style="text-decoration: none;" href="{{ product.productName }}">
                                            <img src="{{ product.image }}" alt="" class="product-img">
                                            <div class="product-info">
                                                <p class="name-product text-center">{{ product.productName }}</p>
                                                <p class="description"
                                                    style="text-decoration: none; color: black; text-align: center;">{{
                                                    product.description }}</p>
                                                <div class="price-product text-center d-flex align-items-center">
                                                    <p class="price">{{ product.price | number: '1.0-3' }}
                                                        vnđ</p>

                                                    <p class="root-price" *ngIf="product.rootPrice">{{ product.rootPrice
                                                        |
                                                        currency:'VND' }}</p>
                                                </div>
                                                <div class="buttons d-flex ">
                                                    <button class="addCart">
                                                        Thêm vào danh sách yêu thích <i class="fa-solid fa-heart"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="pagination justify-content-center d-flex">
                        <pagination-controls style="justify-content: right; display: flex;"
                            (pageChange)="currentPage = $event" previousLabel="Trang trước" nextLabel="Trang sau">
                        </pagination-controls>
                        <div class="hint-text"> <br>Từ sản phẩm <b>{{ (currentPage - 1) * 9 + 1 }}</b> đến
                            <b>{{
                                currentPage * 9
                                > products.length ? products.length : currentPage * 9 }}</b> trong tổng số <b>{{
                                products.length }}</b> sản phẩm
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>