<div class="footer">
    <div class="footer-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-12">
            <img src="assets/img/logo.png" alt="" class="footer-img">
            <div class="address">
              <i class="fas fa-home"></i>
              Xóm 1, Thôn Quang Tiến, Xã Thanh Bình Thịnh, Huyện Đức Thọ, Tỉnh Hà Tĩnh
            </div>
            <div class="phone-footer">
              <div style="margin-bottom:20px ;">
                <i class="fas fa-phone"></i>
              (+84)948539479
              </div>
              
              <i class="fas fa-phone"></i>
              (+84)946106845
            </div>
            <div class="supports">
             <i class="far fa-envelope"></i>
              anhvubui382@gmail.com
            </div>
          </div>
          <div class="col-lg-3 col-sm-12 cot2">
            <h4 class="title-col2">DỊCH VỤ KHÁCH HÀNG</h4>
            <p><a class="footer_link" href="">Hướng dẫn đặt mua hàng</a></p>
            <p><a class="footer_link" href="">Kinh nghiệm mua hàng</a></p>
            <p><a class="footer_link" href="">Đối tác và đại lý</a></p>
            <p><a class="footer_link" href="">Hình thức thanh toán</a></p>
            <p><a class="footer_link" href="">Mua hàng và đổi trả</a></p>
          </div>
          <div class="col-lg-3 col-sm-12 cot3">
            <h4 class="title-col3">HỖ TRỢ</h4>
            <p><a class="footer_link" href="">Đổi trả</a></p>
            <p><a class="footer_link" href="">Chính sách bảo hành</a></p>
            <p><a class="footer_link" href="">Chính sách vận chuyển</a></p>
            <p><a class="footer_link" href="">Điều khoản dịch vụ</a></p>
            <p><a class="footer_link" href="">Chính sách quyền riêng tư</a></p>
          </div>
          <div class="col-lg-3 col-sm-12">
            <h4 class="title-col4">LIKE SUPLO TRÊN MẠNG XÃ HỘI</h4>
            <div class="col4-item">
              <a class="footer_link" href=""><i class="fab fa-facebook-f"></i></a>
           
            </div>
            <h4 class="title-col4">ĐĂNG KÝ NHẬN TIN</h4>
            <div class="col4-input d-flex">
              <input placeholder="Nhập email của bạn..." type="text">
              <button><a href=""><i class="fab fa-telegram-plane"></i></a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-madeby text-center">
      <p>Made by © 2023</p>
    </div>
  </div>