<div class="footer">
    <div class="footer-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-12">
            <img src="assets/img/logo.png" alt="" class="footer-img">
            <div class="address">
              <i class="fas fa-home"></i>
              Số 1 Lương Yên, Q.Hai Bà Trưng, Hà Nội
            </div>
            <div class="phone-footer">
              <i class="fas fa-phone"></i>
              (+84)934 323 882
            </div>
            <div class="supports">
             <i class="far fa-envelope"></i>
       
            </div>
          </div>
          <div class="col-lg-3 col-sm-12 cot2">
            <h4 class="title-col2">DỊCH VỤ KHÁCH HÀNG</h4>
            <p><a href="">Hướng dẫn đặt mua hàng</a></p>
            <p><a href="">Kinh nghiệm mua hàng</a></p>
            <p><a href="">Đối tác và đại lý</a></p>
            <p><a href="">Hình thức thanh toán</a></p>
            <p><a href="">Mua hàng và đổi trả</a></p>
          </div>
          <div class="col-lg-3 col-sm-12 cot3">
            <h4 class="title-col3">HỖ TRỢ</h4>
            <p><a href="">Đổi trả</a></p>
            <p><a href="">Chính sách bảo hành</a></p>
            <p><a href="">Chính sách vận chuyển</a></p>
            <p><a href="">Điều khoản dịch vụ</a></p>
            <p><a href="">Chính sách quyền riêng tư</a></p>
          </div>
          <div class="col-lg-3 col-sm-12">
            <h4 class="title-col4">LIKE SUPLO TRÊN MẠNG XÃ HỘI</h4>
            <div class="col4-item">
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-youtube"></i></a>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-google-plus-g"></i></a>
            </div>
            <h4 class="title-col4">ĐĂNG KÝ NHẬN TIN</h4>
            <div class="col4-input d-flex">
              <input placeholder="Nhập email của bạn..." type="text">
              <button><a href=""><i class="fab fa-telegram-plane"></i></a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-madeby text-center">
      <p>Made by © 2023</p>
    </div>
  </div>