<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <img src="assets/img/logomain-removebg-preview.png" alt="" class="footer-img">
          
        </div>
        <div class="col-lg-3 col-sm-6 cot2">
          <div class="address">
            <h4 class="title-col3">THÔNG TIN</h4>
            <i class="fas fa-home"></i>
            Xóm 1, Thôn Quang Tiến, Xã Thanh Bình Thịnh, Huyện Đức Thọ, Tỉnh Hà Tĩnh
          </div>
          <div class="phone-footer">
            <div style="margin-bottom:20px ;">
              <i class="fas fa-phone"></i>
            (+84)948539479
            </div>
            
            <i class="fas fa-phone"></i>
            (+84)946106845
          </div>
          <div class="supports">
           <i class="far fa-envelope"></i>
            anhvubui382@gmail.com
          </div>
          
        </div>
        <div class="col-lg-3 col-sm-6 cot3">
          <h4 class="title-col3">TÁC VỤ NHANH</h4>
          <p><a class="footer_link" routerLink="/homepage">Trang chủ</a></p>
          <p><a class="footer_link" routerLink="/product">Sản phẩm</a></p>
          <p><a class="footer_link" routerLink="/contact">Liên hệ</a></p>
          <p><a class="footer_link" routerLink="/about-us">Giới thiệu</a></p>
          <p><a class="footer_link" href="">Chính sách quyền riêng tư</a></p>
        </div>
        <div class="col-lg-3 col-sm-6">
          <h4 class="title-col4">LIKE ĐỒ GỖ SỸ DUNG TRÊN MẠNG XÃ HỘI</h4>
          <div class="col4-item">
            <a class="footer_link" href="https://www.facebook.com/profile.php?id=100014875266409"><i class="fab fa-facebook-f"></i></a>
         
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <div class="footer-madeby text-center">
    <p>Made by © 2023</p>
  </div>
</div>