<app-dashboard></app-dashboard>

<div class="dashboard-main">
  <div class="container-fluid">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row " style="height: 60px;">
            <div class="col-sm-5 ">
              <h2 style="margin-bottom: 0;">Quản lý đơn đặt hàng</h2>
            </div>
            <div class="col-sm-7 text-end d-flex align-items-center justify-content-end">
              <a routerLink="/order_rq" class="btn btn-secondary btn-sm" data-toggle="modal" data-target=""
                style="font-size: 14px;">
                <i class="material-icons align-middle" style="font-size: 18px;">&#xE147;</i>
                <span class="align-middle">Thêm đơn hàng</span>
              </a>
            </div>
          </div>

          <div class="row  justify-content-end">
            <div class="col-md-9 text-end">
              <div class="input-group mb-3">
                <!-- product.component.html -->
                <label>Từ: </label>
                <input style="margin-left: 10px;" type="date" class="form-control" placeholder="Đến: dd/mm/yyyy">

                <label>Đến: </label>
                <input style="margin-left: 10px;" type="date" class="form-control" placeholder="Đến: dd/mm/yyyy">

                <!-- product.component.html -->
                <select [(ngModel)]="selectedCategory" (change)="filterStatus()">
                  <option value="0" selected>Tất cả đơn hàng</option>
                  <option *ngFor="let ps of userStatus" [value]="ps.status_id">{{ ps.status_name }}</option>

                </select>
                <input type="text" class="form-control" placeholder="Mã đơn hàng...">
                <button class="btn search-button" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-container">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Mã đơn hàng</th>
              
                <th>Thao tác</th>
                <th>Loại đơn hàng</th>
                <th>Ngày đặt hàng</th>
                <th>Tình trạng</th>
                <th>Kiểu thanh toán</th>
                <th>Tiền cọc(VNĐ)</th>
                <th>Số tiền thanh toán(VNĐ)</th>
                <th>Tổng tiền(VNĐ)</th>
                <th>Hủy đơn hàng</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let us of user | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">

                <td style=" min-width: 140px;">{{ us?.code}}</td>
               
                
                <td class="action-buttons">
                  <!-- <a href="#" class="settings" title="Edit" data-toggle="modal" data-target="#editProductModal">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a> -->
                  <a href="#" class="info" title="Info" data-toggle="modal" data-target="#productDetailModal"
                    (click)="getOrDetailById(us, us?.orderId)">
                    <i class="fa-solid fa-circle-info"></i>
                  </a>
                  <a href="/product_management/{{ us?.orderId }}" class="info" title="Thêm sản phẩm">
                    <i class="fa-solid fa-circle-plus"></i>
                  </a>
                </td>
                <td style="min-width: 140px;">
                  {{ us?.specialOrder ? 'Đơn hàng đặc biệt' : 'Đơn hàng có sẵn' }}
                </td>
                <td>{{ us?.orderDate | date:'dd/MM/yyyy' }}</td>

                <!-- [disabled]="us?.status.status_id === 6 || us?.status.status_id === 5
              || us?.status.status_id === 1
              || us?.status.status_id === 3"  -->
                <td *ngIf="us?.totalAmount === null">
                  <div class="select-wrapper">
                    <select id="mySelect{{i}}" [disabled]="us?.status_id !== 4 && us?.status_id !== 7"
                      class="custom-select" (focus)="saveInitialValue(us.status_id, i)"
                      (change)="openModal(us.orderId, $event, i)">
                      <option *ngFor="let status of status_order" [value]="status.status_id"
                        [selected]="status.status_id === us?.status_id" [disabled]="status.status_id !== 8"
                        [hidden]="status.status_id !== 7 && status.status_id !== 8">
                        {{ status.status_name }}
                      </option>
                    </select>
                    <button #launchModalButton type="button" class="btn btn-primary d-none" data-toggle="modal"
                      data-target="#myModal">
                      Launch modal
                    </button>
                  </div>
                </td>



                <td style="min-width: 200px;" *ngIf="us?.totalAmount !== null">
                  <div class="select-wrapper">
                    <select id="mySelect{{i}}" [disabled]=" us?.status_id !== 4" class="custom-select"
                      (change)="openModal(us.orderId, $event,i)">
                      <option *ngFor="let status of status_order" [value]="status.status_id"
                        [selected]="status.status_id === us?.status_id" [disabled]="status.status_id !== 5"
                        [hidden]="status.status_id !== 4 && status.status_id !== 5">
                        {{ status.status_name }}
                      </option>
                    </select>
                    <button #launchModalButton type="button" class="btn btn-primary d-none" data-toggle="modal"
                      data-target="#myModal">
                      Launch modal
                    </button>
                  </div>
                </td>



                <td style=" min-width: 30px;"
                  [ngStyle]="{'color': us?.paymentMethod === 1 ? 'green' : (us?.paymentMethod === 0 ? 'red' : 'black')}">
                  {{ us?.paymentMethod === 1 ? 'Chuyển khoản' : (us?.paymentMethod === 0 ? 'Tiền mặt' : '') }}
                </td>

                <td>{{ us?.deposite | number : '1.0-3' }}</td>
                <td>{{ (us?.totalAmount - us?.deposite) | number : '1.0-3'
                  }}</td>
                <td>{{ us?.totalAmount | number : '1.0-3' }}</td>
                <td>
                  <a href="#" class="delete" title="Delete" data-toggle="modal" data-target="#confirmDeleteModal"
                    (click)="setOrderForCancellation(us?.orderId, us?.specialOrder)" *ngIf="us?.status_id === 7">
                    <i class="fa-solid fa-times"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <pagination-controls style="justify-content: right; display: flex;" (pageChange)="currentPage = $event"
        previousLabel="Trang trước" nextLabel="Trang sau">
      </pagination-controls>
      <div class="clearfix" style="justify-content: right; display: flex;">
        <div class="hint-text">Hiển thị <b>{{ (currentPage - 1) * 10 + 1 }}</b> tới <b>{{ currentPage * 10
            > user.length ? user.length : currentPage * 10 }}</b> trong tổng <b>{{
            user.length }}</b> dữ liệu</div>
      </div>


    </div>
  </div>

  <div class="modal fade" id="productDetailModal" tabindex="-1" role="dialog" aria-labelledby="productDetailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog custom-modal-width" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productDetailModalLabel">Xem chi tiết đơn hàng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="font-size: 16px;">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <b>Đơn hàng: </b>

                <label style="color: rgba(0, 102, 255, 0.945);">{{OrderdetailById.orders?.code}}</label>
                <br>
                <b>Ngày tạo đơn:</b> {{OrderdetailById.orders?.orderDate | date:'dd/MM/yyyy'}}
              </div>
              <div class="col-md-4">
                <b> {{OrderdetailById.orders?.status?.status_name}}</b>
              </div>
            </div>
            <br>
            <hr>
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <div class="card-header">
                    Khách hàng
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{OrderdetailById.orders?.userInfor?.fullname}}</h5>
                    <p class="card-text">{{OrderdetailById.orders?.userInfor?.phoneNumber}}</p>
                  </div>
                </div>
              </div>

              <div class="col-md-8">
                <h2 class="text-center">Thông tin đơn hàng</h2>
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Tên sản phẩm</th>
                      <th>Đơn giá</th>
                      <th>Trạng thái</th>
                      <th>Số lượng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of productOfOrder">
                      <td>{{product?.product_name}} {{product?.request_product_name}}</td>
                      <td>{{product?.price | number:'1.0-3'}}</td>
                      <td>{{product?.status_job_name}}</td>
                      <td>{{product?.quantity}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>




  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận muốn hủy đơn hàng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="cancelReason">Lý do từ chối đơn hàng:</label>
            <textarea class="form-control" id="cancelReason" [(ngModel)]="cancelReason" rows="4" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary" (click)="confirmCancel()">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="myModal">Cập nhật trạng thái đơn hàng</h2>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
            (click)="closeModal($event)"></button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn muốn cập nhật trạng thái đơn hàng này?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="closeModal($event)">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="changeStatus(selectedModalJob,selectedModalId)">Chắc
            chắn</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoadding" class="loading-overlay">
    <div class="spinner"></div>
  </div>