<app-dashboard></app-dashboard>

<div class="dashboard-main">
  <div class="container-fluid">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row " style="height: 60px;">
            <div class="col-sm-5 ">
              <h2 style="margin-bottom: 0;">Quản lý đơn đặt hàng</h2>
            </div>
            <div class="col-sm-7 text-end d-flex align-items-center justify-content-end">

            </div>
          </div>

          <div class="row  justify-content-end">
            <div class="col-md-12 text-end">
              <div class="input-group mb-3">
                <!-- product.component.html -->
                <label>Từ: </label>
                <input [(ngModel)]="selectedSDate" style="margin-left: 10px;" type="date" class="form-control"
                  placeholder="Đến: dd/mm/yyyy">

                <label>Đến: </label>
                <input [(ngModel)]="selectedEDate" style="margin-left: 10px;" type="date" class="form-control"
                  placeholder="Đến: dd/mm/yyyy">

                <!-- product.component.html -->
                <select [(ngModel)]="selectedCategory">
                  <!-- <option value="0" selected disabled>Chọn đơn hàng</option> -->
                  <option value="" selected>Tất cả tình trạng đơn hàng</option>

                  <option *ngFor="let ps of userStatus" [value]="ps.status_id">{{ ps.status_name }}</option>

                </select>
                <select [(ngModel)]="selectProduduct">
                  <option value="-1" selected>Tất cả loại đơn hàng</option>
                  <option [ngValue]="0">Đơn hàng có sẵn</option>
                  <option [ngValue]="1">Đơn hàng theo yêu cầu</option>
                </select>

                <input type="text" class="form-control" placeholder="Tìm kiếm mã đơn hàng..." [(ngModel)]="searchKey">

                <button class="btn search-button" type="button" (click)="filterStatus()">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-container">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Mã đơn hàng</th>

                <th>Thao tác</th>

                <th>Loại đơn hàng</th>
                <th>Ngày đặt hàng</th>
                <th>Tình trạng</th>

                <th>Kiểu thanh toán</th>
                <th>Tiền cọc(VNĐ)</th>

                <th>Tổng tiền(VNĐ)</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let us of user | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">
                <td [ngStyle]="{'background-color': us?.status_id === 10 ? 'red' : 'transparent'}"
                  style=" min-width: 140px;">{{ us?.code}}</td>
                <td class="action-buttons" style=" min-width: 140px;">
                  <a href="#" class="info" title="Xem chi tiết" data-toggle="modal" data-target="#productDetailModal"
                    (click)="getOrDetailById(us, us?.orderId)">
                    <i class="fa-solid fa-circle-info"></i>
                  </a>
                  <a (click)="setOrderForCancellation(us?.orderId, us?.specialOrder)"
                    (click)="getOrDetailById(us, us?.orderId)" *ngIf="us?.status_id === 3  ||
      
                  us?.status_id === 10 
                    " class="info" title="Hoàn tiền" data-toggle="modal" data-target="#refundProductModal">
                    <i style="cursor: pointer;" class="fa-solid fa-money-bill-transfer"></i>
                  </a>

                  <a href="/product_management/{{ us?.orderId }}" class="info" title="Thêm sản phẩm" *ngIf="us?.status_id === 8   ||
                  us?.status_id === 1 &&
                  us?.specialOrder === true">
                    <i class="fa-solid fa-circle-plus"></i>
                  </a>

                  <a href="#" data-toggle="modal" title="Thanh toán tiền cọc" data-target="#myModalconfirm"
                    *ngIf="us?.status_id === 1 && us?.deposite !== null&& us?.totalAmount!== null"
                    (click)="setOrderForPayment(us?.orderId)" (click)="getOrDetailById(us, us?.orderId)">
                    <i class="fa-solid fa-credit-card"></i>
                  </a>
                  <a href="#" data-toggle="modal" title="Gia hạn ngày hoàn thành" data-target="#myModalDateContact"
                    *ngIf="us?.status_id === 10" (click)="setOrderForPayment(us?.orderId)">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                  </a>

                  <a href="#" data-toggle="modal" title="Hủy đơn hàng" data-target="#confirmDeleteModal"
                    (click)="setOrderForCancellation(us?.orderId, us?.specialOrder)" *ngIf="us?.status_id === 7 
                    || us?.status_id === 1|| us?.status_id === 8">
                    <i class="fa-solid fa-times-circle"></i>
                  </a>
                </td>

                <td style="min-width: 140px;">
                  {{ us?.specialOrder ? 'Đơn hàng theo yêu cầu' : 'Đơn hàng có sẵn' }}
                </td>
                <td style="text-align: center;">{{ us?.orderDate | date:'dd/MM/yyyy' }}</td>

                <!-- [disabled]="us?.status.status_id === 6 || us?.status.status_id === 5
              || us?.status.status_id === 1
              || us?.status.status_id === 3"  -->
                <td *ngIf="us?.totalAmount === null">
                  <div class="select-wrapper">
                    <select id="mySelect{{i}}" [disabled]="us?.status_id !== 4 && us?.status_id !== 7"
                      class="custom-select" (change)="openModal(us.orderId, $event, i)">
                      <option *ngFor="let status of status_order" [value]="status.status_id"
                        [selected]="status.status_id === us?.status_id" [disabled]="status.status_id !== 8"
                        [hidden]="status.status_id !== 7 && status.status_id !== 8">
                        {{ status.status_name }}
                      </option>
                    </select>
                    <button #launchModalButton type="button" class="btn btn-primary d-none" data-toggle="modal"
                      data-target="#myModal">
                      Launch modal
                    </button>
                  </div>
                </td>



                <td style="min-width: 200px;" *ngIf="us?.totalAmount !== null">
                  <div class="select-wrapper">
                    <select id="mySelect{{i}}" [disabled]="us?.status_id !== 4" class="custom-select"
                      (change)="openModal(us.orderId, $event, i)">
                      <option *ngFor="let status of status_order" [value]="status.status_id"
                        [selected]="status.status_id === us?.status_id" [disabled]="status.status_id !== 5"
                        [hidden]="status.status_id !== 4 && status.status_id !== 5">
                        {{ status.status_name }}
                      </option>
                    </select>
                    <button (click)="getOrDetailById(us, us?.orderId)" #launchModalButton type="button"
                      class="btn btn-primary d-none" data-toggle="modal" data-target="#myModal123">
                      Launch modal
                    </button>
                  </div>
                </td>



                <td style=" min-width: 30px;"
                  [ngStyle]="{'color': us?.paymentMethod === 2 ? 'green' : (us?.paymentMethod === 1 ? 'red' : 'black')}">
                  {{ us?.paymentMethod === 2 ? 'Chuyển khoản' : (us?.paymentMethod === 1 ? 'Tiền mặt' : '') }}
                </td>

                <td
                  style="text-align: right; min-width: 100px; max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                  {{ us?.deposite | number : '1.0-3' }}
                </td>
                <!-- <td
                  style="text-align: right; min-width: 100px; max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                  {{ (us?.totalAmount - us?.deposite) | number : '1.0-3' }}
                </td> -->
                <td
                  style="text-align: right; min-width: 100px; max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                  {{ us?.totalAmount | number : '1.0-3' }}
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <pagination-controls style="justify-content: right; display: flex;" (pageChange)="currentPage = $event"
        previousLabel="Trang trước" nextLabel="Trang sau" *ngIf="user && user.length > 0">
      </pagination-controls>
      <div class="clearfix" style="justify-content:  right; display: flex;" *ngIf="user && user.length > 0">
        <div class="hint-text">Hiển thị <b>{{ (currentPage - 1) * 10 + 1 }}</b> tới <b>{{ currentPage * 10 >
            user.length ? user.length : currentPage * 10 }}</b> trong tổng <b>{{
            user.length }}</b> dữ liệu</div>
      </div>

      <div *ngIf="!user || user.length === 0">

        <div style="background-color: white;">
          <div class="" style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSG53pYn6cpXaiwT_q6IM45P-rXg5dUw67XqRmr9-vtsbMoHnCG"
              alt="" class="product-img" style="width: 150px; height: 150px; object-fit: cover;">
            <p class="name-product text-center">Không tìm thấy đơn hàng!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" style="margin-left: 7%;" id="productDetailModal" tabindex="-1" role="dialog"
    aria-labelledby="productDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productDetailModalLabel">Xem chi tiết đơn hàng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="font-size: 16px;">

          <div class="row">
            <div class="col-md-6">
              <h4>Khách hàng: <b>{{OrderdetailById.userInfor?.fullname}} -
                  {{OrderdetailById.userInfor?.phoneNumber}} - {{emailCustomer}}</b></h4>
            </div>

            <div class="col-md-3">
              <b>Ngày tạo đơn:</b> {{OrderdetailById.orderDate | date:'dd/MM/yyyy'}}
            </div>
            <div class="col-md-3">
              <!-- <b>Đơn hàng:</b> -->

              <label style="color: rgba(0, 102, 255, 0.945);">
                <!-- Other parts of your form -->

                <div *ngIf="selectedOrderDetail.specialOrder; else regularOrder">
                  <p>Đơn hàng theo yêu cầu</p>
                </div>
                <ng-template #regularOrder>
                  <p>Đơn hàng có sẵn</p>
                </ng-template>

                <!-- Other parts of your form -->

              </label>
            </div>



          </div>

          <div class="row">
            <div class="col-md-6">

              Địa chỉ: <b> {{OrderdetailById.userInfor?.address}}</b>
            </div>

            <div class="col-md-3">
              <b>
                {{OrderdetailById.status?.status_name}}</b>
            </div>
            <div class="col-md-3" style="color: rgba(0, 102, 255, 0.945);">

              {{ OrderdetailById.code}}
            </div>
          </div>



          <hr>


          <div class="card">
            <div class="card-header text-center">
              Thông tin đơn hàng

            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">{{OrderdetailById.userInfor?.fullname}}</h5> -->
              <div class="row">
                <div class="col-md-6">

                  <div class="col-md-6 text-right" style="margin-bottom: 2%;"
                    *ngIf="OrderdetailById.status?.status_id !== 7">
                    <b>Tổng giá trị đơn hàng: </b>
                  </div>
                  <div class="col-md-6" style="margin-bottom: 2%;">
                    {{ totalAmoutOrder | number: '1.0-3' }} &nbsp; VNĐ

                  </div>


                  <div class="col-md-6 text-right" style="margin-bottom: 2%;"
                    *ngIf="OrderdetailById.status?.status_id !== 7">
                    <b>Số tiền cọc: </b>
                  </div>
                  <div class="col-md-6" style="margin-bottom: 2%;">
                    {{ OrderdetailById.deposite | number: '1.0-3' }} &nbsp; VNĐ
                  </div>



                  <div class="col-md-6 text-right" style="margin-bottom: 2%;">
                    <b>Tổng tiền cần thanh toán: </b>
                  </div>
                  <div class="col-md-6" style="margin-bottom: 2%;">
                    {{ totalAmoutOrder - OrderdetailById.deposite | number: '1.0-3' }} &nbsp; VNĐ
                  </div>


                  <div class="col-md-6 text-right">
                    <p class="card-text"><b>Kiểu thanh toán:</b></p>
                  </div>
                  <div class="col-md-6">
                    {{ OrderdetailById.paymentMethod
                    === '1' ? 'Tiền mặt' : 'Chuyển khoản' }}
                  </div>

                </div>

                <div class="col-md-6" *ngIf="OrderdetailById.description">
                  <p><strong>Mô tả đơn hàng:</strong></p>
                  <textarea [(ngModel)]="OrderdetailById.description" rows="4"
                    style="width: 100%; resize: none;overflow: hidden;" readonly></textarea>

                </div>
              </div>

              <!-- <div class="col-md-6" *ngIf="OrderdetailById.status?.status_id !== 7">
                
              </div> -->


            </div>
          </div>



          <div class="product-list d-flex flex-row flex-nowrap overflow-auto"
            *ngIf="OrderdetailById.status?.status_id === 7" style="margin-bottom: 10px;">
            <ng-container *ngFor="let cate of OrderdetailById.requestImages; let i = index">
              <div class="d-flex me-3">
                <a class="me-3" target="_blank" [href]="cate.fullPath">
                  <div class="product-image-wrapper" style="cursor: pointer;">
                    <img [src]="cate.fullPath" class="product-image img-md img-thumbnail" />
                  </div>
                </a>
              </div>
            </ng-container>
          </div>

          <table class="table table-striped table-hover" *ngIf="OrderdetailById.status?.status_id !== 7">
            <thead>
              <tr>
                <th style="width: 3%;">STT</th>
                <th style="width: 35%;">Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Trạng thái</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of productOfOrder; let i = index">
                <td style="text-align: end;">{{ i + 1 }}</td> <!-- In số thứ tự, bắt đầu từ 1 -->
                <td>{{product?.product_name}} {{product?.request_product_name}}</td>
                <td style="text-align: right;">{{product?.quantity}}</td>
                <td>{{product?.price | number:'1.0-3'}}</td>
                <td>{{product?.status_job_name}}</td>

              </tr>
            </tbody>

          </table>

        </div>

        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button *ngIf="OrderdetailById?.status?.status_id === 10" (click)="contactUser(OrderdetailById.phoneNumber)"
            type="button" class="btn btn-primary">Liên hệ</button>


          <button type="button" class="btn btn-primary" *ngIf="OrderdetailById.status?.status_id === 1 
            && OrderdetailById.deposite !== null" (click)="sendMail(OrderdetailById.orderId)">Gửi mail</button>
        </div>
      </div>

    </div>
  </div>
</div>




<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận muốn hủy đơn hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="cancelReason">Lý do từ chối đơn hàng:</label>
          <textarea class="form-control" id="cancelReason" [(ngModel)]="cancelReason" rows="4" required></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" (click)="confirmCancel()">Xác nhận</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="myModalconfirm" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="myModalconfirm">Xác nhận thanh toán cọc</h2>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="closeModal($event) "
          (click)="cancelChangeStatusJob1()"></button>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-bottom: 20px;">
          <div class="col md-6">
            <label for="cancelReason">Nhập số tiền cọc cần thanh toán</label>
            <input min="0" type="number" class="form-control" id="percentDepositPrice" [(ngModel)]="depositeOrder"
              (ngModelChange)="formatInputValue($event)">
          </div>
          <div class="col md-6">
            <label>Số tiền cọc cần thanh toán </label>

            <p style="color: red; text-align: center;">{{ OrderdetailById.deposite | number :
              '1.0-3' }} VNĐ</p>
          </div>
        </div>




        <p>Số tiền cần thanh toán còn lại: {{ OrderdetailById.totalAmount - OrderdetailById.deposite | number :
          '1.0-3' }}</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal($event)"
          (click)="cancelChangeStatusJob1()">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="confirmPayment()">Chắc
          chắn
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="myModal">Cập nhật trạng thái đơn hàng</h2>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
          (click)="closeModal($event)"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn cập nhật trạng thái đơn hàng này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal($event)"
          (click)="cancelChangeStatusJob()">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="changeStatus(selectedModalJob,selectedModalId)">Chắc
          chắn</button>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal123" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="myModal">Thanh toán số tiền còn lại để hoàn thành đơn hàng</h2>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
          (click)="closeModal($event)"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col md-6">
            <label for="cancelReason">Nhập số tiền còn lại cần thanh toán</label>
            <input min="0" type="number" class="form-control" id="moneyFisinish" [(ngModel)]="remain_price">
          </div>
          <div class="col md-6">
            <label for="cancelReason">Số tiền cần thanh toán còn lại:</label>

            <p> {{ OrderdetailById.totalAmount - OrderdetailById.deposite | number :
              '1.0-3' }}</p>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal($event)"
          (click)="cancelChangeStatusJob()">Đóng</button>
        <button type="button" class="btn btn-primary"
          (click)="changeStatusFinish(selectedModalJob,selectedModalId)">Chắc
          chắn</button>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="refundProductModal" tabindex="-1" aria-labelledby="refundProductModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="refundProductModalLabel">Xác nhận hoàn tiền cho khách hàng</h2>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="closeModal($event); cancelRefundModal()"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col-md-6">
            <p class="mb-0">Mã đơn hàng: {{ OrderdetailById.code }}</p>
          </div>
          <div class="col-md-6">
            <p class="mb-0">Loại đơn hàng: {{ OrderdetailById.specialOrder ? 'Đơn hàng theo yêu cầu' : 'Đơn hàng có sẵn' }}</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-group">
              <label for="percentDepositPrice">Nhập số tiền hoàn đơn hàng</label>
              <span class="required-asterisk">*</span>
              <input type="number" class="form-control" id="percentDepositPrice" [(ngModel)]="percentDepositPrice" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="depositeAmount">Tổng số tiền đơn hàng (VNĐ)</label>
              <input class="form-control" id="depositeAmount" [(ngModel)]="OrderdetailById.totalAmount" [value]="depositeAmount | number : '1.0-3'" readonly>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-group">
              <label for="selectedReason">Chọn lý do  <span class="required-asterisk">*</span></label>
              <select class="form-control" id="selectedReason" [(ngModel)]="selectedReason">
                <option value="" selected>Chọn lý do</option>
                <option *ngFor="let ps of getStatusRefund" [value]="ps.refundId">{{ ps.refundName }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="depositeAmount">Tổng số tiền cọc hoàn lại (VNĐ)</label>
              <input class="form-control" id="depositeAmount" [(ngModel)]="OrderdetailById.deposite" [value]="depositeAmount | number : '1.0-3'" readonly>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="cancelReason">Nội dung hoàn tiền</label>
          <span class="required-asterisk">*</span>
          <textarea class="form-control" id="cancelReason" [(ngModel)]="cancelReasonPrice" rows="4" required></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal($event); cancelRefundModal()">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="RefundcancelOrder()">Chắc chắn</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalDateContact" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="myModalDateContact">Xác nhận gia hạn ngày hoàn thành đơn hàng</h2>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="closeModal($event)"
          (click)="cancelRefundModal()"></button>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="percentDepositPrice">Phần trăm giảm giá đơn hàng (%)</label> <span style="font-size: 16px;"
                class="required-asterisk">*</span>
              <input type="number" class="form-control" id="percentDepositPrice" [(ngModel)]="priceDiscount" required
                min="0" max="100">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="depositeAmount">Ngày hoàn thành mới</label><span style="font-size: 16px;"
                class="required-asterisk">*</span>
              <input type="date" class="form-control" id="depositeAmount" [(ngModel)]="datepriceDiscount">
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal($event)"
          (click)="cancelRefundModal()">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="DiscountOrder()">Chắc
          chắn
        </button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="isLoadding" class="loading-overlay">
  <div class="spinner"></div>
</div>