<app-dashboard></app-dashboard>

<div class="dashboard-main">
  <div class="container-fluid">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row " style="height: 60px;">
            <div class="col-sm-5 ">
              <h2 style="margin-bottom: 0;">Quản lí Sản Phẩm</h2>
            </div>
            <div class="col-sm-7 text-end d-flex align-items-center justify-content-end">
              <!-- Them san pham trong bang product -->
              <a *ngIf="isProduct" href="#" class="btn btn-secondary btn-sm" data-toggle="modal"
                data-target="#addProductModal" style="font-size: 14px;" (click)="resetFormAdd()">
                <i class="material-icons align-middle" style="font-size: 18px;">&#xE147;</i>
                <span class="align-middle">Thêm sản phẩm</span>
              </a>
              <!-- Them san pham trong bang request product theo yeu cau -->
              <a *ngIf="!isProduct" href="#" class="btn btn-secondary btn-sm" data-toggle="modal"
                data-target="#addRequestProductModal" style="font-size: 14px;" (click)="resetFormAdd()">
                <i class="material-icons align-middle" style="font-size: 18px;">&#xE147;</i>
                <span class="align-middle">Thêm sản phẩm theo yêu cầu</span>
              </a>
            </div>
          </div>

          <table class="table table-striped table-hover">
          </table>

          <div class="row">
            <div class="col-md-2"></div> <!-- Dummy column to push the search box to the right -->
            <div class="col-md-10 text-end">
              <div class="input-group mb-3">
                <!-- Chọn product thường hay product request -->
                <select [(ngModel)]="isProduct" (ngModelChange)="onIsProductChange($event)">
                  <option disabled selected>Chọn loại sản phẩm</option>
                  <option [ngValue]="true">Sản phẩm thường</option>
                  <option [ngValue]="false">Sản phẩm theo yêu cầu</option>
                </select>
                <!-- Sắp xếp giá tiền -->
                <select (change)="isProduct ? filterProducts() : filterProductsRequest()"
                  [(ngModel)]="selectedSortByPrice">
                  <option value="0" disabled selected>Sắp xếp giá tiền</option>
                  <option value="asc">Giá tăng dần</option>
                  <option value="desc">Giá giảm dần</option>
                </select>
                <!-- Chọn trạng thái -->
                <select [(ngModel)]="selectedStatus" (change)="isProduct ? filterProducts() : filterProductsRequest()">
                  <option [ngValue]="0" disabled selected>Chọn trạng thái</option>
                  <option *ngFor="let status of statuses" [ngValue]="status.status_id">{{ status.status_name }}</option>
                  <option value="">Tất cả trạng thái</option>
                </select>

                <!-- Chọn danh mục sản phẩm -->
                <select [(ngModel)]="selectedCategory" (change)="filterProducts()" *ngIf="isProduct">
                  <option [ngValue]="0" disabled selected>Chọn danh mục sản phẩm</option>
                  <option *ngFor="let category of categories" [ngValue]="category.categoryId">{{ category.categoryName}}
                  </option>
                  <option value="">Tất cả danh mục</option>
                </select>

                <!-- Tìm kiếm tên sản phẩm -->
                <input type="text" class="form-control" placeholder="Tìm kiếm tên sản phẩm..." [(ngModel)]="searchKey"
                  (keyup.enter)="isProduct ? filterProducts() : filterProductsRequest()">
                <button class="btn search-button" type="button"
                  (click)="isProduct ? filterProducts() : filterProductsRequest()">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>

        </div>

        <!-- table nay` cua product co san -->
        <table class="table table-striped table-hover" *ngIf="isProduct">
          <thead>
            <tr>
              <th>STT</th>
              <th>Mã sản phẩm</th>
              <th>Thao tác</th>
              <th>Ảnh đại diện</th>
              <th>Ngày hoàn thành</th>
              <th>Tên sản phẩm</th>
              <th>Mô tả</th>
              <th>Kiểu sản phẩm</th>
              <th>Số lượng</th>
              <th>Đơn giá (vnđ)</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">
              <td>{{ i + 1 + (currentPage - 1) * 10 }}</td>
              <td>{{ product.code }}</td>
              <td class="action-buttons">

                <a href="#" class="settings" title="Chỉnh sửa" data-toggle="modal" data-target="#editProductModal"
                  (click)="editProduct(product.productId)">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="#" class="delete" title="Xóa" data-toggle="modal" data-target="#confirmDeleteModal"
                  (click)="openConfirmDeleteModal(product.productId, product.productName)">
                  <i class="fa-regular fa-trash-can"></i>
                </a>
                <!-- <a href="#" class="info" title="Chi tiết" data-toggle="modal" data-target="#productDetailModal">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                
                </a> -->

              </td>
              <td> <a [href]="product.image" target="_blank">
                  <img class="img_product" [src]="product.image" alt="Ảnh đại diện">
                </a></td>
              <td>{{ product.completionTime }}</td>
              <td>{{ product.productName }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.categories.categoryName }}</td>
              <td>{{ product.quantity }}</td>
              <td>{{ product.price | number: '1.0-3' }}</td>
            </tr>

          </tbody>
        </table>
        <!-- table na`y cua product theo yeu cau -->
        <table class="table table-striped table-hover" *ngIf="!isProduct">
          <thead>
            <tr>
              <th>STT</th>
              <th>Mã yêu cầu</th>
              <th>Thao tác</th>
              <th>Ảnh đại diện</th>
              <th>Ngày hoàn thành</th>
              <th>Tên sản phẩm</th>
              <th>Mô tả</th>
              <!-- <th>Kiểu sản phẩm</th> -->
              <th>Số lượng</th>
              <th>Đơn giá (vnđ)</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">
              <td>{{ i + 1 + (currentPage - 1) * 10 }}</td>
              <td>{{ product.code }}</td>
              <td class="action-buttons">

                <a href="#" class="settings" title="Chỉnh sửa sản phẩm có sẵn" data-toggle="modal"
                  data-target="#editProductRequestModal" (click)="editProductRequest(product.re_productId)">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="#" class="delete" title="Xóa" data-toggle="modal"
                  data-target="#confirmDeleteRequestProductModal"
                  (click)="openConfirmDeleteModal(product.re_productId, product.re_productName)">
                  <i class="fa-regular fa-trash-can"></i>
                </a>
                <!-- <a href="#" class="info" title="Chi tiết" data-toggle="modal" data-target="#productDetailModal">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </a> -->

              </td>
              <td>
                <a [href]="product.imageList[0]?.fullPath" target="_blank">
                  <img class="img_product" [src]="product.imageList[0]?.fullPath" alt="Ảnh đại diện">
                </a>
              </td>
              <td>{{ product.completionTime }}</td>
              <td>{{ product.re_productName }}</td>
              <td>{{ product.description }}</td>
              <!-- <td>{{ product.categories.categoryName }}</td> -->
              <td>{{ product.quantity }}</td>
              <td>{{ product.price | number: '1.0-3' }}</td>
            </tr>

          </tbody>
        </table>
        <pagination-controls style="justify-content: right; display: flex;"
          (pageChange)="currentPage = $event"></pagination-controls>
        <div class="clearfix" style="justify-content: right; display: flex;">
          <div class="hint-text">Showing <b>{{ (currentPage - 1) * 10 + 1 }}</b> to <b>{{ currentPage * 10
              > products.length ? products.length : currentPage * 10 }}</b> out of <b>{{
              products.length }}</b> entries</div>
        </div>


      </div>
    </div>
  </div>
</div>

<!-- Modal for Adding Product -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-wide" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <label style="font-size: 32px;" for="productName">Thêm sản phẩm</label>
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label style="font-size: 16px;" for="productName">Tên sản phẩm</label>
            <input type="text" class="form-control" id="productName" formControlName="product_name">
          </div>
          <div class="form-group">
            <label style="font-size: 16px;" for="productDescription">Mô tả</label>
            <textarea class="form-control" id="productDescription" rows="3" formControlName="description"></textarea>
          </div>
          <div class="form-group">
            <label style="font-size: 16px;" for="productCategory">Kiểu sản phẩm</label>
            <select class="form-control" id="productCategory" formControlName="category_id">
              <option [ngValue]="null" disabled selected>Loại sản phẩm</option>
              <option *ngFor="let category of categories" [ngValue]="category.categoryId">{{ category.categoryName }}
              </option>
            </select>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label style="font-size: 16px;" for="productPrice">Đơn giá</label>
              <input type="number" min="0" class="form-control" id="productPrice" formControlName="price">
            </div>
            <div class="form-group col-md-6">
              <label style="font-size: 16px;" for="selectedStatus">Tình trạng</label>
              <select class="form-control" id="selectedStatus">
                <option disabled selected>Chọn trạng thái</option>
                <option *ngFor="let status of statuses" [ngValue]="status.status_id">{{ status.status_name }}</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label style="font-size: 16px;" for="productImages">Ảnh sản phẩm (Chọn nhiều)</label>
              <input type="file" class="form-control-file" id="productImages" multiple
                (change)="onImagesSelected($event)">
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
              <button (click)="onResetImage()" class="btn"
                style="height: calc(2.25rem + 2px); padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; border-radius: 0.25rem; border: 1px solid #ced4da; background-color: #fff; color: #495057;">
                Làm mới</button>
            </div>
            <div class="form-group col-md-4">
              <label style="font-size: 16px;" for="thumbnailImage">Ảnh đại diện sản phẩm</label>
              <input type="file" class="form-control-file" id="thumbnailImage" (change)="onThumbnailSelected($event)">
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
              <button (click)="onResetThumbnail()" class="btn"
                style="height: calc(2.25rem + 2px); padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; border-radius: 0.25rem; border: 1px solid #ced4da; background-color: #fff; color: #495057;">
                Làm mới</button>
            </div>
          </div>
          <!-- Preview anh -->
          <div class="form-row">
            <div class="form-group col-md-6" *ngIf="selectedImages">
              <img *ngFor="let imageUrl of imagesPreview" [src]="imageUrl" class="previewMultiple">
            </div>
            <div class="form-group col-md-6">
              <img *ngIf="selectedThumbnail" [src]="thumbnailPreview" class="preview">
            </div>
          </div>
          <!-- Mảng các vật liệu cần có trong product -->
          <hr>
          <label style="font-size: 16px;">Bảng ước tính nguyên vật liệu</label>
          <form [formGroup]="materialForm">
            <div formArrayName="items">
              <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="row mb-3">
                <!-- Thêm select cho materialId -->
                <div class="col-md-2 mb-3">
                  <div class="form-group">
                    <label for="materialId-{{i}}">Loại vật liệu</label>
                    <select id="materialId-{{i}}" class="form-control" formControlName="materialId"
                      (change)="onMaterialChange($event, i)">
                      <option *ngFor="let material of materials" [value]="material.materialId">{{ material.materialName
                        }}</option>
                    </select>
                  </div>
                </div>
                <!-- subMaterial -->
                <div class="col-md-4 mb-3">
                  <div class="form-group">
                    <label for="subMaterialId-{{i}}">Vật liệu</label>
                    <select id="subMaterialId-{{i}}" class="form-control" formControlName="subMaterialId"
                      *ngIf="subMaterials[i]" (change)="onSubMaterialChange($event, i)">
                      <option *ngFor="let subMaterial of subMaterials[i]" [value]="subMaterial?.subMaterialId">{{
                        subMaterial?.subMaterialName
                        }}</option>
                    </select>
                  </div>
                </div>
                <!-- Giá (VNĐ) -->
                <div class="col-md-2 mb-2">
                  <div class="form-group">
                    <label for="price-{{i}}">Giá</label>
                    <input id="price-{{i}}" class="form-control" formControlName="price" type="text"
                      [value]="unitPriceSubMaterial[i]" readonly="">
                  </div>
                </div>
                <!-- Đơn vị vật liệu -->
                <div class="col-md-2 mb-3">
                  <div class="form-group">
                    <label for="subMaterialId-{{i}}">Đơn vị</label>
                    <input id="price-{{i}}" class="form-control" formControlName="" type="text"
                      [value]="materialType[i]" readonly="">
                  </div>
                </div>
                <!-- Input cho số lượng -->
                <div class="col-md-1 mb-3">
                  <div class="form-group">
                    <label for="quantity-{{i}}">Số lượng</label>
                    <input id="quantity-{{i}}" class="form-control" formControlName="quantity" type="number" min="0"
                      [(ngModel)]="quantityPerSubMaterial[i]" (change)="onQuantityChange($event, i)"
                      placeholder="Nhập số lượng">
                  </div>
                </div>
                <!-- Nút xóa -->
                <div class="col-md-1 mb-3 d-flex align-items-center">
                  <button type="button" class="btn btn-danger" (click)="removeItem(i)">Xóa</button>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-secondary" (click)="addItem()">Thêm nguyên vật liệu ước tính</button>
          </form>
          <hr>
          <div class="total-price">
            Tổng giá: {{totalUnitPrice | number: '1.0-3'}} VNĐ
          </div>
          <div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-mau-do" data-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Adding Request Product -->
<div class="modal fade" id="addRequestProductModal" tabindex="-1" role="dialog"
  aria-labelledby="addRequestProductModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-wide" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <label style="font-size: 32px;" for="productName">Thêm sản phẩm theo yêu cầu</label>
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmitProductRequest()">
          <!-- auto complete request -->
          <div class="form-row">
            <div class="form-group col-md-12">
              <label style="font-size: 16px;" for="request_id">Chọn yêu cầu</label>
              <div class="ng-autocomplete">
                <ng-autocomplete *ngIf="requests" [data]="requests" [searchKeyword]="keyword"
                  placeholder="Enter the request's code" [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate" (selected)="onRequestIdSelected($event)">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.code"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="form-row" hidden>
            <div class="form-group col-md-12">
              <label style="font-size: 16px;" for="request_id">Chọn yêu cầu</label>
              <input type="number" class="form-control" id="request_id" formControlName="request_id">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label style="font-size: 16px;" for="requestProductName">Tên sản phẩm theo yêu cầu</label>
              <input type="text" class="form-control" id="requestProductName" formControlName="requestProductName">
            </div>
            <div class="form-group col-md-4">
              <label style="font-size: 16px;" for="quantity">Số lượng</label>
              <input type="number" min="0" class="form-control" id="quantity" formControlName="quantity">
            </div>
          </div>

          <div class="form-group">
            <label style="font-size: 16px;" for="productDescription">Mô tả</label>
            <textarea class="form-control" id="productDescription" rows="3" formControlName="description"></textarea>
          </div>
          <!-- <div class="form-group">
            <label style="font-size: 16px;" for="productCategory">Kiểu sản phẩm</label>
            <select class="form-control" id="productCategory" formControlName="category_id">
              <option [ngValue]="null" disabled selected>Loại sản phẩm</option>
              <option *ngFor="let category of categories" [ngValue]="category.categoryId">{{ category.categoryName }}
              </option>
            </select>
          </div> -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label style="font-size: 16px;" for="productPrice">Đơn giá</label>
              <input type="number" min="0" class="form-control" id="productPrice" formControlName="price">
            </div>
            <div class="form-group col-md-6">
              <label style="font-size: 16px;" for="completionTime">Thời gian hoàn thành</label>
              <input type="date" class="form-control" id="completionTime" name="completionTime"
                formControlName="completionTime">
            </div>
            <!-- <div class="form-group col-md-6">
              <label style="font-size: 16px;" for="selectedStatus">Tình trạng</label>
              <select class="form-control" id="selectedStatus">
                <option disabled selected>Chọn trạng thái</option>
                <option *ngFor="let status of statuses" [ngValue]="status.status_id">{{ status.status_name }}</option>
              </select>
            </div> -->
          </div>
          <div class="form-row">
            <div class="form-group col-md-10">
              <label style="font-size: 16px;" for="productImages">Ảnh sản phẩm (Chọn nhiều)</label>
              <input type="file" class="form-control-file" id="productImages" multiple
                (change)="onImagesSelected($event)">
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
              <button (click)="onResetImage()" class="btn"
                style="height: calc(2.25rem + 2px); padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; border-radius: 0.25rem; border: 1px solid #ced4da; background-color: #fff; color: #495057;">
                Làm mới</button>
            </div>
          </div>
          <!-- Preview anh -->
          <div class="form-row">
            <div class="form-group col-md-12" *ngIf="selectedImages">
              <img *ngFor="let imageUrl of imagesPreview" [src]="imageUrl" class="previewMultiple">
            </div>
            <!-- <div class="form-group col-md-6">
              <img *ngIf="selectedThumbnail" [src]="thumbnailPreview" class="preview">
            </div> -->
          </div>
          <!-- Mảng các vật liệu cần có trong product -->
          <hr>
          <label style="font-size: 16px;">Bảng ước tính nguyên vật liệu</label>
          <form [formGroup]="materialForm">
            <div formArrayName="items">
              <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="row mb-3">
                <!-- Thêm select cho materialId -->
                <div class="col-md-2 mb-3">
                  <div class="form-group">
                    <label for="materialId-{{i}}">Loại vật liệu</label>
                    <select id="materialId-{{i}}" class="form-control" formControlName="materialId"
                      (change)="onMaterialChange($event, i)">
                      <option *ngFor="let material of materials" [value]="material.materialId">{{ material.materialName
                        }}</option>
                    </select>
                  </div>
                </div>
                <!-- subMaterial -->
                <div class="col-md-4 mb-3">
                  <div class="form-group">
                    <label for="subMaterialId-{{i}}">Vật liệu</label>
                    <select id="subMaterialId-{{i}}" class="form-control" formControlName="subMaterialId"
                      *ngIf="subMaterials[i]" (change)="onSubMaterialChange($event, i)">
                      <option *ngFor="let subMaterial of subMaterials[i]" [value]="subMaterial?.subMaterialId">{{
                        subMaterial?.subMaterialName
                        }}</option>
                    </select>
                  </div>
                </div>
                <!-- Giá (VNĐ) -->
                <div class="col-md-2 mb-2">
                  <div class="form-group">
                    <label for="price-{{i}}">Giá</label>
                    <input id="price-{{i}}" class="form-control" formControlName="price" type="text"
                      [value]="unitPriceSubMaterial[i]" readonly="">
                  </div>
                </div>
                <!-- Đơn vị vật liệu -->
                <div class="col-md-2 mb-3">
                  <div class="form-group">
                    <label for="subMaterialId-{{i}}">Đơn vị</label>
                    <input id="price-{{i}}" class="form-control" formControlName="" type="text"
                      [value]="materialType[i]" readonly="">
                  </div>
                </div>
                <!-- Input cho số lượng -->
                <div class="col-md-1 mb-3">
                  <div class="form-group">
                    <label for="quantity-{{i}}">Số lượng</label>
                    <input id="quantity-{{i}}" class="form-control" formControlName="quantity" type="number" min="0"
                      [(ngModel)]="quantityPerSubMaterial[i]" (change)="onQuantityChange($event, i)"
                      placeholder="Nhập số lượng">
                  </div>
                </div>
                <!-- Nút xóa -->
                <div class="col-md-1 mb-3 d-flex align-items-center">
                  <button type="button" class="btn btn-danger" (click)="removeItem(i)">Xóa</button>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-secondary" (click)="addItem()">Thêm nguyên vật liệu ước tính</button>
          </form>
          <hr>
          <div class="total-price">
            Tổng giá: {{totalUnitPrice | number: '1.0-3'}} VNĐ
          </div>
          <div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-mau-do" data-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Editing Product -->

<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-wide" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="editProductModalLabel">Chỉnh sửa sản phẩm</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data" [formGroup]="editForm" (ngSubmit)="onEditSubmit()">

          <div class="form-group">
            <label style="font-size: 16px;" for="editProductName">Tên sản phẩm</label>
            <input type="text" class="form-control" id="editProductName" name="editProductName"
              formControlName="product_name">

          </div>

          <div class="form-group">
            <label style="font-size: 16px;" for="editProductDescription">Mô tả</label>
            <textarea class="form-control" id="editProductDescription" rows="3" name="editProductDescription"
              formControlName="description"></textarea>
          </div>

          <div class="form-group">
            <label style="font-size: 16px;" for="editProductCategory">Kiểu sản phẩm</label>
            <select class="form-control" id="editProductCategory" name="editProductCategory"
              formControlName="category_id">
              <option [ngValue]="null" disabled selected>Loại sản phẩm</option>
              <option *ngFor="let category of categories" [ngValue]="category.categoryId">{{ category.categoryName }}
              </option>
            </select>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label style="font-size: 16px;" for="editProductCompletionTime">Thời gian hoàn thành</label>
              <input type="date" class="form-control" id="editProductCompletionTime" name="editProductCompletionTime"
                formControlName="completionTime">
            </div>
            <div class="form-group col-md-6">
              <label style="font-size: 16px;" for="editProductEndDate">Ngày kết thúc bảo hành</label>
              <input type="date" class="form-control" id="editProductEndDate" name="editProductEndDate"
                formControlName="enddateWarranty">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label style="font-size: 16px;" for="editProductPrice">Đơn giá</label>
              <input type="number" min="0" class="form-control" id="editProductPrice" name="editProductPrice"
                formControlName="price">
            </div>
            <div class="form-group col-md-6">
              <label style="font-size: 16px;" for="editSelectedStatus">Tình trạng</label>
              <select class="form-control" formControlName="status_id">
                <option [ngValue]="0" disabled selected>Chọn trạng thái</option>
                <option *ngFor="let status of statuses" [ngValue]="status.status_id">{{ status.status_name }}</option>
                <option value="null">Tất cả trạng thái</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label style="font-size: 16px;" for="editSelectedStatus">Số lượng</label>
            <input type="number" min="0" class="form-control" id="editProductQuantity" name="editProductQuantity"
              formControlName="quantity">
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label style="font-size: 16px;" for="editProductImages">Ảnh sản phẩm (Chọn nhiều)</label>
              <input type="file" class="form-control-file" id="editProductImages" name="editProductImages" multiple
                (change)="onImagesSelected($event)">
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
              <button type="button" (click)="onResetImage()" class="btn"
                style="height: calc(2.25rem + 2px); padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; border-radius: 0.25rem; border: 1px solid #ced4da; background-color: #fff; color: #495057;">
                Làm mới</button>
            </div>
            <div class="form-group col-md-4">
              <label style="font-size: 16px;" for="editThumbnailImage">Ảnh đại diện sản phẩm</label>
              <input type="file" class="form-control-file" id="editThumbnailImage" name="editThumbnailImage"
                (change)="onThumbnailSelected($event)">
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
              <button type="button" (click)="onResetThumbnail()" class="btn"
                style="height: calc(2.25rem + 2px); padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; border-radius: 0.25rem; border: 1px solid #ced4da; background-color: #fff; color: #495057;">
                Làm mới</button>
            </div>
          </div>
          <!-- Preview anh -->
          <div class="form-row">
            <div class="form-group col-md-6" *ngIf="imagesPreview">
              <a *ngFor="let imageUrl of imagesPreview" [href]="imageUrl" target="_blank">
                <img [src]="imageUrl" class="previewMultiple">
              </a>
            </div>
            <div class="form-group col-md-6" *ngIf="thumbnailPreview">
              <a [href]="thumbnailPreview" target="_blank">
                <img [src]="thumbnailPreview" class="preview">
              </a>
            </div>
          </div>
          <!-- Mảng các vật liệu cần có trong Edit product -->
          <hr>
          <label style="font-size: 16px;">Bảng ước tính nguyên vật liệu</label>
          <form [formGroup]="formSubMaterialPerProduct">
            <div formArrayName="itemsEdit">
              <div *ngFor="let item of itemsEditArray.controls; let i = index" [formGroupName]="i" class="row mb-3">
                <!-- Thêm select cho materialId -->
                <div class="col-md-2 mb-3">
                  <div class="form-group">
                    <label for="materialId-{{i}}">Loại vật liệu</label>
                    <select id="materialId-{{i}}" class="form-control" formControlName="materialId"
                      (change)="onMaterialChange($event, i)">
                      <option *ngFor="let material of materials" [value]="material.materialId">{{ material.materialName
                        }}</option>
                    </select>
                  </div>
                </div>
                <!-- subMaterial -->
                <div class="col-md-4 mb-3">
                  <div class="form-group">
                    <label for="subMaterialId-{{i}}">Vật liệu</label>
                    <select id="subMaterialId-{{i}}" class="form-control" *ngIf="subMaterials[i]"
                      (change)="onSubMaterialChange($event, i)" formControlName="subMaterialId">
                      <option *ngFor="let subMaterial of subMaterials[i]" [value]="subMaterial?.subMaterialId">{{
                        subMaterial?.subMaterialName
                        }}</option>
                    </select>
                  </div>
                </div>
                <!-- Giá (VNĐ) -->
                <div class="col-md-2 mb-2">
                  <div class="form-group">
                    <label for="price-{{i}}">Giá (VNĐ)</label>
                    <input id="price-{{i}}" class="form-control" formControlName="unitPrice" type="text"
                      [value]="unitPriceSubMaterial[i]" readonly="">
                  </div>
                </div>
                <!-- Đơn vị vật liệu -->
                <div class="col-md-2 mb-3">
                  <div class="form-group">
                    <label for="subMaterialId-{{i}}">Đơn vị</label>
                    <input id="price-{{i}}" class="form-control" formControlName="" type="text"
                      [value]="materialType[i]" readonly="" formControlName="materialType">
                  </div>
                </div>
                <!-- Input cho số lượng -->
                <div class="col-md-1 mb-3">
                  <div class="form-group">
                    <label for="quantity-{{i}}">Số lượng</label>
                    <input id="quantity-{{i}}" class="form-control" formControlName="quantity" type="number" min="0"
                      (change)="onQuantityChangeEditForm($event, i)" placeholder="Nhập số lượng">
                  </div>
                </div>
                <!-- Nút xóa -->
                <div class="col-md-1 mb-3 d-flex align-items-center">
                  <button type="button" class="btn btn-danger" (click)="removeItemEdit(i)">Xóa</button>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-secondary" (click)="addItemEdit()">Thêm nguyên vật liệu ước
              tính</button>
          </form>
          <hr>
          <div class="total-price">
            Tổng giá: {{totalUnitPrice | number: '1.0-3'}} VNĐ
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-mau-do" data-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Editing Product Request -->

<div class="modal fade" id="editProductRequestModal" tabindex="-1" role="dialog"
  aria-labelledby="editProductRequestModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-wide" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="editProductRequestModalLabel">Chỉnh sửa sản phẩm theo yêu cầu</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data" [formGroup]="editForm" (ngSubmit)="onEditRequestProductSubmit()">

          <div class="form-group">
            <label style="font-size: 16px;" for="editProductName">Tên sản phẩm</label>
            <input type="text" class="form-control" id="editProductName" name="editProductName"
              formControlName="requestProductName">
          </div>

          <div class="form-group">
            <label style="font-size: 16px;" for="editProductDescription">Mô tả</label>
            <textarea class="form-control" id="editProductDescription" rows="3" name="editProductDescription"
              formControlName="description"></textarea>
          </div>

          <!-- <div class="form-group">
            <label style="font-size: 16px;" for="editProductCategory">Kiểu sản phẩm</label>
            <select class="form-control" id="editProductCategory" name="editProductCategory"
              formControlName="category_id">
              <option [ngValue]="null" disabled selected>Loại sản phẩm</option>
              <option *ngFor="let category of categories" [ngValue]="category.categoryId">{{ category.categoryName }}
              </option>
            </select>
          </div> -->

          <div class="form-row">
            <div class="form-group col-md-12">
              <label style="font-size: 16px;" for="editProductCompletionTime">Thời gian hoàn thành</label>
              <input type="date" class="form-control" id="editProductCompletionTime" name="editProductCompletionTime"
                formControlName="completionTime">
            </div>
            <!-- <div class="form-group col-md-6">
              <label style="font-size: 16px;" for="editProductEndDate">Ngày kết thúc bảo hành</label>
              <input type="date" class="form-control" id="editProductEndDate" name="editProductEndDate"
                formControlName="enddateWarranty">
            </div> -->
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label style="font-size: 16px;" for="editProductPrice">Đơn giá</label>
              <input type="number" min="0" class="form-control" id="editProductPrice" name="editProductPrice"
                formControlName="price">
            </div>
            <div class="form-group col-md-6">
              <label style="font-size: 16px;" for="editSelectedStatus">Tình trạng</label>
              <select class="form-control" formControlName="status_id">
                <option [ngValue]="0" disabled selected>Chọn trạng thái</option>
                <option *ngFor="let status of statuses" [ngValue]="status.status_id">{{ status.status_name }}</option>
                <option value="null">Tất cả trạng thái</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label style="font-size: 16px;" for="editSelectedStatus">Số lượng</label>
            <input type="number" min="0" class="form-control" id="editProductQuantity" name="editProductQuantity"
              formControlName="quantity">
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label style="font-size: 16px;" for="editProductImages">Ảnh sản phẩm (Chọn nhiều)</label>
              <input type="file" class="form-control-file" id="editProductImages" name="editProductImages" multiple
                (change)="onImagesSelected($event)">
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
              <button type="button" (click)="onResetImage()" class="btn"
                style="height: calc(2.25rem + 2px); padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; border-radius: 0.25rem; border: 1px solid #ced4da; background-color: #fff; color: #495057;">
                Làm mới</button>
            </div>
            <!-- <div class="form-group col-md-4">
              <label style="font-size: 16px;" for="editThumbnailImage">Ảnh đại diện sản phẩm</label>
              <input type="file" class="form-control-file" id="editThumbnailImage" name="editThumbnailImage"
                (change)="onThumbnailSelected($event)">
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
              <button type="button" (click)="onResetThumbnail()" class="btn"
                style="height: calc(2.25rem + 2px); padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; border-radius: 0.25rem; border: 1px solid #ced4da; background-color: #fff; color: #495057;">
                Làm mới</button>
            </div> -->
          </div>
          <!-- Preview anh -->
          <div class="form-row">
            <div class="form-group col-md-6" *ngIf="imagesPreview">
              <a *ngFor="let imageUrl of imagesPreview" [href]="imageUrl" target="_blank">
                <img [src]="imageUrl" class="previewMultiple">
              </a>
            </div>
            <!-- <div class="form-group col-md-6" *ngIf="thumbnailPreview">
              <img [src]="thumbnailPreview" class="preview">
            </div> -->
          </div>
          <!-- Mảng các vật liệu cần có trong Edit product -->
          <hr>
          <label style="font-size: 16px;">Bảng ước tính nguyên vật liệu</label>
          <form [formGroup]="formSubMaterialPerProduct">
            <div formArrayName="itemsEdit">
              <div *ngFor="let item of itemsEditArray.controls; let i = index" [formGroupName]="i" class="row mb-3">
                <!-- Thêm select cho materialId -->
                <div class="col-md-2 mb-3">
                  <div class="form-group">
                    <label for="materialId-{{i}}">Loại vật liệu</label>
                    <select id="materialId-{{i}}" class="form-control" formControlName="materialId"
                      (change)="onMaterialChange($event, i)">
                      <option *ngFor="let material of materials" [value]="material.materialId">{{ material.materialName
                        }}</option>
                    </select>
                  </div>
                </div>
                <!-- subMaterial -->
                <div class="col-md-4 mb-3">
                  <div class="form-group">
                    <label for="subMaterialId-{{i}}">Vật liệu</label>
                    <select id="subMaterialId-{{i}}" class="form-control" *ngIf="subMaterials[i]"
                      (change)="onSubMaterialChange($event, i)" formControlName="subMaterialId">
                      <option *ngFor="let subMaterial of subMaterials[i]" [value]="subMaterial?.subMaterialId">{{
                        subMaterial?.subMaterialName
                        }}</option>
                    </select>
                  </div>
                </div>
                <!-- Giá (VNĐ) -->
                <div class="col-md-2 mb-2">
                  <div class="form-group">
                    <label for="price-{{i}}">Giá (VNĐ)</label>
                    <input id="price-{{i}}" class="form-control" formControlName="unitPrice" type="text"
                      [value]="unitPriceSubMaterial[i]" readonly="">
                  </div>
                </div>
                <!-- Đơn vị vật liệu -->
                <div class="col-md-2 mb-3">
                  <div class="form-group">
                    <label for="subMaterialId-{{i}}">Đơn vị</label>
                    <input id="price-{{i}}" class="form-control" formControlName="" type="text"
                      [value]="materialType[i]" readonly="" formControlName="materialType">
                  </div>
                </div>
                <!-- Input cho số lượng -->
                <div class="col-md-1 mb-3">
                  <div class="form-group">
                    <label for="quantity-{{i}}">Số lượng</label>
                    <input id="quantity-{{i}}" class="form-control" formControlName="quantity" type="number" min="0"
                      (change)="onQuantityChangeEditForm($event, i)" placeholder="Nhập số lượng">
                  </div>
                </div>
                <!-- Nút xóa -->
                <div class="col-md-1 mb-3 d-flex align-items-center">
                  <button type="button" class="btn btn-danger" (click)="removeItemEdit(i)">Xóa</button>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-secondary" (click)="addItemEdit()">Thêm nguyên vật liệu ước
              tính</button>
          </form>
          <hr>
          <div class="total-price">
            Tổng giá: {{totalUnitPrice | number: '1.0-3'}} VNĐ
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-mau-do" data-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal for Delete Product -->

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="confirmDeleteModal">
        Are you sure you want to delete this product "{{ selectedProductNameCurrentDelele }}" ?
      </div>
      <div class="modal-footer" id="confirmDeleteModal">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteProduct()">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Delete Product Request -->

<div class="modal fade" id="confirmDeleteRequestProductModal" tabindex="-1" role="dialog"
  aria-labelledby="confirmDeleteRequestProductModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteRequestProductModalLabel">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="confirmDeleteRequestProductModal">
        Are you sure you want to delete this product "{{ selectedProductNameCurrentDelele }}" ?
      </div>
      <div class="modal-footer" id="confirmDeleteRequestProductModal">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteProductRequest()">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal for Product Detail -->
<div class="modal fade" id="productDetailModal" tabindex="-1" role="dialog" aria-labelledby="productDetailModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productDetailModalLabel">Product Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <img class="img-fluid" [src]="" alt="Product Image">
          </div>
          <div class="col-md-6">
            <h4></h4>
            <p><strong>Description:</strong> </p>
            <p><strong>Category:</strong> </p>
            <p><strong>Quantity:</strong> </p>
            <p><strong>Price (vnđ):</strong> </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- loadding man` hinh` -->
<div *ngIf="isLoadding" class="loading-overlay">
  <div class="spinner"></div>
</div>