<app-dashboard></app-dashboard>

<div class="dashboard-main">
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row" style="height: 60px;">
                        <div class="col-sm-5">
                            <h2>Tổng lương nhân viên</h2>
                        </div>
                        <div class="col-sm-7 text-end d-flex align-items-center justify-content-end">
                            <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#addProductModal">
                                <i class="material-icons">&#xE147;</i> <span>Thêm Sản Phẩm</span>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <span style="margin-right: 5px;">Nhập/Xuất Excel </span> <i
                                    class="fa-solid fa-file-excel"></i>
                            </a>

                        </div>

                    </div>
                    <table class="table table-striped table-hover">
                    </table>
                    <div class="row">
                        <div class="col-md-7">
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-5 d-flex justify-content-end">
                                <div class="input-group mb-3">
                                    <select [(ngModel)]="selectedPosition" (change)="onSearchPosition(selectedPosition)" class="form-select">
                                        <option [ngValue]="0" [(ngModel)]="selectedPosition" disabled selected>Chọn vị trí thợ</option>
                                        <option *ngFor="let category of positionEmpList" [ngValue]="category.position_id">
                                            {{ category.position_name }}
                                        </option>
                                    </select>
                        
                                    <div class="ng-autocomplete" style="width: 50%; margin-left: 5px;">
                                        <ng-autocomplete *ngIf="employeeList" [data]="employeeList" [searchKeyword]="keyword"
                                            placeholder="Nhập tên nhân viên tìm kiếm" historyIdentifier="employeeList"
                                            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" (selected)="selectEmp($event)">
                                        </ng-autocomplete>
                        
                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="sanitize(item.username)"></a>
                                        </ng-template>
                        
                                        <ng-template #notFoundTemplate let-notFound>
                                            <div>Không tìm thấy nhân viên hợp lệ!</div>
                                        </ng-template>
                                    </div>
                        
                                    <button class="btn search-button ms-2" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                   </div>

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã việc làm</th>
                                <th>Thao tác</th>
                                <th>Tên việc làm</th>
                                <th>Nhân viên</th>
                                <th>Tình trạng</th>
                                <th>Đơn giá (vnd)</th>
                                <th>Số lượng</th>


                            </tr>
                        </thead>

                        <tbody>
                            <tr
                                *ngFor="let product of totalSalary | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">
                                <td>{{ i + 1 + (currentPage - 1) * 10 }}</td>
                                <td>{{ product?.code }}</td>
                                <td class="action-buttons">
                                    <a href="#" class="settings" title="Chỉnh sửa" data-toggle="modal"
                                        data-target="#editProductModal">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a href="#" class="delete" title="Xóa" data-toggle="modal"
                                        data-target="#confirmDeleteModal">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </a>
                                    <a style="margin-left: 10px;" class="info" title="Chi tiết" data-toggle="modal"
                                        data-target="#productDetailModal">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </a>
                                </td>
                                <td>{{ product.job_name }}</td>

                                <td>{{ product.user_name }}</td>
                                <td>{{ product.status_job_name }}</td>
                                <td>{{ product.cost }}</td>
                                <td>{{ product.quantity }}</td>


                            </tr>
                        </tbody>

                    </table>

                    <pagination-controls style="justify-content: right; display: flex; color: black;"
                        (pageChange)="currentPage = $event" previousLabel="Trang trước" nextLabel="Trang sau">
                    </pagination-controls>
                    <div class="clearfix" style="justify-content: right; display: flex;">
                        <div class="hint-text">Hiển thị <b>{{ (currentPage - 1) * 10 + 1 }}</b> tới <b>{{
                                currentPage * 10
                                > totalSalary.length ? totalSalary.length : currentPage * 10 }}</b> trong tổng <b>{{
                                totalSalary.length }}</b> bản ghi</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="assignJobModal" role="d" aria-labelledby="assignJobModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="assignJobModalLabel">Chi tiết giao việc làm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    <div class="container">
                        <div class="card order-detail-card">
                            <div class="card-body p-4">
                                <div class="row">
                                    <div class="col-md-5">
                                        <section class="customer-info mb-4">
                                            <h5>Thông tin nhân viên</h5>
                                            <p style="margin-left: 15px;">
                                                <!-- <strong>Tên nhân viên:</strong> <select class="form-select" [(ngModel)]="selectedEmployee">
                                                <option value="" disabled selected>Chọn nhân viên</option>
                                                <option value="none" disabled>Không chọn</option>
                                                <option *ngFor="let employee of positionEmployees" [ngValue]="employee.userId">{{ employee.username }}</option>
                                              </select> -->
                                            </p>
                                            <div>



                                            </div>
                                            <!-- <p style="margin-left: 15px;">
                                            <strong>Số lượng:</strong> {{ selectedProduct.quantity }}
                                        </p>
                                        <p style="margin-left: 15px;">
                                            <strong>Giá công khoán:</strong> {{ selectedProduct.price | number: '1.0-3' }}
                                        </p> -->

                                        </section>
                                    </div>
                                    <div class="col-md-1 d-flex align-items-stretch"
                                        style="border-left: 2px solid #ddd; margin-left: 30px;"></div>
                                    <div class="col-md-5">
                                        <section class="order-summary mb-4">
                                            <h5>Mô tả việc làm</h5>
                                            <!-- <p style="margin-left: 15px;">
                                            <strong>Mã đơn hàng:</strong> {{ selectedProduct.code }}
                                        </p>
                                        <p style="margin-left: 15px;">
                                            <strong>Tên công việc:</strong> {{ selectedProduct.product_name }}
                                        </p> -->
                                            <p style="margin-left: 15px;">
                                                <strong>Thời gian yêu cầu hoàn thành công việc:</strong>
                                                <!-- thêm thời gian yêu cầu hoàn thành nếu có -->
                                            </p>
                                        </section>
                                    </div>
                                </div>
                                <div class="customer-info">
                                    <h5>Mô tả chi tiết yêu cầu việc làm</h5>
                                    <textarea class="form-control" rows="6"
                                        placeholder="Nhập mô tả chi tiết..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-primary" (click)="assignJob()">Tạo việc</button> -->
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>