<div class="ng-autocomplete">
    <ng-autocomplete *ngIf="products" [data]="products" [searchKeyword]="keyword" placeholder="Enter the product's name"
        historyIdentifier="products" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.productName"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
        <div>No results found!</div>
    </ng-template>

</div>
