<app-header></app-header>
<div class="container" style="margin-top: 160px;">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="custom-avatar">
                        <div class="mt-3">
                            <h4>John Doe</h4>
                            <p class="text-secondary mb-1">Full Stack Developer</p>
                            <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                            <button class="btn btn-primary">Follow</button>
                            <button class="btn btn-outline-primary">Message</button>
                        </div>
                    </div>
                    
                   
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <label class="label_lb">Tên tài khoản</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control custom-input" value="John Doe">
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="label_lb">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control custom-input" value="john@example.com">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="label_lb">Số điện thoại</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control custom-input" value="(239) 816-9029">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="label_lb">Tên ngân hàng</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control custom-input" value="(239) 816-9029">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="label_lb">Số tài khoản</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control custom-input" value="(239) 816-9029">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <label class="label_lb">Địa chỉ</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="province">Tỉnh/Thành phố</label>
                                        <select id="province" class="form-control" [formControl]="provinceControl">
                                            <option *ngFor="let province of provinces" [value]="province.name">{{ province.name }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="district">Quận/Huyện</label>
                                        <select id="district" class="form-control" [formControl]="districtControl">
                                            <option *ngFor="let district of districts" [value]="district.name">{{ district.name }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="ward">Phường/Xã</label>
                                        <select id="ward" class="form-control" [formControl]="wardControl">
                                            <option *ngFor="let ward of wards" [value]="ward.name">{{ ward.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="label_lb">Họ tên</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control custom-input" value="(320) 380-4539">
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <input type="button" class="btn btn-primary px-4" value="Save Changes">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>