<app-dashboard></app-dashboard>
<div class="container mt-5" style="margin-left: 450px;">
  <div class="card order-detail-card">
    <div class="card-header bg-primary text-white d-flex justify-content-center">
      <h5 class="card-title">Chi tiết giao việc làm</h5>
    </div>
    <div class="card-body p-4">
      <div class="row">
        <div class="col-md-5">
          <section class="customer-info mb-4" >
            <h5>Thông tin nhân viên</h5>
            <p style="margin-left: 15px;"><strong>Tên nhân viên:</strong> </p>
            <p style="margin-left: 15px;"><strong>Số lượng:</strong> </p>
            <p style="margin-left: 15px;"><strong>Giá công khoán:</strong> </p>
            <p style="margin-left: 15px;"><strong>Thời gian bắt đầu công việc:</strong></p>
          </section>
        </div>
        <div class="col-md-1 d-flex align-items-stretch" style="border-left: 2px solid #ddd; margin-left: 30px;"></div>
        <div class="col-md-5">
          <section class="order-summary mb-4">
            <h5>Mô tả việc làm</h5>
            <p style="margin-left: 15px;"><strong>Mã đơn hàng:</strong> </p>
            <p style="margin-left: 15px;"><strong>Tên công việc:</strong> </p>
            <p style="margin-left: 15px;"><strong>Thời gian yêu cầu hoàn thành công việc:</strong></p>
          </section>
        </div>
      </div>
      <div class="customer-info">
        <h5>Mô tả chi tiết yêu cầu việc làm</h5>
        <textarea class="form-control" rows="6" placeholder="Nhập mô tả chi tiết..."></textarea>
      </div>
    </div>
  </div>
</div>
