
<app-dashboard></app-dashboard>

<div class="dashboard-main">

  <div class="container-fluid">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row " style="height: 60px;">
            <div class="col-sm-5 ">
              <h2 style="margin-bottom: 0;">Quản lý lịch sử nhập vật liệu</h2>
            </div>
            <div class="col-sm-7 text-end d-flex align-items-center justify-content-end">
              <!-- <a href="#" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#addAccountModal"
                  style="font-size: 14px;">
                  <i class="material-icons align-middle" style="font-size: 18px;">&#xE147;</i>
                  <span class="align-middle">Thêm Người Dùng</span>
                </a> -->
            </div>
          </div>

          <div class="row">
            <div class="col-md-7"></div> <!-- Dummy column to push the search box to the right -->
            <div class="col-md-5 text-end">
              <div class="input-group mb-3">
                <!-- product.component.html -->
                <!-- <select [ngModel]="selectedCategory">
                    <option value="null" disabled selected>Phân quyền</option>
                    <option *ngFor="let ps of position" [value]="ps.position_id">{{ ps.position_name }}</option>
                  </select> -->
                  <select (change)="filterHistory_Impace()"
                  [(ngModel)]="selectedSortByPrice">
                  <option value="0" disabled selected>Sắp xếp giá tiền</option>
                  <option value="asc">Giá tăng dần</option>
                  <option value="desc">Giá giảm dần</option>
                </select>
                <input type="text" class="form-control" placeholder="Tìm kiếm tên vật liệu..." [(ngModel)]="searchKey"
                (keyup.enter)="filterHistory_Impace()">
              <button class="btn search-button" type="button"
                (click)="filterHistory_Impace()">
                <i class="fa fa-search"></i>
              </button>


              </div>
            </div>
          </div>
        </div>
        <div class="table-container">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Mã thay đổi</th>
                  <th style="width: 100px;">Thao tác với kho</th>
                  <th>Tên vật liệu</th>
                  <th>Mô tả</th>
                  <th>Ngày tạo</th>
                  <th style="width: 120px;">Ngày thay đổi</th>
                 
                  <th style="width: 100px;">Số lượng</th>
                  <th style="width: 150px;">Số lượng thay đổi</th>
                  <th>Giá</th>
                  <th style="width: 120px;">Giá thay đổi</th>
                
                  
          
                  
                 
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let job of list_submaterinput_manage | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">
                  <td style="min-width: 150px;">{{ job.subMaterials.code }}</td>
                  <td style="min-width: 150px;">{{ job.actionType.action_name }}</td>
                  <td style="min-width: 150px;">{{ job.subMaterials.subMaterialName }}</td>
                  <td style="min-width: 100px;">{{ job.subMaterials.description}}</td>
                  <td>{{ job.subMaterials.create_date  | date:'dd/MM/yyyy' }}</td>
                  <td>{{ job.date_input  | date:'dd/MM/yyyy' }}</td>
                 
                  <td style="text-align: right;min-width: 50px; ">{{ job.subMaterials.quantity }}</td>
                  <td style="text-align: right;min-width: 50px; ">{{ job.quantity }}</td>


                  <td style="text-align: right;">{{ job.subMaterials.unitPrice | number: '1.0-3' }}</td>


                 
                  <td style="text-align: right;">{{ job.unit_price | number: '1.0-3' }}</td>
                  

                  

                </tr>
              </tbody>
            </table>
          </div>
        </div> 


        <pagination-controls style="justify-content: right; display: flex;" (pageChange)="currentPage = $event"
          previousLabel="Trang trước" nextLabel="Trang sau">
        </pagination-controls>
        <div class="clearfix" style="justify-content: right; display: flex;">
          <div class="hint-text">Hiển thị <b>{{ (currentPage - 1) * 10 + 1 }}</b> tới <b>{{ currentPage * 10
              > list_submaterinput_manage.length ? list_submaterinput_manage.length : currentPage * 10 }}</b> trong tổng <b>{{
              list_submaterinput_manage.length }}</b> dữ liệu</div>
        </div>


      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoadding" class="loading-overlay">
  <div class="spinner"></div>
</div>