<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm yêu thích</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
      
    </style>
</head>

<body>
    <app-header></app-header>
    <header style="margin-top: 150px;">
        <h1>Sản phẩm yêu thích <i class="fas fa-heart"></i></h1>
    </header>
    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12"
                    *ngFor="let item of wishlistItems | paginate: { itemsPerPage: 4, currentPage: currentPage }; let i = index">
                    <div class="product-card">
                        <img style="cursor: pointer;" class="product-img"
                            [routerLink]="['/product-details', item.product.productId]" [src]="item.product.image"
                            alt="Product Image">
                        <div class="product-info">
                            <h3 class="text-center"><b>{{ item.product.productName }}</b></h3>
                            <h3> Kiểu sản phẩm: {{ item.product.categories.categoryName }}</h3>
                            <p class="price">Giá Tiền: {{ item.product.price | number: '1.0-3' }} VNĐ</p>
                            <div class="actions">
                                <button class="delete-btn" title="Delete" data-toggle="modal"
                                    data-target="#confirmDeleteModal" (click)="setDeleteId(item.id)">
                                    <i class="fas fa-trash-alt"></i> Xóa
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <pagination-controls style="justify-content: right; display: flex;" (pageChange)="currentPage = $event"
        previousLabel="Trang trước" nextLabel="Trang sau" *ngIf="wishlistItems && wishlistItems.length > 0">
    </pagination-controls>
    <div class="clearfix" style="justify-content:  right; display: flex;"
        *ngIf="wishlistItems && wishlistItems.length > 0">
        <div class="hint-text">Hiển thị <b>{{ (currentPage - 1) * 10 + 1 }}</b> tới <b>{{ currentPage * 10 >
                wishlistItems.length ? wishlistItems.length : currentPage * 10 }}</b> trong tổng <b>{{
                wishlistItems.length }}</b> dữ liệu</div>
    </div>

    <div *ngIf="!wishlistItems || wishlistItems.length === 0">

        <div style="background-color: white;">
            <div class="" style="display: flex; justify-content: center; align-items: center; height: 100%;">
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSG53pYn6cpXaiwT_q6IM45P-rXg5dUw67XqRmr9-vtsbMoHnCG"
                    alt="" class="product-img" style="width: 150px; height: 150px; object-fit: cover;">
                <p class="name-product text-center">Không có sản phẩm yêu thích nào ở đây!</p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
        aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận muốn xóa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc muốn xóa sản phẩm yêu thích này không ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger" (click)="deleteSupplier()">Xóa</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <app-footer></app-footer>
    </footer>
</body>

</html>
<!-- loadding man` hinh` -->
<div *ngIf="isLoadding" class="loading-overlay">
    <div class="spinner"></div>
</div>