.product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product img {
    width: 400px;
    height: 300px;
  }
  .name-product {
    display: block;
    width: 100%; /* Adjust as necessary */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  