<app-dashboard></app-dashboard>

<div class="dashboard-main">
  <div class="container-fluid">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row " style="height: 60px;">
            <div class="col-sm-5 ">
              <h2 style="margin-bottom: 0;">Danh mục vật liệu</h2>
            </div>
            <div class="col-sm-7 text-end d-flex align-items-center justify-content-end">
              <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#addProductModal">
                <i class="material-icons">&#xE147;</i> <span>Thêm nguyên vật liệu</span>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-7">
              <div class="input-group mb-3">
              
              </div>
            </div>
            <div class="col-md-5 text-end">
              <div class="input-group mb-3">
                <!-- <select [ngModel]="selectedMaterialName">
                  <option value="null" disabled selected>Kiểu Vật Liệu</option>
                  <option *ngFor="let mt of material" [value]="mt.materialName">{{ mt.materialName }}</option>  
                </select> -->


                <input type="text" class="form-control" placeholder="Tìm kiếm vật liệu">
                <button class="btn search-button" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-container">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>STT</th>
                  <th style="width: 200px;">Thao tác</th>
                  <th>Tên vật liệu</th>
                  <th style="width: 400px;">Kiểu vật liệu</th>

                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let us of products | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">
                  <td>{{ i + 1 + (currentPage - 1) * 10 }}</td>

                  <td class="action-buttons">
                    <a href="#" class="settings" title="Chỉnh sửa" data-toggle="modal" data-target="#editMaterialModal"
                      (click)="getMaterById(us?.materialId)">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                  </td>

                  <td>{{ us?.materialName}}</td>
                  <td>{{ us?.type}}</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <pagination-controls style="justify-content: right; display: flex;" (pageChange)="currentPage = $event"
          previousLabel="Trang trước" nextLabel="Trang sau">
        </pagination-controls>
        <div class="clearfix" style="justify-content: right; display: flex;">
          <div class="hint-text">Hiển thị <b>{{ (currentPage - 1) * 10 + 1 }}</b> tới <b>{{ currentPage * 10
              > products.length ? products.length : currentPage * 10 }}</b> trong tổng <b>{{
              products.length }}</b> dữ liệu</div>
        </div>


      </div>
    </div>
  </div>
</div>


<!-- Modal for Adding User -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="addProductModalLabel">Thêm danh mục vật liệu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="addMaterial()">
        <div class="modal-body">

          <div class="form-group">
            <label for="productName">Danh mục vật liệu mới</label>
            <input type="text" class="form-control" name="materialName" id="materialName"
              placeholder="Nhập tên vật liệu" [(ngModel)]="materialName" required>
          </div>
          <div class="form-group">
            <label for="productName">Tên danh mục</label>
            <input type="text" class="form-control" name="type" id="type" placeholder="Nhập kiểu vật liệu"
              [(ngModel)]="type" required>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-primary">Thêm mới</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal for Editing Product -->
<div class="modal fade" id="editMaterialModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProductModalLabel">Chỉnh sửa kiểu vật liệu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="editMaterialForm"  (ngSubmit)="EditMaterial()" >
        <div class="modal-body">

          <div class="form-group">
            <label for="editProductName">Tên vật liệu</label>
            <input type="text" class="form-control" id="editProductName" formControlName="materialName"
              [(ngModel)]="MaterialData.materialName">
          </div>
          <div class="form-group">
            <label for="editProductDescription">Kiểu vật liệu</label>
            <input type="text" class="form-control" id="editProductName" formControlName="type"
              [(ngModel)]="MaterialData.type">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal for Delete Product -->
<!-- <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
      aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Bạn có chắc chắn muốn xóa nhà cung cấp vật liệu?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
            <button type="button" class="btn btn-danger" (click)="deleteMaterial()">Xóa</button>
          </div>
        </div>
      </div>
    </div> -->
<!-- Modal for Product Detail -->
<div class="modal fade" id="editMaterialModal" tabindex="-1" role="dialog" aria-labelledby="productDetailModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productDetailModalLabel">Product Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <img class="img-fluid" [src]="" alt="Product Image">
          </div>
          <div class="col-md-6">
            <h4></h4>
            <p><strong>Description:</strong> </p>
            <p><strong>Category:</strong> </p>
            <p><strong>Quantity:</strong> </p>
            <p><strong>Price (vnđ):</strong> </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoadding" class="loading-overlay">
  <div class="spinner"></div>
</div>