<app-header></app-header>

   
                
            <div class="responsive-navbar text-center hide an">
                <div class="row">
                    <div class="col-12">
                        <div class="search">
                            <input type="text" placeholder="Tìm kiếm...">
                            <i class="fas fa-search"></i>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6 d-flex flex-column align-items-start res-left">
                                <div class="res-home">
                                    <a href=""><i class="fas fa-house-user"></i>Trang chủ</a>
                                </div>
                                <div class="resproducts">
                                    <a href=""><i class="fas fa-cart-plus"></i>Sản phẩm</a>
                                </div>
                                <div class="res-contact">
                                    <a href=""><i class="fas fa-map-marker-alt"></i>Liên hệ</a>
                                </div>
                                <div class="res-about">
                                    <a href=""><i class="fas fa-address-card"></i>Giới thiệu</a>
                                </div>
                                <div class="about-us">
                                    <a href=""><i class="fab fa-themeisle"></i>Về chúng tôi</a>
                                </div>
                            </div>
                            <div class="col-6 d-flex flex-column align-items-start res-right">
                                <div class="love">
                                    <a href=""><i class="far fa-heart"></i>Yêu thích</a>
                                </div>
                                <div class="res-n">
                                    <a href=""><i class="far fa-newspaper"></i>Tin tức</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <div class="buy-success d-flex justify-content-center align-items-center hide">
        <p>Đặt hàng thành công</p>
    </div>
    <div class="banner">
        <div class="inner">
            <div class="container text-center">
                <p class="title-heading">THANH TOÁN</p>
                <p class="intro"><a href="">Trang chủ</a>/ <a href="">Giỏ hàng</a> /Thanh toán</p>
            </div>
        </div>
    </div>
    <div class="checkout" style="margin-top: 4%;">
        <div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-lg-4">
                    <p class="transport">
                        <p class="tran-heading">1.Thông tin khách hàng</p>
                        <div class="row">
                            <div class="col-3 d-flex align-items-center justify-content-end">
                                <h2>Người đặt</h2>
                            </div>
      
                            <div class="col-8" style="margin-left: 15px;">
                                <input type="text" placeholder="Họ tên khách hàng">
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-end">
                                <h2>Số điện thoại</h2>
                            </div>
      
                            <div class="col-8" style="margin-left: 15px;">
                                <input type="text" placeholder="Số điện thoại khách hàng">
                            </div>
                        </div>
                        <p class="tran-heading">
                            2.Thông tin giao hàng</p>
                        <div class="row">
                            <div class="col-3 d-flex align-items-center justify-content-end">
                                <h2>Người nhận</h2>
                            </div>
                            <div class="col-8" style="margin-left: 15px;">
                                <input type="text" placeholder="Họ tên người nhận">
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-end">
                                <h2>Số điện thoại</h2>
                            </div>
                            <div class="col-8" style="margin-left: 15px;">
                                <input type="text" placeholder="Số điện thoại người nhận">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-6">
                                <select name="calc_shipping_provinces" required="">
                                    <option value="">Tỉnh / Thành phố</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <select name="calc_shipping_district" required="">
                                    <option value="">Quận / Huyện</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <select name="calc_shipping_district" required="">
                                    <option value="">Phường / Xã</option>
                                </select>
                            </div>
                        </div>
                        <input type="text"
                        placeholder="Địa chỉ">
                        <textarea name="" id="" cols="30" rows="20" placeholder="Ghi chú"></textarea>
                    
                    <div class="payment">
                        <p class="pay-heading">3. Phương thức thanh toán </p>
                        <div class="live d-flex align-items-center">
                            <input type="radio" class="radio1" name="ok">
                            <i class="fas fa-truck"></i>
                            <p>THANH TOÁN TRỰC TIẾP KHI NHẬN HÀNG</p>
                        </div>
                        <div class="oline d-flex align-items-center">
                            <input type="radio" class="radio1" name="ok">
                            <i class="fas fa-id-card"></i>
                            <p>THANH TOÁN TRỰC TUYẾN</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style="margin-left: 20px;">
                    <p class="order-heading">4. Đặt hàng </p>
                    <div class="order">
                        <div class="order-intro">
                            <div class="row">
                                <div class="col-3"> <h3><b>Tên sản phẩm</b></h3> </div>
                                <div class="col-3"> <h3><b>Số lượng</b></h3> </div>
                                <div class="col-3"> <h3><b>Đơn giá (vnd)</b></h3> </div>
                                <div class="col-3"> <h3><b>Thành tiền (vnd)</b></h3> </div>
                                
                            </div>
                        </div>
                        <hr style="margin-top: 5px;">
                        <h3 style="margin-bottom: 10px;">VAT (vnd):</h3>
                        <h3 style="margin-bottom: 10px;">Tổng (vnd):</h3>
                        <h3 style="margin-bottom: 10px;">Số tiền đặt trước (vnd):</h3>
                        <h3 style="margin-bottom: 10px;">Số tiền cần thanh toán (vnd):</h3>
                        <hr>
                        <div class="total">
                            
                            <div class="row">
                                <div class="col-4">Tổng cộng:</div>
                                <div class="col-8 text-end tongtatca">2000.000</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn" style="padding: 5px;">Xuất Phiếu Thu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<app-footer></app-footer>
