spring:
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 100KB
      max-file-size: 200MB
      max-request-size: 200MB
  datasource:
#    url: jdbc:mysql://localhost:3306/sep490?useSSL=false
#    username: root
#    password: 12012002

        url: jdbc:mysql://sep490g58db.mysql.database.azure.com:3306/test1?useSSL=false
        username: sep490_g58
        password: Leaddeptrai@
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

  logging:
    level:
      org.hibernate.SQL: DEBUG
      org.hibernate.type: trace
      root: INFO
    pattern:
      console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"  # Định dạng log


  main:
    allow-circular-references: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: Avicii1212002@gmail.com
    password: pgoh noga okam okkx
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  key: 413F4428472B4B6250655368566D597033733676397924426452948404D6351
  time: 3600000  # 1000*60*60 milliseconds
#http://localhost:8080/swagger-ui/index.html


upload:
  file:  # Thay đổi từ "files" thành "file"
#    path: /src/main/java/com/example/demo/Images/
    path: /FE/SEP490/src/assets/product_images/
    extension: jpg,png,jpeg,gif



