
<section id="sidebar" [ngClass]="sidebarVisible ? '' : 'hide'" class="sidebar">
  <a href="" class="brand">
    <i class='bx bxs-home'></i>
    <span class="text">Trang Quản lý</span>
  </a>
  <ul class="side-menu top">
    
    <li>
      <a routerLink="/static-report" routerLinkActive="active">
        <i class='bx bxs-report'></i>
        <span class="text">Thống kê</span>
      </a>
    </li>
    <li>
      <a routerLink="/supplier_management" routerLinkActive="active">
        <i class='bx bxs-group'></i>
        <span class="text">Quản lý nhà cung cấp </span>
      </a>
    </li>
    <li>
      <a routerLink="/job_management" routerLinkActive="active">
        <i class='bx bxs-factory' ></i>
        <span class="text">Quản lý sản xuất </span>
      </a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle">
        <i class='bx bxs-cube'></i>
        <span class="text">Quản lý vật liệu</span>
      </a>
      <ul class="dropdown-menu">
        <li><a routerLink="/submtr_management"><i style="margin-left: -5%;" class='bx bxs-square-rounded'></i>Quản lý nhập xuất</a></li>
        <li><a routerLink="/im_history"><i style="margin-left: -5%;" class='bx bx-history'></i>Lịch sử tác động</a></li>
        <li><a routerLink="/employee_submaterial_management"><i style="margin-left: -5%;" class='bx bx-import'></i>Phân phối vật liệu</a></li>
      </ul>
    </li>
    
    <li>
      <a routerLink="/material_management" routerLinkActive="active">
        <i class='bx bxs-palette'></i>
        <span class="text">Quản lý danh mục</span>
      </a>
    </li>
    <!-- <li>
      <a routerLink="/employee_submaterial_management" routerLinkActive="active">
        <i class='bx bxs-palette'></i>
        <span class="text">Phân phối vật liệu</span>
      </a>
    </li> -->
    <li>
      <a routerLink="/order_management" routerLinkActive="active">
        <i class='bx bxs-shopping-bag'></i>
        <span class="text">Quản lý đơn đặt hàng</span>
      </a>
    </li>
    <!-- <li>
      <a routerLink="/im_history" routerLinkActive="active">
        <i class='bx bxs-file-find'></i>
        <span class="text">Quản lý lịch sử nhập vật liệu</span>
      </a>
    </li> -->
    
    <li>
      <a routerLink="/product_management" routerLinkActive="active">
        <i class='bx bxs-package'></i>
        <span class="text">Quản lý sản phẩm</span>
      </a>
    </li>
    <li>
      <a routerLink="/report_management" routerLinkActive="active">
        <i class='bx bx-error'></i>
        <span class="text">Quản lý lỗi sản phẩm</span>
      </a>
    </li>
    <li>
      <a routerLink="/total_salary" routerLinkActive="active">
        <i class='bx bxs-wallet'></i>
        <span class="text">Quản lý lương </span>
      </a>
    </li>
    <li>
      <a routerLink="/create_order" routerLinkActive="active">
        <i class='bx bxs-notepad'></i>
        <span class="text">Tạo đơn hàng</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">

    <li style="cursor: pointer;">
			<a (click)="onLogout()" class="logout">
				<i class='bx bxs-log-out'></i>
				<span class="text">Đăng xuất</span>
			</a>
		</li>
	</ul>
</section>
