<app-dashboard></app-dashboard>


<section id="content">
	<main>
<div class="table-data">
    <div class="order">
      <div class="head">
        <h3>
        User Administration</h3>
        <i class='bx bx-search' ></i>
        <i class='bx bx-filter' ></i>
      </div>
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Date Order</th>
            <th>Status</th>
            <th>FullName</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
              <p>John Doe</p>
            </td>
            <td>01-10-2023</td>
            <td><span class="status completed">Completed</span></td>
          </tr>
          <tr>
            <td>
              <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
              <p>John Doe</p>
            </td>
            <td>01-10-2023</td>
            <td><span class="status pending">Pending</span></td>
          </tr>
          <tr>
            <td>
              <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
              <p>John Doe</p>
            </td>
            <td>01-10-2023</td>
            <td><span class="status process">Process</span></td>
          </tr>
          <tr>
            <td>
              <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
              <p>John Doe</p>
            </td>
            <td>01-10-2023</td>
            <td><span class="status pending">Pending</span></td>
          </tr>
          <tr>
            <td>
              <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
              <p>John Doe</p>
            </td>
            <td>01-10-2023</td>
            <td><span class="status completed">Completed</span></td>
          </tr>
        </tbody>
      </table>
    </div>
   
  </div>
</main>
</section>