body {
  background: #f8f8f8;
}

.header-bg {
  background-color: #007bff;
  /* Màu sắc nền header */
  padding: 20px 0;
  /* Khoảng cách lề trên và dưới */
  margin-left: 100px;
  /* Khoảng cách lề trái */
}

.input-with-icon {
  position: relative;
}

.input-with-icon input[type="text"] {
  padding-right: 10px;
}

.input-with-icon .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.input-with-icon .icon:hover {
  color: #007bff;
  /* Màu khi hover */
}

/* Ẩn input file mặc định */
#uploadInput {
  display: none;
}

.btn {
  padding: 10px;
  border: none;
}

.btn-mau-do {
  background: #cc4949;
  /* Màu đỏ */
  color: white;
}

// .bg-primary {
//   background-color: #20ec4d !important;
//   /* Màu nền primary */
//   padding: 10px;
// }

// .btn-primary {
//   padding: 10px;
//   background-color: #20ec4d;
//   /* Màu nút primary */
//   border-color: #20ec4d;
// }

/* Màu sắc khác có thể thêm vào theo yêu cầu */

.form-group label {
  font-size: 14px;
}

.form-group_1 label {
  font-size: 14px;
  text-align: center;
  align-items: center;
}

.total-price {
  font-size: 1.2rem;
  /* Makes the font larger than the default */
  font-weight: bold;
  /* Makes the text bold */
  color: #333;
  /* Dark color for better readability */
  padding: 10px;
  /* Adds some space around the text */
  margin-top: 20px;
  /* Adds space above the div */
  background-color: #f8f9fa;
  /* Light background to make it stand out */
  border: 1px solid #dee2e6;
  /* Subtle border */
  border-radius: 5px;
  /* Rounded corners for a modern look */
  text-align: end;
  /* Aligns the text to the right */
  width: auto;
  /* Ensures the div takes up only the necessary width */
  float: right;
}


//css auto complete
.ng-autocomplete {
  width: 100%;
}

.ng-autocomplete ::ng-deep .autocomplete-container {
  box-shadow: none;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
  font-size: 0.875rem;
  display: block;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  font-weight: 400;
  line-height: 1.52857143;
  color: #495057;
  border: 1px solid #dde6e9;
  border-radius: 0.25rem;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .suggestions-container ::ng-deep .item ::ng-deep .row {
  padding: 0.5rem 1rem;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .not-found {
  border: 0;
}

.btn-danger {
  margin-top: 20%;
  height: 40%;
  padding: 10%;
}