<app-dashboard></app-dashboard>

<div class="dashboard-main">

  <div class="container-fluid">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row " style="height: 60px;">
            <div class="col-sm-5 ">
              <h2 style="margin-bottom: 0;">Quản lý yêu cầu khách hàng</h2>
            </div>
            <div class="col-sm-7 text-end d-flex align-items-center justify-content-end">
              <!-- <a href="#" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#addAccountModal"
                  style="font-size: 14px;">
                  <i class="material-icons align-middle" style="font-size: 18px;">&#xE147;</i>
                  <span class="align-middle">Thêm Người Dùng</span>
                </a> -->
            </div>
          </div>

          <div class="row">
            <div class="col-md-7"></div> <!-- Dummy column to push the search box to the right -->
            <div class="col-md-5 text-end">
              <div class="input-group mb-3">
                <!-- product.component.html -->
                <!-- <select [ngModel]="selectedCategory">
                    <option value="null" disabled selected>Phân quyền</option>
                    <option *ngFor="let ps of position" [value]="ps.position_id">{{ ps.position_name }}</option>
                  </select> -->

                <input type="text" class="form-control" placeholder="Mã đơn hàng">
                <button class="btn search-button" type="button">
                  <i class="fa fa-search"></i>
                </button>


              </div>
            </div>
          </div>
        </div>
        <div class="table-container">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Mã đơn hàng</th>
                  <th>Thao tác</th>
                  <th>Ảnh sản phẩm</th>
                  <th>Mô tả</th>
                  <th>Tên nhân viên</th>
                  <th>Vị trí</th>
                  <th>Tên khách hàng</th>

                  <th>Trạng thái</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let job of list_request_customer | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">
                  <td style="min-width: 150px;">{{ job.code }}</td>


                  <td class="action-buttons">
                    <a href="#" class="settings" title="Edit" data-toggle="modal" data-target="#editAccountModal"
                      (click)="getDataRequest(job.requestId)">

                      <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="#" class="settings1" title="Chi tiết" data-toggle="modal" data-target="#productDetailModal"
                      (click)="viewProductDetails(job.requestId)">

                      <i class="fa-solid fa-ellipsis-vertical"></i>
                    </a>
                  <td>
                    
                  <a [href]="job.requestImages[0]?.fullPath" target="_blank">
                    <img class="img_product" [src]="job.requestImages[0]?.fullPath" alt="Ảnh đại diện">
                  </a>
                  </td>
                    


                  <td>{{ job.description }}</td>
                  <td>{{ job.user.username}}</td>
                  <td>{{ job.user.position.position_name }}</td>



                  <td>{{ job.fullname }}</td>

                  <td>{{ job?.status?.status_name }}</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <pagination-controls style="justify-content: right; display: flex;" (pageChange)="currentPage = $event"
          previousLabel="Trang trước" nextLabel="Trang sau">
        </pagination-controls>
        <div class="clearfix" style="justify-content: right; display: flex;">
          <div class="hint-text">Hiển thị <b>{{ (currentPage - 1) * 10 + 1 }}</b> tới <b>{{ currentPage * 10
              > list_request_customer.length ? list_request_customer.length : currentPage * 10 }}</b> trong tổng <b>{{
              list_request_customer.length }}</b> dữ liệu</div>
        </div>


      </div>
    </div>
  </div>
</div>
<form [formGroup]="Accept_Reject_rForm" (ngSubmit)="EditRequestAccept()">
  <div style="margin: 50px 0px 100px 100px;" class="modal fade" id="editAccountModal" tabindex="-1" role="dialog"
    aria-labelledby="editAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editAccountModalLabel">Cập nhật yêu cầu đặt hàng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="approvalStatus">Duyệt đơn hàng</label>
              <div>
                <select [(ngModel)]="selectedStatus" (ngModelChange)="onStatusChange()" formControlName="status_id" class="form-control form-control-lg">
                  <option *ngFor="let st of status_request" [ngValue]="st.status_id" [disabled]="st.status_id === 1">
                    {{ st.status_name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- <div class="form-row">
            <div class="form-group col-md-6">
              <label for="fullname">Mã đơn đặt</label>
              <input formControlName="code"  [readonly]="selectedStatus !== 5" class="form-control form-control-lg"
                     [(ngModel)]="RequestData.code">
            </div>
            <div class="form-group col-md-6">
              <label for="fullname">Tên khách hàng</label>
              <input formControlName="fullname"  [readonly]="selectedStatus !== 5" class="form-control form-control-lg"
                     [(ngModel)]="RequestData.fullname">
            </div>
          </div> -->
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="response">Lí do từ chối đơn hàng</label>
              <textarea formControlName="response" class="form-control form-control-lg" rows="3"
                        [(ngModel)]="RequestData.response"
                        [readonly]="selectedStatus !== 3"></textarea>
            </div>
          </div>
        </div>

     
      <div class="modal-footer">
        <button type="button" class="btn btn-mau-do" data-dismiss="modal" #closeButton>Hủy bỏ</button>
        <button type="submit" class="btn btn-primary">Lưu Thay Đổi</button>
      </div>
    </div>
    </div>
  </div>


</form>

<div class="modal fade" style="margin-left: 100px;" id="productDetailModal" tabindex="-1" role="dialog"
  aria-labelledby="productDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content h-auto">

      <div class="modal-body">
        <div class="container mt-5">
          <div class="card order-detail-card">
            <div class="card-header">
              <h5 class="card-title">Chi tiết đơn hàng</h5>
            </div>
            <div class="card-body" *ngFor="let orderRqDetails of orderRqDetails; let i = index">
              <div class="row">
                <div class="col-md-6">
                  <section class="order-summary">
                    <h2>Thông tin khách hàng</h2>
                    <p>Tên: <span id="customerName">{{ orderRqDetails.fullname }}</span></p>

                    <p>Số điện thoại: <span id="customerPhone">{{ orderRqDetails.phoneNumber }}</span></p>

                    <p>Địa chỉ cụ thể: <span id="customerPhone">{{ orderRqDetails.address }}</span></p>
                  </section>
                </div>
                <div class="col-md-6">
                  <section class="order-summary">
                    <h2>Tóm tắt đơn hàng</h2>
                    <p>Mô tả chi tiết: <span id="orderCode">{{ orderRqDetails.description }}</span></p>
                    <p>Ngày đặt hàng: <span id="orderDate">{{ orderRqDetails.requestDate | date: 'dd/MM/yyyy' }}</span>
                    </p>
                    <p>Trạng thái đơn hàng: <span id="orderStatus">{{ orderRqDetails.status_name }}</span></p>
                    <!-- Assuming paymentMethod is part of the details -->
                    <!-- <p>Phương thức thanh toán: <span id="paymentMethod">{{ orderRqDetails.paymentMethod }}</span></p> -->
                  </section>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <section class="product-details">
                    <table class="table table-striped">
                      <h1>Ảnh sản phẩm</h1>
                      <tbody>
                        <tr *ngFor="let product of orderRqDetails; let i = index">
                          <td>
                            <div class="image-container" style="height: 250px; max-width: 100%; overflow-x: auto;">
                              <div class="image-wrapper" style="display: flex; flex-wrap: nowrap;">
                                <div *ngFor="let image of product.imagesList">
                                  <a [href]="image.fullPath" target="_blank">
                                    <img class="img_product_detail" [src]="image.fullPath" alt="Ảnh sản phẩm" style="margin-right: 10px; max-width: 250px;">
                                  </a>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </section>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoadding" class="loading-overlay">
  <div class="spinner"></div>
</div>