<app-dashboard></app-dashboard>
<div style="margin-left: 19%; margin-top: 5%; margin-right: 3%;">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 mb-4">
          <div class="card bg-primary text-white">
            <div class="card-body">
              <h5 class="card-title">Tổng hàng đã bán</h5>
              <p class="card-text">1,234 sản phẩm</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card bg-success text-white">
            <div class="card-body">
              <h5 class="card-title">Tổng số đơn đã có</h5>
              <p class="card-text">567 đơn hàng</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card bg-warning text-white">
            <div class="card-body">
              <h5 class="card-title">Số đơn đang làm</h5>
              <p class="card-text">89 đơn hàng</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card bg-info text-white">
            <div class="card-body">
              <h5 class="card-title">Nhân viên trong xưởng</h5>
              <p class="card-text">45 nhân viên</p>
            </div>
          </div>
        </div>
      </div>
    </div>
 

  <div class="row">
    <div class="col-md-6">
      <div style="width: 600px; height: auto;">
        <canvas id="canvas">{{chart}}</canvas>
      </div>
      
    </div>
    <div class="col-md-6 " >
      <div style="width: 300px; height: auto;">
        <canvas id="canvas2">{{chart}}</canvas>
      </div>
    </div>
  </div>


  
  <div style="width: 400px; height: auto;">
    <canvas id="canvas3">{{chart}}</canvas>
  </div>
</div>
