.header-chart {
 height: 100%;
}
.custom-bg-primary {
    background: linear-gradient(135deg, rgba(0,123,255,1) 0%, rgba(3, 71, 145, 0.8) 100%);
  }
  
  .custom-bg-success {
    background: linear-gradient(135deg, rgba(40,167,69,1) 0%, rgba(3, 102, 26, 0.8) 100%);
  }
  
  .custom-bg-info {
    background: linear-gradient(135deg, rgb(54, 188, 209) 0%, rgba(2, 111, 128, 0.8) 100%);
  }
  
  .custom-bg-warning {
    background: linear-gradient(135deg, rgba(255,193,7,1) 0%, rgba(156, 118, 4, 0.8) 100%);
  }
  

  