<app-dashboard></app-dashboard>

<div style="margin-left: 19%;margin-top: 1%; block-size: auto; ">
  <div class="container-fluid" >
    <div class="row">
      <div class="col-md-2 mb-4">
        <div class="card custom-bg-primary text-white header-chart">
          <div class="card-body d-flex align-items-center">
            <i class="fas fa-wallet fa-2x me-3"></i>
            <div>
              <h5 class="card-title">Doanh thu: </h5>
              <h2 class="card-text text-center">{{ totalAmouneOrderHaveDone | number: '1.0-3' }} vnđ</h2>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-md-2 mb-4">
        <div class="card custom-bg-success text-white header-chart">
          <div class="card-body d-flex align-items-center">
            <i class="fas fa-boxes fa-2x me-3"></i>
            <div>
              <h5 class="card-title">Chi phí nguyên vật liệu: </h5>
              <h2 class="card-text text-center">{{ totalAmountSubMaterial | number: '1.0-3' }} vnđ</h2>
            </div>
          </div>
        </div>
      </div>
    
      
    
      <div class="col-md-2 mb-4">
        <div class="card custom-bg-warning text-white header-chart">
          <div class="card-body d-flex align-items-center">
            <i class="fas fa-clipboard-check fa-2x me-3"></i>
            <div>
              <h5 class="card-title">Số sản phẩm có sẵn đã hoàn thiện:</h5>
              <h2 class="card-text text-center">{{ totalNormalProduct }} sản phẩm</h2>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-md-2 mb-4">
        <div class="card custom-bg-success text-white header-chart">
          <div class="card-body d-flex align-items-center">
            <i class="fas fa-users fa-2x me-3"></i>
            <div>
              <h5 class="card-title">Tổng lương thanh toán:</h5>
              <h2 class="card-text text-center">{{ salaryYear | number: '1.0-3' }} vnđ</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="card custom-bg-info text-white header-chart">
          <div class="card-body d-flex align-items-center">
            <i class="fas fa-truck fa-2x me-3"></i>
            <div>
              <h5 class="card-title">Số đơn hàng yêu cầu: </h5>
              <h2 class="card-text text-center">{{ totalSpecialOrder }} đơn hàng</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="card custom-bg-info text-white header-chart">
          <div class="card-body d-flex align-items-center">
            <i class="fas fa-star fa-2x me-3"></i>
            <div>
              <h5 class="card-title">Số đơn hàng có sẵn:</h5>
              <h2 class="card-text text-center">{{ totalNormalOrder}} đơn hàng</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  <br>
  <hr>
  <div class="row">
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
      <h2 style="color: #299be4; padding: 1%;">
        <b>Tỉ lệ % nhân viên</b>
      </h2>
      <div style="width: 300px; height: auto;">
        <canvas id="canvas1">{{emmpChart}}</canvas>
      </div>
    </div>
  
   <!-- <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
    <h2 style="color: #299be4; padding: 1%;">
      <b>Đơn hàng</b>
    </h2>
    <div style="width: 300px; height: auto;">
      <canvas id="canvas10">{{chart10}}</canvas>
    </div>
  </div> -->
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
      <h2 style="color: #299be4; padding: 1%;">
        <b>Tỉ lệ % đơn hàng</b>
      </h2>
      <div style="width: 300px; height: auto;">
        <canvas id="canvas2">{{chart2}}</canvas>
      </div>
    </div>
  
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
      <h2 style="color: #299be4; padding: 1%;">
        <b>Tỉ lệ % sản phẩm</b>
      </h2>
      <div style="width: 300px; height: auto;">
        <canvas id="canvas3">{{chart3}}</canvas>
      </div>
    </div>
 
  </div>
  <br>
  <hr>
  <div class="row" >
    <!-- style="width: 600px; height: auto;" -->
      <div class="col-md-6 text-center">
        <h2 style="color: #299be4;padding: 1%;" >
          <b>Thống kê sản phẩm bán được trong năm {{ this.year}}</b>
        </h2>
        <canvas id="canvas4">{{chart4}}</canvas>
      </div>
      <div class="col-md-6  text-center">
        <h2 style="color: #299be4;padding: 1%;">
          <b>Thống kê đơn đặt hàng đã hoàn thành trong năm  {{ this.year}}</b>
        </h2>
        <canvas id="canvas5">{{chart5}}</canvas>
      </div>
      
      

        <h2 style="color: #299be4;padding: 1%;" >
          <b>Thống kê chi phí trong năm {{ this.year}}</b>
        </h2>
        <canvas id="canvas6">{{chart6}}</canvas>
     
  </div>




</div>
<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner"></div>
</div>