<title>Đăng ký / Đăng nhập</title>
<h2>Đăng ký / Đăng nhập</h2>
<div class="container" id="container">
    <!-- Form Đăng ký -->
    <div style="margin-top: 40px;" class="form-container sign-up-container">
        <form (ngSubmit)="registerUser()" #registerForm="ngForm">
            <h1 style="margin-bottom: 20px;">Tạo tài khoản</h1>

            <div class="input-container">
                <label for="username">Tên tài khoản</label>
                <input type="text" id="username" name="username" [(ngModel)]="username" required>
            </div>

            <div class="input-container">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" required>
            </div>

            <div class="input-container">
                <label for="checkPass">Xác nhận mật khẩu</label>
                <input type="password" id="checkPass" name="checkPass" [(ngModel)]="checkPass" required>
            </div>
 
            <div class="input-container">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required>
            </div>

            <div class="input-container">
                <label for="phoneNumber">Số điện thoại</label>
                <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber" required>
            </div>

            <div class="input-container">
                <label for="fullname">Họ tên</label>
                <input type="text" id="fullname" name="fullname" [(ngModel)]="fullname" required>
            </div>

            <div class="row" style="justify-content: center;">
                <div class="input-container col-md-4">
                    <label for="province">Tỉnh / Thành Phố</label>
                    <select id="province" [formControl]="provinceControl" required>
                        <option [ngValue]="null" disabled>Tỉnh / Thành Phố</option>
                        <option *ngFor="let province of provinces" [value]="province.name">{{ province.name }}</option>
                    </select>
                </div>

                <div class="input-container col-md-4">
                    <label for="district">Quận / Huyện</label>
                    <select id="district" [formControl]="districtControl" required>
                        <option [ngValue]="null" disabled>Quận / Huyện</option>
                        <option *ngFor="let district of districts" [value]="district.name">{{ district.name }}</option>
                    </select>
                </div>

                <div class="input-container col-md-4">
                    <label for="ward">Phường / Xã</label>
                    <select id="ward" [formControl]="wardControl" required>
                        <option [ngValue]="null" disabled>Phường / Xã</option>
                        <option *ngFor="let ward of wards" [value]="ward.name">{{ ward.name }}</option>
                    </select>
                </div>
            </div>

            <div class="input-container">
                <label for="address">Địa chỉ cụ thể</label>
                <input type="text" id="address" name="address" [(ngModel)]="address" required>
            </div>

            <button [disabled]="isLoading" >
                <span *ngIf="!isLoading">Đăng ký</span>
                <span *ngIf="isLoading" class="loader"></span>
            </button>
        </form>
    </div>
    <!-- Form Đăng nhập -->
    <div class="form-container sign-in-container">
        <form>
            <h1 style="margin-bottom: 50px;">Đăng nhập</h1>
            <label style="margin-right: 350px;" for="loginUsername">Tên đăng nhập</label>
            <div class="input-container">
              
                <input type="text" id="loginUsername" [(ngModel)]="loginObj.username" name="username" required placeholder="Tên đăng nhập" />
            </div>
            <label  style="margin-right: 350px;" for="loginPassword">Mật khẩu</label>
            <div class="input-container">
              
                <input type="password" id="loginPassword" [(ngModel)]="loginObj.password" name="password" required placeholder="Mật khẩu" required />
            </div>

            <a routerLink="/verifyMail">Quên mật khẩu của bạn?</a>
            <div *ngIf="errorMessage" class="message error">{{ errorMessage }}</div>
            <div *ngIf="successMessage" class="message success">{{ successMessage }}</div>
            <button [disabled]="isLoading" (click)="onLogin()">
                <span *ngIf="!isLoading">Đăng nhập</span>
                <span *ngIf="isLoading" class="loader"></span>
            </button>
        </form>
    </div>

    <!-- Overlay -->
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Chào mừng trở lại!</h1>
                <p>Để tiếp tục kết nối với chúng tôi, vui lòng đăng nhập bằng thông tin cá nhân của bạn</p>
                <button class="ghost" id="signIn">Đăng nhập</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Xin chào, bạn!</h1>
                <p>Nhập thông tin cá nhân của bạn và bắt đầu hành trình cùng chúng tôi</p>
                <button class="ghost" id="signUp">Đăng ký</button>
            </div>
        </div>
    </div>
</div>
